[2019-03-28 15:48] jpivarski opened #172 "Copy the OAMap Parquet samples and make awkward.arrow.fromparquet tests"
The samples can be found here: https://github.com/diana-hep/oamap/tree/master/tests/samples

They cover a lot of cases.

[2020-01-05 15:46] lgray opened #43 "Type of strings and bytes inconsistent iterating manually or in .tolist()"
[code]

results in:
[code]

[code]

results in:
[code]

However:
[code]

results in (similar for strings):
[code]

but:
[code]

results in
[code]

It looks like the underlying behavior is correct but the handling is inconsistent?

[2020-01-05 15:48] lgray commented on #43
The shortest reproducer is:
[code]

which gives:
[code]

[2020-01-06 15:31] #43 closed, assigned to nobody

[2020-01-08 22:29] lgray opened #47 "Incorrrect behavior in FillableArray + Option / ak.Array python constructor"
[code]

Should result in:
[code]
but instead results in:
[code]

Similarly:
[code]
incorrectly yields:
[code]

Minimal reproducer:
[code]

[2020-01-09 00:30] lgray commented on #47
Even stranger outcomes:
[code]
gives:
[code]

[2020-01-09 15:37] jpivarski commented on #47
The incorrect behavior is that missing fields are supposed to be filled with `None`, but weren't (backward in time in your first example, forward in time in the second). The `FillableArray` is supposed to ensure that the `length` of each field is equal to the `length` of the record itself, and without those `None` values, it isn't. If the fields of a `RecordArray` do not have equal lengths, the `R

[2020-01-09 15:39] #47 closed, assigned to nobody

[2020-01-14 14:47] jpivarski opened #50 "IndexedArray::flatten for axis=0"

[2020-01-14 14:49] jpivarski opened #51 "*::flatten and *::count for axis != 0"
All array types, including `IndexedArray` (and `UnionArray`, if it exists when you're ready for it).

Discussion of how to interpret negative `axis` [here](https://github.com/scikit-hep/awkward-1.0/pull/45#issuecomment-573783659).

[2020-01-14 14:50] jpivarski opened #52 "IndexedArray::setidentities"

[2020-01-14 14:50] jpivarski opened #53 "IndexedArray Numba lowering"

[2020-01-14 14:51] jpivarski opened #54 "UnionArray"
Not the SparseUnionArray; leave that for later.

Includes `setidentities` and Numba lowering.

[2020-01-14 14:52] jpivarski commented on #54
And `FillableUnion` → `UnionArray`.

With that, all JSON documents can be converted to Awkward Arrays.

[2020-01-14 14:59] jpivarski opened #55 "SlicedArray"
To protect VirtualArrays from accidentally being read when viewed from above.

Quantified by `start`, `stride`, `length` (because that's more easily composable). Defers to `IndexedArray` when sliced by an array.

Probably need to update [SlicedArray wiki page](https://github.com/scikit-hep/awkward-1.0/wiki/SlicedArray.md).

[2020-01-14 15:00] jpivarski commented on #54
Might need to update [UnionArray wiki page](https://github.com/scikit-hep/awkward-1.0/wiki/UnionArray.md).

[2020-01-14 15:01] jpivarski opened #56 "PartitionedArray"
Fully functional in C++. This is not the `RegularChunkedArray`.

Might need to update the [ChunkedArray wiki page](https://github.com/scikit-hep/awkward-1.0/wiki/ChunkedArray.md).

[2020-01-14 15:03] jpivarski opened #57 "VirtualArray"
Can be passed through C++, but it's only functional in Python.

Have to think hard about how to do this in Numba. Materialize on entry or pass around `PyObject` pointer?

Might have to change (and rename) [VirtualArray wiki page](https://github.com/scikit-hep/awkward-1.0/wiki/VirtualArray.md).

[2020-01-14 15:15] jpivarski opened #58 "BitMaskedArray"
Ironically, `IndexedMaskedArray` (from `FillableArray`) and `BitMaskedArray` (from Arrow/Parquet) are more important than `ByteMaskedArray`. The `ByteMaskedArray` might actually lag behind and not get implemented for a while.

Might need to change the [BitMaskedArray wiki page](https://github.com/scikit-hep/awkward-1.0/wiki/BitMaskedArray.md).

[2020-01-14 15:16] jpivarski opened #59 "UnmaskedArray"
Any Arrow/Parquet data that doesn't have an explicit mask should be an `UnmaskedArray`, so that the data types are uniform.

Might need to change the [UnmaskedArray wiki page](https://github.com/scikit-hep/awkward-1.0/wiki/UnmaskedArray.md).

[2020-01-14 15:20] jpivarski opened #60 "NumPy ufuncs"
Also known as [NEP 13](https://www.numpy.org/neps/nep-0013-ufunc-overrides.html).

[2020-01-14 15:21] jpivarski opened #61 "NumPy functions"
Also known as [NEP 18](https://www.numpy.org/neps/nep-0018-array-function-protocol.html).

[2020-01-14 15:22] jpivarski opened #62 "ak.Array.__getattr__ should pass through Record fields"

[2020-01-14 15:23] jpivarski opened #63 "ak.Array should be a Pandas column type"

[2020-01-14 15:23] jpivarski commented on #62
In both Python and Numba.

[2020-01-14 15:23] jpivarski opened #64 "ak.Array and ak.Record in Numba"

[2020-01-14 15:24] jpivarski commented on #64
And also `ak.FillableArray`.

[2020-01-14 15:28] jpivarski opened #65 "ak.tonumpy and ak.Array.__array__"
This function exists for all types, but raises an error if it cannot immediately be converted to a regular NumPy array (including, possibly, [structured arrays](https://docs.scipy.org/doc/numpy/user/basics.rec.html) and [masked arrays](https://docs.scipy.org/doc/numpy/reference/maskedarray.html)).

A `ListType` that happens to be regular just gets converted without error.

If it's clear how to get

[2020-01-14 15:33] jpivarski opened #66 "Explicit broadcasting functions for jagged and non-jagged arrays and scalars."
Similar to

   * [numpy.broadcast](https://docs.scipy.org/doc/numpy/reference/generated/numpy.broadcast.html)
   * [numpy.broadcast_arrays](https://docs.scipy.org/doc/numpy/reference/generated/numpy.broadcast_arrays.html)
   * [numpy.broadcast_to](https://docs.scipy.org/doc/numpy/reference/generated/numpy.broadcast_to.html)

(or maybe just one or two of them). It should return the same results for

[2020-01-14 15:35] jpivarski opened #67 "Extend `__getitem__` to include jagged and masked arrays in slices."
~~Relies upon #66.~~

Follow `pyarrow.Array`'s behavior for slicing with masked arrays (`IndexedOptionArray`, `BitMaskedArray`, and eventually `ByteMaskedArray`).

Will need to extend `Slice` hierarchy and add jagged and masked cases to `Content::getitem_*`.

[2020-01-14 15:37] jpivarski opened #68 "toarrow and fromarrow"
Similar to the [Awkward ↔ Arrow conversions in Awkward0](https://github.com/scikit-hep/awkward-array/blob/master/awkward/arrow.py), except in C++, rather than Python.

It's a recursive if-elseif-elseif-...-else chain down the list of array node types, replacing each from one library with its equivalent in the other. Conversions from Arrow → Awkward can be zero-copy, now that BitMaskedArray exists,

[2020-01-14 15:51] jpivarski opened #69 "Generic reducer operation"
This is an operation, so it is similar in scope to `Content::flatten`. (Time management: it's one of the hardest; maybe you don't want to _start_ with this.)

The generic reducer operation reduces list depth by 1, much like the `Content::flatten` operation. It takes an array at some depth (`axis` parameter, just like `flatten`), a function of two arguments (maybe templated by array type?), and an

[2020-01-14 15:54] jpivarski commented on #51
See #69 for further discussion of how to interpret negative `axis`.

[2020-01-14 16:02] jpivarski commented on #69
In #51 and [here](https://github.com/scikit-hep/awkward-1.0/pull/45#issuecomment-573783659), I said that negative `axis` should count upward from the first `RecordArray`; that is, `axis=-1` would mean the outermost `ListOffsetArray64` in

![example-hierarchy](https://user-images.githubusercontent.com/1852447/72277720-0cbb8980-35f8-11ea-968e-71abd0960f8a.png)

instead of the innermost `ListOffsetAr

[2020-01-14 16:06] jpivarski commented on #69
Worth mentioning: the existence of reducers will also enable several other essential functions (though they are not themselves reducers):

[code]

[2020-01-14 16:26] jpivarski opened #70 "argmin and argmax"
Like the [NumPy functions of the same name](https://docs.scipy.org/doc/numpy/reference/generated/numpy.argmin.html), these operations return an integer array of the _positions_ of the minimum and maximum values per subarray. (By the way, this is technically not a reducer in the sense of issue #69 and it would have an independent implementation.)

[code]

The old Awkward Array had a different retur

[2020-01-14 16:36] jpivarski opened #71 "isna (formerly: dropna)"
**Edit:** instead of providing the `dropna` operation in C++, it would be sufficient to provide an `isna` (which takes an `axis` and returns boolean at the level of the `axis` as to whether an element is `None` or not). This would be easier to implement and we can do `dropna` as a combination of `isna` and slicing (at the Python level if a convenience function is needed, if at all).

-------------

[2020-01-14 16:39] jpivarski opened #72 "fillna"
Similar to #71, except that it replaces the values of `None` elements, rather than dropping them. (Therefore, list lengths don't change, `RegularArrays` can't change into `ListOffsetArrays`, etc. This is easier than #71.) It's also inspired by a [Pandas function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) and should have the `nan_is_na` option.

Old Aw

[2020-01-14 16:45] jpivarski opened #73 "pad"
This is an operation that turns an array at some level (i.e. has an `axis` parameter) into an OptionType by putting extra `None` elements in until it reaches a given length.

Old Awkward [had an implementation of this](https://github.com/scikit-hep/awkward-array/blob/3442c51ed5dafb7d94f828c6cdc07659f9c03244/awkward/array/jagged.py#L1839-L1888), though it will probably be simpler now. Also, ignore

[2020-01-14 16:50] jpivarski opened #74 "argsort and sort"
At some level (i.e. this has an `axis` parameter), sort the array. Define the `argsort` version in C++ and we can do the `sort` with an array-slice on the Python side.

Sort orders for numbers in NumpyArray are easy to define, but something will have to be done to sort arrays and records as well. Python has an ordering defined on lists:

[code]

but not records (dicts):

[code]

However, our `Reco

[2020-01-14 16:55] jpivarski opened #75 "where"
[numpy.where](https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html) takes three arguments (ignore the single-argument version: it's equivalent to `nonzero` and we can do that other ways):

   * `condition`, a boolean array
   * `x`, any array
   * `y`, any array

and returns a single array with `x` values if `condition` is `true` and `y` values if `condition` is false.

We can do

[2020-01-14 16:56] jpivarski commented on #75
This was a frequently requested feature (see [old issue](https://github.com/scikit-hep/awkward-array/issues/84), also frequently requested in person).

[2020-01-14 17:00] jpivarski opened #76 "concatenate"
Another basic operation, again following [NumPy's naming convention](https://docs.scipy.org/doc/numpy/reference/generated/numpy.concatenate.html).

There was an [implementation of this in old Awkward](https://github.com/scikit-hep/awkward-array/blob/3442c51ed5dafb7d94f828c6cdc07659f9c03244/awkward/array/jagged.py#L1621-L1722), but only for `axis=0` and `axis=1` because all other cases were too har

[2020-01-14 17:12] jpivarski opened #77 "zip"
This is an operation that combines a list (`std::vector`) of arrays (`std::shared_ptr<Content>`) into a `RecordArray` if any member of that list is one-dimensional, and a `ListArray` or `RegularArray` of `RecordArray` for each dimension that all arrays share.

It [existed in old Awkward](https://github.com/scikit-hep/awkward-array/blob/3442c51ed5dafb7d94f828c6cdc07659f9c03244/awkward/array/jagged.

[2020-01-14 17:17] jpivarski opened #78 "argcross and cross"
Implementing `argcross` in C++ is sufficient; we can do `cross` in Python.

This computes a Cartesian product per element. Given a list (`std::vector`) of arrays (`std::shared_ptr<Content>`), it makes a `ListOffsetArray` of `RecordArray` of combinations. For example,

[code]

This and `choose` (issue #79) are the two basic generators of particle combinatorics in HEP analyses.

[2020-01-14 17:28] jpivarski opened #79 "argchoose and choose"
Like #78, it is sufficient to define only `argchoose` in C++; we can add `chose` in Python.

This takes only one array and computes the per-element upper triangle of combinations of that array with itself. It is "choosing without replacement." For example,

[code]

The parameter, `n >= 2`, is the number of fields the output tuples should have. Choosing with `n=3` is different from choosing with `n

[2020-01-14 17:35] jpivarski opened #80 "flatpandas: flatten jaggedness and records into MultiIndex rows and columns"
Like the old `topandas(flatten=True)`.

[2020-01-14 17:59] nsmith- commented on #71
What about `isna`? I feel like `dropna` could just be a composition of `isna` and slicing.

[2020-01-14 18:15] jpivarski commented on #71
This is an excellent point. I had intended to make an issue for `isna` but got lost among all the items. As you point out, if we had an `isna`, we wouldn't need a `dropna` because slicing does that already.

Or... hold that thought. There might be cases inside of `RecordArrays` where it would be very difficult to use slicing. At least, `isna` should be a first priority and we'll see if `dropna` is

[2020-01-14 18:19] jpivarski commented on #63
@mhedges This is a port of what you implemented in Awkward 0.x. I'll be following the example you set. (Thanks!)

[2020-01-15 01:15] jpivarski commented on #51
The `axis` parameter for `count` (a special-case reducer introduced in PR #81) should be handled in the same way as the `axis` parameter for `flatten`. This issue (#51) should add `axis > 0` and `axis < 0` cases to both `flatten` and `count`.

[2020-01-15 01:50] jpivarski commented on #50
Resolved by #81.

[2020-01-15 01:50] #50 closed, assigned to jpivarski

[2020-01-15 15:23] jpivarski commented on #51
@ianna I added a lot of issues yesterday, which cover the gap from the present to the [minimum viable product for users](https://github.com/scikit-hep/awkward-1.0/milestone/4) that is expected at the end of the 6-month sprint. (Every item in the [README checklist for the 6-month sprint](https://github.com/scikit-hep/awkward-1.0#checklist-of-features-for-the-six-month-sprint) has been translated in

[2020-01-15 15:39] ianna commented on #51
Thanks, @jpivarski - Excellent! I thought it was a plan for the end of February :-)

I'm done with **NumpyArray** for ```axis != 0```, not yet ```axis == -1```.  I need to read the issues for the latter.
I am adding more extensive tests and will open a PR either later today or tomorrow morning.

[2020-01-15 15:43] jpivarski commented on #51
Oh, good! With your work on `NumpyArray`, however, I put in some corrections to your initial implementation (PR #45) as part of adding `IndexedArray::flatten` yesterday (PR #81). Specifically, this:

https://github.com/scikit-hep/awkward-1.0/blob/428c3db9745af34798f3f970ffa48e2db009485b/src/libawkward/array/NumpyArray.cpp#L628-L634

It's a potential merging hazard!

[2020-01-15 15:46] ianna commented on #51
No problem, I'll start with a clean area.

[2020-01-15 21:26] jpivarski commented on #52
Finished in PR #82 (@lgray). I'm going to finish issue #53 in the same PR before merging it, though.

[2020-01-15 21:26] #52 closed, assigned to jpivarski

[2020-01-15 22:22] lgray commented on #52
Awesome!

[2020-01-16 02:07] jpivarski commented on #53
Finished in PR #82.

[2020-01-16 02:07] #53 closed, assigned to jpivarski

[2020-01-16 20:43] nsmith- commented on #67
Putting here an example of the pyarrow behavior:
[code]

[2020-01-16 21:20] nsmith- commented on #70
I think for argmax indeed it makes much more sense to reduce the dimension by 1, reflecting the behavior of max.

[2020-01-16 23:45] jpivarski commented on #54
Finished by #84 (except for Numba implementation).

[2020-01-16 23:45] #54 closed, assigned to jpivarski

[2020-01-16 23:47] jpivarski opened #85 "UnionArray in Numba"
PR #84 implements `UnionArray` with `Identities`, but not with a Numba.

How _would_ Numba handle variant data?

[2020-01-17 15:24] nsmith- commented on #78
If I recall, we were going to keep such operations as module methods like `ak.cross(array, array)` rather than as member functions to minimize namespace clashes?  Alternatively we could spend some time finding a synonym for cross.

[2020-01-17 15:33] nsmith- commented on #79
I'd like to propose an additional `axis=` argument to all combinatorics functions, defaulting as usual to `-1`.  For example,
[code]

[2020-01-17 15:36] nsmith- commented on #79
Actually I just realized that right now `axis=1` is the default in awkward0.  The `axis=-1` here would be `a.copy(content=a.content.choose(2))` in awkard0

[2020-01-17 16:00] jpivarski commented on #78
That's right, at the `ak.Array` level, these are not methods but are in the global namespace like `ak.cross`. But for the layout objects (not the data-analyst level), they're methods for convenience. In C++, it's convenient to make them virtual methods because the compiler ensures that we have a method defined (though it might only be a `runtime_error("FIXME")` stub).

[2020-01-17 16:03] jpivarski commented on #79
I don't know whether we need/want the same `axis` default for all functions. For something like `flatten`, the usual case is `axis=0`, but for a reducer, the usual case is `axis=-1`. The first most important thing is that `axis` works the same way/means the same thing for all functions. _Maybe_ they should also have the same default. Maybe not. I don't know how confusing it would be to users if th

[2020-01-21 05:18] jpivarski commented on #60
Finished in PR #86.

[2020-01-21 05:18] #60 closed, assigned to jpivarski

[2020-01-21 05:30] #66 closed, assigned to jpivarski

[2020-01-21 21:59] jpivarski opened #88 "Maybe need to handle OptionTypes before ListTypes in ufuncs"
[code]

[2020-01-23 16:00] jpivarski commented on #88
Moving the OptionType check before the ListType/RegularType check (in PR #89) fixes this.

[2020-01-23 16:01] jpivarski commented on #88
[code]

is also good.

[2020-01-23 16:02] jpivarski commented on #88
Same for

[code]

[2020-01-23 16:15] #88 closed, assigned to jpivarski

[2020-01-23 16:53] jpivarski commented on #88
The original example,

[code]

has the issue that the last subarray has length 0 in `a` but length 1 in `b`. Before ba891f9164d27748b5dab3b105a277d59ebdd768, it tried to broadcast this, but now it's just an error.

With

[code]

it works fine: result is

[code]

[2020-01-24 22:21] jpivarski opened #90 "UnionArray.simplify method, which functions like ak.where can use to output non-unions if possible"

[2020-01-24 23:28] jpivarski commented on #75
Fixed in PR #89.

[2020-01-24 23:28] #75 closed, assigned to ianna

[2020-01-24 23:29] jpivarski commented on #61
Done in PR #89. `ak.where` ↔ `np.where` is the first demonstrating example.

[2020-01-24 23:29] #61 closed, assigned to jpivarski

[2020-01-24 23:37] jpivarski opened #91 "numpy.equal(string, string) is a (working) dummy implementation"
It should become a real implemention (not just working but also satisfying the "no Python loops" rule).

[2020-01-25 23:30] jpivarski commented on #90
Such a function would also improve `ak.concatenate`, which is now defined as a UnionArray. This may be a good general way to do thing: structure-manipulation functions create UnionArrays and the UnionArrays try to simplify themselves however they can.

[2020-01-25 23:32] jpivarski commented on #76
A basic `ak.concatenate` has been implemented in #92, though it will be improved when #90 exists. It also doesn't have an `axis`, but that's coming.

[2020-01-25 23:32] #76 closed, assigned to jpivarski

[2020-01-28 21:50] jpivarski commented on #65
Implemented by PR #92.

[2020-01-28 21:50] #65 closed, assigned to jpivarski

[2020-01-28 21:51] jpivarski commented on #63
Implemented by PR #92.

[2020-01-28 21:51] #63 closed, assigned to jpivarski

[2020-01-28 21:59] jpivarski commented on #71
Implemented by PR #92 (and touched-up by 960baf57f43a638cbd46032d20cf9d972243f9ae). `ak.isna` and `ak.notna` were needed for Pandas.

I'll close this to see if the need for `ak.dropna` ever comes up in practice.

[2020-01-28 21:59] #71 closed, assigned to ianna

[2020-01-28 23:00] #62 closed, assigned to jpivarski

[2020-01-29 03:36] nsmith- commented on #78
Here's an interesting observation: cross is a composition of broadcasting and zip.
Consider the following numpy arrays:
[code]
Then the awkward0 operation `out = a.cross(b)` is equivalent to:
[code]
The `ak.zip` would simplify the last line.
For nested cross, `out = a.cross(b, nested=True)` is even simpler:
[code]

In fact, with the current awkward1 master, nested cross is effectively implemented:

[2020-01-29 12:13] jpivarski opened #95 "Migrate Numba models to have CPointers to fields"
The StructModels that we're using now are all pass-by-value. Since all of the reference counts need to be debugged anyway, let's do that after converting all the field references to pointers.

We've already seen linear scaling with the number of fields in records—unused record fields ight to have no impact on performance.

The conversion can be done on mass by replacing the chutils `proxy_helper`

[2020-01-31 00:33] jpivarski opened #100 "Record should maintain a std::shared_ptr to the RecordArray, not an instance"
Some records have lots of fields, and the specialization has been more trouble than it's worth.

[2020-01-31 01:14] jpivarski opened #101 "Need to distinguish between `ak.classes` for arrays and for records"

[2020-01-31 18:52] nsmith- commented on #71
I'd like to re-open this to make sure `ak.isna` has an axis argument, as discussed in https://github.com/scikit-hep/awkward-array/issues/227

[2020-01-31 19:56] jpivarski opened #103 "Assign fields to records (`__setitem__`), which passes through all other types (including IndexedArray)"

[2020-02-03 21:47] jpivarski commented on #90
Implemented in PR #93.

[2020-02-03 21:47] #90 closed, assigned to jpivarski

[2020-02-03 23:20] jpivarski commented on #100
Finished in PR #106.

[2020-02-03 23:20] #100 closed, assigned to jpivarski

[2020-02-04 14:40] jpivarski opened #108 "ak.isna needs to `simplify` its UnionArray output"
Here:

https://github.com/scikit-hep/awkward-1.0/blob/b644322308f76ad37d7dc2a2bf7ad1af1b1fb608/awkward1/operations/structure.py#L27-L33

[2020-02-04 21:03] jpivarski opened #109 "Numpy::asscalar<T>"
Something like this:

[code]

@lukasheinrich

[2020-02-04 21:22] jpivarski commented on #103
Done in PR #107.

[2020-02-04 21:22] #103 closed, assigned to jpivarski

[2020-02-04 21:29] jpivarski commented on #101
**Maybe...** It might be better to force arrays of X to have a different name in `classes` than records of X.

[2020-02-04 21:49] #109 closed, assigned to jpivarski

[2020-02-04 21:51] jpivarski commented on #109
@lukasheinrich: see 795ff7b2707ffef45930e7421235f9b70dc97ff9

This PR will be closed soon. It's just more time-effective to get a batch done at once.

[2020-02-04 22:06] jpivarski commented on #109
@lukasheinrich Actually, we can't put a template in the .h file without introducing a compilation-dependence. Now see 7a06cac348260dfac8151315010a51517e0b430b

I had forgotten that there was already a `byteptr()` function that all of these could use. If you have some other type not in the list, you can `*reinterpret_cast<T*>(byteptr())` to get it.

[2020-02-04 22:40] jpivarski commented on #108
There wasn't actually anything to fix. That `out` quoted above is not a UnionArray.

But we have a test that goes through this path now, and that's good. (It was broken before.)

[2020-02-04 22:40] #108 closed, assigned to jpivarski

[2020-02-06 00:11] jpivarski commented on #101
Done in PR #110. There's a nice example of it here:

https://github.com/scikit-hep/awkward-1.0/blob/0ab2c573b8237e71e213572a8686bf7a04e2e66d/tests/test_PR110_various_cleanups.py#L20-L63

[2020-02-06 00:11] #101 closed, assigned to jpivarski

[2020-02-06 00:13] jpivarski commented on #91
Done in PR #110. There are two nice examples of it here:

https://github.com/scikit-hep/awkward-1.0/blob/0ab2c573b8237e71e213572a8686bf7a04e2e66d/tests/test_PR110_various_cleanups.py#L78-L115

[2020-02-06 00:13] #91 closed, assigned to jpivarski

[2020-02-06 19:57] jpivarski opened #112 "Refactor pyawkward.cpp"
This needs to become a bunch of small files, in part to reduce compilation times.

But also, it should become a bunch of Python submodules, and I should verify that new Python modules can dynamically link to it and use the same types in C++.

This is relevant for @glass-ships's project.

[2020-02-06 20:37] jpivarski commented on #67
pyarrow doesn't support it, but a logical extension should also do this:

[code]

Of course, "[compress](https://docs.scipy.org/doc/numpy/reference/generated/numpy.compress.html)" is a terrible name, and pyarrow's [compress](https://arrow.apache.org/docs/python/generated/pyarrow.compress.html) function does the more logical thing: lossless compression. However, when these are used in `__getitem__`

[2020-02-07 12:43] jpivarski commented on #74
From https://github.com/scikit-hep/awkward-1.0/pull/99#discussion_r376347495

The `argsort` function produces an array of integers that, if applied as a slice, would sort the array. For any functions that have "arg" versions, we should implement the "arg" version first because it usually makes the "non-arg" version trivial. Here's a NumPy example:

[code]

In the above, if we had an `argsort` alre

[2020-02-07 14:16] jpivarski opened #113 "NumExpr support"
It should be easy now that `_util.broadcast_and_apply` exists. I should do it sometime when I only have a laptop, because it doesn't involve any compilation, just Python.

[2020-02-07 14:29] ianna commented on #74
@jpivarski - thanks! Here is a test of ```argsort``` implemented in Python:

[code]

[2020-02-07 14:34] jpivarski commented on #74
We would want it to sort within arrays, like

[code]

The primary use-case of this is to sort particles within an event (which is why an algorithm that scales well with _n_ is not as important as the constant-time part of set-up and tear-down). Also, operations shouldn't eliminate structure like this—they should do _something_ with it.

[2020-02-07 22:51] jpivarski commented on #67
Step 1 is done (in PR #111):

[code]

[2020-02-08 01:59] jpivarski commented on #67
Step 2 is done (also in PR #111):

[code]

[2020-02-09 06:00] jpivarski commented on #67
And all the jagged slices:

[code]
[code]
[code]
[code]
[code]

[2020-02-09 07:36] jpivarski commented on #67
And jagged mask (almost forgot the most important case!):

[code]

[2020-02-09 07:38] jpivarski commented on #67
This can also have `None`:

[code]

[2020-02-09 10:46] jpivarski commented on #67
Getting `None` values in the inner layer (correctly across jagged boundaries) was more difficult, but it's done now:

[code]

You can even do them at both levels.  `:)`

[code]

So this issue is closed. The `tests/test_PR111_jagged_and_masked_getitem.py` is much more extensive.

[2020-02-09 10:46] #67 closed, assigned to jpivarski

[2020-02-11 04:36] #112 closed, assigned to jpivarski

[2020-02-13 19:08] jpivarski commented on #58
I should do ByteMaskedArray before BitMaskedArray, as preparation. BitMaskedArray is just like it but with the additional complication of having to deal with bits. Probably just generate bytes when needed, leaving direct bit-manipulation as a later optimization.

As soon as ByteMaskedArray is ready, reducers should get a `semigroup` parameter to turn placeholder-identities into `None` (expected fo

[2020-02-13 19:48] jpivarski commented on #58
At that time, also push `None` values in a reduction down to just above the primitive level with ByteMaskedArray, and use that to propagate `Nones` in the result. But it will be much easier with a ByteMaskedArray than an IndexedOptionArray.

[2020-02-15 18:57] jpivarski opened #117 "Rename counts (and counts64) to "sizes" and get the axis right"
(It's important that it's plural: `sizes`!)

This is a follow-on from https://github.com/scikit-hep/awkward-1.0/pull/115#issuecomment-586623849.

Given an array like

[code]

   * `array.sizes(axis=0)` should return `[3, 3]` (as a NumpyArray)
   * `array.sizes(axis=1)` should return `[[5, 5, 5], [5, 5, 5]]` (as a RegularArray/ListArray/ListOffsetArray of NumpyArray)
   * `array.sizes(axis=2)` shou

[2020-02-15 19:03] jpivarski commented on #117
For what it's worth, there's a new `branch_depth` method on all `Content` subclasses that reducers needed for their logic. As it turns out, `minmax_depth == purelist_depth` wasn't right for that case; I had to implement different behavior depending on whether any records or unions cause branches.

https://github.com/scikit-hep/awkward-1.0/blob/395def2a9481bbf07d30d1a37a7875ec619ceba5/src/libawkwar

[2020-02-15 21:38] nsmith- commented on #117
Another possible option is `ak.length` (or plural), one advantage is there is no `np.length` or `pd.length`, making it a bit more orthogonal.

[2020-02-15 21:48] jpivarski commented on #117
True, and we should consider that. Internally in Awkward, however, `length` is always used as the number of elements in an array and `size` is used as the number of elements in each subarray of a RegularArray. The fact that we use this terminology internally isn't a strong argument for presenting a different terminology externally.

The lack of any antecedent in NumPy could be good or bad: it prov

[2020-02-16 05:08] #69 closed, assigned to ianna

[2020-02-16 05:32] jpivarski commented on #85
This will be superseded by #95.

[2020-02-16 05:32] #85 closed, assigned to jpivarski

[2020-02-16 05:32] jpivarski commented on #64
This would get superseded by #95.

[2020-02-16 05:32] #64 closed, assigned to jpivarski

[2020-02-17 07:02] ianna commented on #117
Oh, I remember that. It was implemented as described above, then I extended it to an extra depth to return a one dimensional NumpyArray as in `counts(axis)` from `study/flatten.py`

Either `lengths` or `sizes` is less confusing then `counts`.

Intuitively, I’d say `length` is constant while `size` isn’t, but it’s from Java/C++ world.

[2020-02-17 17:58] ianna commented on #73
@jpivarski - I'm done with ```axis==0```, I think. The auto generated ```Content``` gets padded  without assertions. Here are some thoughts on implementation, please, comment.

 * The ```length``` in ```pad(length, axis)``` can be interpreted as a desired ```length``` of the array, e.g. ```tolength```, or as a padding with ```length``` so that ```array.length() + length == array.pad(length).length

[2020-02-18 14:02] #113 closed, assigned to jpivarski

[2020-02-18 17:00] jpivarski commented on #73
I didn't know that NumPy had a `pad` function, but [there it is](https://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html). That function seems to be for giving image processing applications a little more room for edge effects. It doesn't even have an `axis` parameter.

Our `pad` was introduced because some physics analyses needed it and it was designed for that use-case ([here is the o

[2020-02-21 21:45] jpivarski commented on #55
After a long conversation with Nick, we decided that this functionality should become part of the VirtualArray. I'm updating this on #57.

[2020-02-21 21:45] #55 closed, assigned to jpivarski

[2020-02-21 22:23] jpivarski commented on #57
Outcome of a long conversation with @nsmith-, in which we went through all the consequences of the following:

   * VirtualArrays need to take a callable `Closure` C++ instance as an argument. The `Closure` abstract class will be instantiated for Python as a `PyClosure` (with appropriate data-translation and reference counting) and as a `SlicedClosure` (see below). In principle, pure-C++ closures

[2020-02-21 22:55] jpivarski opened #122 "isvalid as an operation"
It would perform all the tests described in [layouts.ipynb](https://github.com/scikit-hep/awkward-1.0/blob/master/docs/layouts.ipynb); for debugging.

When something goes wrong on a user's system, we can ask, "What happens if you call `isvalid` first?"

[2020-02-25 15:10] jpivarski opened #123 "RecordArray should use `length_` as its length regardless of its `contents_`."
We don't want `length()` queries to scale with `contents_.size()`.

Also, it's simpler: in many cases, an `if-else` branch for picking a constructor can be reduced to just one constructor call.

The reason it was introduced was because in Awkward0, `__setitem__` changed a `Table` in place, so we had to keep checking to find the new length because it could have changed. Now `ak.Array.__setitem__` r

[2020-02-25 21:26] #95 closed, assigned to jpivarski

[2020-02-25 21:58] jpivarski opened #124 "Arrays marked as `"string"` should materialize as strings in Numba"
I want to finish and uncomment this test:

https://github.com/scikit-hep/awkward-1.0/blob/6c70299f12afc17c8d183c799343a571fb62d917/tests/test_0118-numba-cpointers.py#L894-L910

[2020-02-25 23:10] jpivarski opened #125 "The "__typestr__" must not be a data property; it must be a behavior"
Because you really don't want that to be burned into a huge dataset.

[2020-02-25 23:14] jpivarski opened #126 "Awkward0 ↔ Awkward1 translator"
Maybe as one of the "convert" operations.

[2020-02-25 23:21] jpivarski opened #127 "tomask: an operation that creates an OptionType instead of applying a cut"
It has the advantage that it doesn't change the length of the array, maintaining broadcastability of datasets.

[2020-03-03 18:26] jpivarski opened #134 "ak.isin (wrapped as __contains__), or at least a way to check for None"
Motivated by scikit-hep/awkward-array#235.

[2020-03-03 18:41] jpivarski commented on #134
This was based on a misunderstanding. Close it to reduce clutter.

[2020-03-03 18:41] #134 closed, assigned to nobody

[2020-03-04 12:47] jpivarski commented on #68
Most expected users of Awkward ↔ Arrow conversion are using Python, not C++. Writing a converter in C++ is not a performance consideration, but an accessibility one—it allows pure C++ programs to exchange structured data with other programs in the Arrow ecosystem. However, writing it would mean spinning off a separate package, since Awkward can't take on Arrow as a dependency; the Awkward-Arrow pa

[2020-03-04 12:49] jpivarski opened #136 "Serialization protocol in C++"
Since #68 is being scaled back to a Python function, C++ will need _some_ serialization layer. `awkward0.persist` should be ported to C++.

Again, this is not for performance, but for accessibility.

[2020-03-04 16:51] jpivarski opened #138 "EmptyArray should have type "int64" so that jagged integer indexing doesn't fail unexpectedly"
Example: scikit-hep/awkward-array#236, although I'm pretty sure it's happened more than once.

[2020-03-04 16:58] #126 closed, assigned to jpivarski

[2020-03-04 17:58] #138 closed, assigned to nobody

[2020-03-04 21:11] jpivarski opened #141 "Windows wheel puts _io*.pyd, layout*.pyd, and types*.pyd at root level."
This structure is wrong:

[code]

because the three extension modules are both in the Python package _and_ at site-packages root. This would allow `import layout` in addition to `import awkward1.layout`. Worse yet, `import types` might shadow the standard library module!

This needs to be fixed before we get any Windows users.

[2020-03-04 22:37] glass-ships opened #145 "new FillableArray option?"
It looks like the `fillable` directory is no more, which means import statements for `FillableArray` et alia must be adjusted.

What is the appropriate import given these changes?

[2020-03-04 22:42] jpivarski commented on #145
The following names have been changed:

   * `FillableArray` → `ArrayBuilder`
   * `FillableOptions` → `ArrayBuilderOptions`
   * `fillable` (in any other context) → `builder`

It's still early days and @henryiii found the name "fillable" to suggest an already allocated array to which we're inserting values, rather than a thing that grows. I agreed. I also didn't like the way that "Array" suggests

[2020-03-04 22:55] #145 closed, assigned to nobody

[2020-03-04 22:55] glass-ships commented on #145
No worries, that makes a lot of sense. thanks the context as well!

[2020-03-05 01:23] #124 closed, assigned to nobody

[2020-03-05 07:52] tamasgal opened #146 "Which ak.Array constructor signatures should be allowed? e.g. [np.array([1, 2, 3]), np.array([4, 5, 6, 7])]"
Maybe it's too early for such bug reports and I am also not using the latest `master` but `0.1.137` from PyPI but I started migrating and discovered that nested Numpy arrays are causing issues, as seen here:

[code]

[2020-03-05 11:31] jpivarski commented on #146
The latest release and master are not far apart—usually there's no difference between them.

About this error, you gave it a Python list of two NumPy arrays. That pattern isn't convertible to an array, but I suppose it could be. Do you want it to mean a regular array with shape `(2, 3)` or a jagged array of length `2` that happens to have `3` elements in each subarray? It maybe you intended to wri

[2020-03-05 16:53] tamasgal commented on #146
Thanks for the quick answer, as always!

My MWE was a bit too minimal ;) I am dealing with differing array lengths and even nested structures, so wrapping it into a `numpy.array` doesn't work as it yields `dtype=object`:

[code]

But coming back to this `numpy` vs `list` interpretation, I think intuitively I'd expect that something like `[np.array(...), np.array(...)]` would help even more since i

[2020-03-05 17:10] jpivarski commented on #146
Now that you've put different lengths into each subarray, it can't be a "normal" NumPy array and NumPy represents it with dtype `"O"` (an array of pointers to Python objects; useless for accelerating numerical code). So

[code]

can't be an allowed procedure—NumPy has already broken the data before we get to it. On the other hand, maybe what we should do with NumPy `"O"` arrays is just treat them

[2020-03-05 17:24] tamasgal commented on #146
Yes I agree ;) I will think about it.

For numpy `O`-dtypes I wouldn't care too much to be honest. I am just a bit confused about the behaviour of lists (or iterators) of numpy arrays.

I'll walk through the internals of `awkward1` with the debugger, I still need to learn how it works before I can make meaningful suggestions, besides high-level API design requests :wink:

[2020-03-05 17:59] #141 closed, assigned to jpivarski

[2020-03-06 02:53] #125 closed, assigned to jpivarski

[2020-03-06 15:19] #123 closed, assigned to jpivarski

[2020-03-06 16:01] jpivarski opened #149 "User-supplied behaviors shouldn't replace ak.behavior; they should be merged with it."
In this sense:

[code]

Although that might be a lot of dict-copying every time an `ak.Array` gets constructed...

[2020-03-06 16:04] henryiii commented on #149
I think it's a shallow copy (could be made explicit with copy.copy(ak.behavior), and you could skip this step if `user_supplied` is None (assuming you are then okay with changing ak.behavior also changing here - otherwise you always need a copy).

[2020-03-06 16:46] jpivarski opened #150 "High-level Arrays and Records attribute-handling is still swallowing unrelated AttributeErrors"
https://github.com/scikit-hep/awkward-1.0/blob/c953d877a0b46c7faa25cfedf8c41fca4e78b343/src/awkward1/highlevel.py#L85-L98

Missing attributes (e.g. methods) of mix-in classes aren't caught by the `where in dir(super(Array, self))` (because they're superclasses of this array but not superclasses of `Array`).

Maybe `where in dir(type(self))`?

[2020-03-06 16:49] henryiii commented on #150
Note for testing: the swallowed error occurs when calling a method of a mixin causes an unrelated attribute error. So if `.mass` is called, but that throws an attribute error for some other reason (forgetting a subpackage import in my case).

[2020-03-06 16:53] henryiii commented on #150
Using `where in dir(type(self))` seems to stop the error swallowing and it working for me at the moment. A note as to why this check is needed would be a good idea, too, as I don't think I wold have known why it was being done if it wasn't for the fact it wasn't doing what it was supposed to be doing.

[2020-03-06 20:07] #122 closed, assigned to nobody

[2020-03-06 20:15] jpivarski commented on #150
I'm working on this problem and am unable to reproduce it. How is your situation different?

[code]

[2020-03-06 20:21] jpivarski commented on #150
I can't even reproduce it with an Array (or with methods instead of properties, or reversing the order of inheritance...).

[code]

[2020-03-06 20:35] henryiii commented on #150
It only swallows AttributeErrors, since that causes Python to keep looking. Just change ValueError to AttributeError.

[2020-03-06 20:36] henryiii commented on #150
I'd show an example, but I've already applied the fix listed at the top so both of them work for me (but you can tell a small difference in the traceback).

[2020-03-06 20:37] jpivarski commented on #150
Got it:

[code]
[code]

[2020-03-06 20:37] jpivarski commented on #150
Thanks!

[2020-03-06 20:39] henryiii commented on #150
Yes, I get:

[code]

Which is much better.

[2020-03-06 21:37] jpivarski commented on #149
This Mapping applies overrides if they exist and defaults if they don't, without a shallow copy every time. (It happens quite frequently, before every `ak.Array` constructor, and the number of behavioral overrides may be large.)

Also, it enforces the equivalence between missing keys and `None` values, so that an application can't accidentally rely on the distinction. Thus, it is always possible f

[2020-03-06 21:43] #149 closed, assigned to nobody

[2020-03-06 21:43] #150 closed, assigned to nobody

[2020-03-07 04:57] jpivarski commented on #117
Some changes in definition, implemented in #152: (1) I shifted the meaning of `axis` by one, so that it's always describing lengths of the specified axis, rather than one deeper. So in my original example,

[code]

   * `axis=0` now returns `2`, the scalar length of the array;
   * `axis=1` now returns `[3, 3]` (what the old `axis=0` would have returned)
   * `axis=2` now returns `[[5, 5, 5], [5,

[2020-03-09 14:06] #73 closed, assigned to ianna

[2020-03-10 05:03] #51 closed, assigned to ianna

[2020-03-10 05:03] #117 closed, assigned to nobody

[2020-03-10 21:12] jpivarski commented on #80
In the end, there are two functions, `ak.pandas.df` (returns one DataFrame) and `ak.pandas.dfs` (returns several DataFrames). Apart from heterogeneous data (UnionArrays), any Awkward array can be expressed as a _set of DataFrames_, each with a different jagged structure. For example, one table of muons, one table of jets, etc. The `ak.pandas.dfs` function is more general and less convenient. The `

[2020-03-10 21:23] jpivarski commented on #146
Let me know if you're still thinking about this. It's okay to come back to it later.

[2020-03-10 21:30] tamasgal commented on #146
Sorry for the late response:  yes I am still thinking about it. Meanwhile I set up the dev environment and playing around with it and have more questions and ideas already 😉

I think in first place it would be nice if the `fromiter` method would first look up potential valid (not `"O"`) dtypes, so those could be inferred. This would solve that `[[1,2,3], [4,5,6]]` would create the same awkward arr

[2020-03-10 21:46] tamasgal opened #156 "ak.Array constructor from {"key": whole_array}"
In one of my analysis frameworks I introduced a `Table` class, which is a thin wrapper to  `numpy.recarray` and has also a constructor which takes a dictionary as input. It became quite popular among our users due to the ability to quickly create type-safe 2D recarrays. Here is an example

[code]

The inspiration came from Pandas which offers a similar constructor:

[code]

With awkward array, the

[2020-03-10 21:52] jpivarski commented on #146
One thing we should be careful to keep in mind is that `var * float64` is a different type from `N * float64` for some integer `N`—a difference that data analyst users must be aware of—and constructor signatures involving NumPy arrays are for producing `N` types while non-NumPy iterables are for producing `var` types. If NumPy arrays are _inside_ a variable-length container like a Python list, the

[2020-03-10 22:15] jpivarski commented on #156
Actually, I was just thinking about getting to work on #77, the `ak.zip` method, which might be what you're talking about here. That one would be a good first issue.

The signature

[code]

should be forbidden, since the data between parentheses is actually a Record. Let's call that a bug-fix: it shouldn't turn a dict into an array of its keys. The error message should probably point out that if y

[2020-03-10 22:16] jpivarski commented on #77
Note: it's not just tuples.

[code]

[2020-03-10 22:21] jpivarski commented on #77
The `ak.zip([array1, array2, array3])` and `ak.zip({"key1": array1, "key2": array2, "key3": array3})` functions should probably take a `depthlimit` parameter to indicate how many levels of jaggedness to try to combine.

`depthlimit=0` would be a synonym for the RecordArray constructor, which creates top-level fields with whatever jaggedness the fields have unreconciled. `depthlimit=None` should go

[2020-03-10 22:34] jpivarski commented on #156
I'm marking this as a duplicate because it's very similar to what the `ak.zip` function (#77) should provide. It should be a different function from the `ak.Array` constructor because it's doing a very different thing with the data it is given.

[2020-03-10 22:35] jpivarski commented on #78
`ak.zip` is #77, which is related to #156 (so much so that I just labeled them duplicates). Just cross-referencing here because this uses zip.

[2020-03-10 23:06] tamasgal commented on #156
Yes I see, thanks for the feedback!

[2020-03-10 23:07] #80 closed, assigned to jpivarski

[2020-03-10 23:17] jpivarski commented on #156
I'm going to open a PR to handle these constructor issues. I'm not sure how much it will try to address, but there will be a place to look.

   * The `ak.Array` and `ak.Record` constructor bugs (iterating over the dict keys and implementing that FIXME)
   * Make `fromiter` iterate over `py::array` (mentioned in #146)
   * Possibly, but not necessarily, `ak.zip`.

[2020-03-10 23:22] tamasgal commented on #146
The `var` and `N` type thing makes of course perfect sense, I totally forgot about the implications. I just started using `pybind11` in serious projects so my knowledge is very limited. No idea why a NumPy array is not < `py::iterable`, the public docs are also very sparse on it 😉 https://pybind11.readthedocs.io/en/stable/reference.html#_CPPv48iterable

[2020-03-11 14:52] jpivarski opened #158 "Strategy for documentation"
High-quality documentation is a serious need. Uproot has [one big page of tutorial](https://github.com/scikit-hep/uproot#readme) (which doubles as a [Binder-based interactive notebook](https://mybinder.org/v2/gh/scikit-hep/uproot/master?urlpath=lab/tree/binder%2Ftutorial.ipynb)), [readthedocs for references](https://uproot.readthedocs.io/), and [StackOverflow for example-driven questions](https://

[2020-03-11 15:16] jpivarski commented on #77
I had intended to create a PR for this, but accidentally committed to master (too distracted). So instead of linking to a PR, here's the one commit that finished it: 380055244e414f0ce1e6d2446498608a0588fced

[2020-03-11 15:35] jpivarski commented on #77
The [test passed](https://dev.azure.com/jpivarski/Scikit-HEP/_build/results?buildId=1564&view=results), so I'm closing this.

[2020-03-11 15:35] #77 closed, assigned to nobody

[2020-03-11 22:58] #78 closed, assigned to ianna

[2020-03-11 23:40] jpivarski commented on #146
The specific issue you were asking about has been resolved, so I'll be closing this.

[code]

[2020-03-11 23:40] #146 closed, assigned to nobody

[2020-03-11 23:50] jpivarski commented on #156
I really should have linked these issues to the PR. The signature you were asking for is available in `ak.zip`, but it's not an `ak.Array` signature.

[code]

Since Python lists are "array-like," they can be used for small examples:

[code]

It would be confusing to allow this syntax in the `ak.Array` constructor because that constructor argument is interpreted as the inverse of `ak.list`:

[code]

[2020-03-11 23:50] #156 closed, assigned to nobody

[2020-03-12 01:36] jpivarski commented on #78
@nsmith- I wasn't planning to, but in the end, I used your method to implement `cross`, with minor modifications (more low-level functions than `__getitem__`).

Thanks! Your observation really helped!

[2020-03-12 06:46] tamasgal commented on #146
Thank you Jim!

[2020-03-12 15:33] jpivarski commented on #158
@henryiii's class as a JupyterBook: https://henryiii.github.io/compclass-book/week1/0_IntroductionAndLogin

[2020-03-12 15:58] henryiii commented on #158
See my comment here: <https://github.com/scikit-hep/scikit-hep-tutorials/issues/1>.

For a single package, the nbsphinx extensions works well for examples (See [boost-histogram's examples](https://boost-histogram.readthedocs.io/en/latest/notebooks/xarray.html)). For cross-package tutorials, I think JupyterBook would be the best option.

[2020-03-12 16:00] henryiii commented on #158
Note: GitBook is actually the name of an abandoned Open Source software package that I used to make Modern CMake, the CLI11 tutorials, and a few more, and has been replaced by a service. We've been having to migrate away from GitBook; for example the LHCb starter kit was converted to a different technology a couple of months ago.

[2020-03-12 16:04] jpivarski commented on #158
I didn't want to get into the details in the meeting, but I think cross-package tutorials _and_ JupyterBook-based Awkward-only tutorials are a good idea. For the time being, I'm trying to figure out a strategy for the Awkward-only tutorials. I'll be doing a big documentation push pretty soon, and I want to go in the right direction.

Doxygen will be involved, definitely for C++ and probably for Py

[2020-03-12 16:51] jpivarski commented on #158
Well, [JupyterBooks isn't popular](https://trends.google.com/trends/explore?date=all&q=Wikibook,GitBook,JupyterBook). As long as it isn't in danger of going away the way StackOverflow Documentation did, that's the important point.

But supposing the community loses interest in JupyterBook, then we'd be left with documentation in a bunch of Jupyter notebooks, which isn't a major problem. There will

[2020-03-12 17:39] jpivarski commented on #158
Thebelab is nice. It takes 20 seconds to start a kernel for interactivity, which is longer than casual readers will wait, but it doesn't take you away from the page the way a Binder link would.

Maybe the following would work:

   * Host all documentation in the same repo as Awkward itself, i.e. this scikit-hep/awkward-1.0 site (whose name will change to scikit-hep/awkward-array). [This GitHub blo

[2020-03-12 18:02] henryiii commented on #158
JupyterBook is fairly new. And it is basically vanilla, except for optional cell customizations, such as the ability to hide a cell (like a setup cell) in the HTML output; I don't think you'd need those and they wouldn't have a strong effect anyway, and they are just normal cell metadata.

The good thing about JupyterBook, besides the fact you can use the Jupyter Notebooks directly, even directly

[2020-03-12 18:17] jpivarski commented on #158
I'd do it in GitHub Actions if I could move all CI/CD to GitHub Actions. I don't know that I need to do that migration _first_, though.

Reading about this has introduced me to Jupytext, which is great! The plain files that Jupytext uses are more version control-friendly and I wouldn't have to launch a JupyterLab every time I want to edit something (which is a bottleneck for me).

nbsphinx (which

[2020-03-12 18:44] henryiii commented on #158
I've been using Azure for wheels and GHA for docs and tests, and that's been working well. They all run on pretty much the same Microsoft backends and are the configs are mostly the same except for a 1:1 term mapping. I don't think there's harm in selecting the one that best for a particular job. It's only been in the last year or so that we could run on a single system; it used to be a different

[2020-03-12 18:48] henryiii commented on #158
Note for related projects (vector, boost-histogram, etc): This strategy is probably a bit different, since Awkward is using Doxygen instead of Sphinx. If Sphinx is already being used, then nbsphinx is probably the correct choice.

[2020-03-13 02:24] #79 closed, assigned to ianna

[2020-03-13 02:35] jpivarski opened #161 "Add a 'semigroup' parameter to reducers"
When `True`, identity values are covered up by `None`. This is on by default for `min` and `max` (though it can be turned on or off for any reducer).

This feature is mentioned in #58, but ByteMaskedArray (the subject of that issue) is a _prerequisite_ for this parameter. It's much easier to cover up values with `None` when you have a ByteMaskedArray than with an IndexedOptionArray.

PR #143 will

[2020-03-13 02:37] jpivarski commented on #161
Oh, and the reason why I'm writing this: #70 (argmin and argmax) has this issue as a prerequesite. This issue has to be resolved before work can start on that.

[2020-03-13 02:38] jpivarski commented on #68
On second thought, there's this: https://github.com/apache/arrow/blob/master/docs/source/format/CDataInterface.rst

We may have a minimal-dependency way to consume and produce Arrow buffers after all. (Need to check on the status of that from Arrow.)

[2020-03-13 06:19] ianna commented on #68
It looks promising.

[2020-03-14 15:03] jpivarski opened #162 "Layer 3 C++ code must never directly access Index.ptr, NumpyArray.ptr, or RawArray.ptr contents"
Right now, there seem to be no exceptions to the rule that layer 3 (i.e. libawkward.so, as opposed to libawkward-cpu-kernels.so) code never _iterates_ over the raw buffers, but there are a few isolated cases where it accesses the first or last element. These have to be turned into kernels (albeit trivial ones) because when the buffers are hosted on a GPU, any direct access would cause a segmentati

[2020-03-14 15:03] jpivarski commented on #162
It's a bug—a future bug, not a present one, but still.

[2020-03-14 15:10] jpivarski opened #163 "Remember to 'implement axis_wrap_if_negative'"
A lot of operations are using it, but right now it raises a "not implemented" runtime error if the `axis` really is negative. Fixing this would solve it for all of the operations.

[2020-03-16 18:04] #58 closed, assigned to jpivarski

[2020-03-16 18:04] #59 closed, assigned to jpivarski

[2020-03-16 18:04] #127 closed, assigned to jpivarski

[2020-03-16 18:04] #161 closed, assigned to jpivarski

[2020-03-16 18:45] jpivarski commented on #68
My reading of this ([Arrow JIRA ticket](https://issues.apache.org/jira/browse/ARROW-7912) and [pull request](https://github.com/apache/arrow/pull/6040)) is that this human-readable specification is the entirety of the C interface. There's no code other than what we see on the instructions page. We're supposed to copy its [struct definitions](https://github.com/apache/arrow/blob/master/docs/source/

[2020-03-17 01:07] #70 closed, assigned to jpivarski

[2020-03-17 04:15] jpivarski opened #166 "A reducer applied to an axis with None values should preserve the Nones"
So that if a user calls `tomask` instead of applying a cut, the reduced version would be equivalent to event-level variables with the same mask.

Note: it's only a bug if that's not what currently happens. This is just something to check.

[2020-03-17 14:27] jpivarski opened #167 "Why can't I do `array_of_strings == string`?"
It seems I ought to be able to do that, and I distinctly remember writing a test for it.

If the problem is that my new examples are jagged, then that's definitely a problem to fix.

[2020-03-17 15:59] #162 closed, assigned to nobody

[2020-03-17 21:00] jpivarski opened #170 "ak.fromawkward0 should not complain if given an Awkward1 array"
So that scripts based on Uproot 3 with this stepping-stone don't break when Uproot 4 comes along.

[2020-03-17 21:21] jpivarski commented on #72
This was finished in PR #155.

[2020-03-17 21:21] #72 closed, assigned to ianna

[2020-03-18 04:46] #166 closed, assigned to jpivarski

[2020-03-18 04:46] #167 closed, assigned to nobody

[2020-03-18 04:46] #170 closed, assigned to nobody

[2020-03-18 05:14] jpivarski opened #173 "An operation to change the number type"
There's no `astype`, and a general one might want to change such things as non-optiontype arrays into UnmaskedArrays or filter/rearrange the order of record fields. Before we need something like that, though, it would be useful to simply change the leaf types (like what NumPy's `astype` does). Should it be named `ak.withleaftype(array, np.int32)`?

[2020-03-18 05:18] jpivarski opened #174 "Union-type data in Numba"
Currently, union-type data can pass through Numba, but it can't be operated on (`__getitem__`). This is a particularly hard problem because Numba has no dynamic types (unlike C++, which at least has runtime polymorphism/virtual methods). It could be represented by a new `ArrayView` that holds multiple possibilities, some `MultiArrayView`, and it can raise exceptions at runtime if the tag is inappr

[2020-03-18 05:19] jpivarski opened #175 "Bytestrings in Numba"
Encoded strings materialize as a "unicode" type in Numba, but bytestrings are uninterpreted. This is an oversight: bytestrings should get the same kind of treatment as encoded strings.

[2020-03-18 05:24] jpivarski opened #176 "Identities should not be assigned in place"
Instead of `setidentities`, the function should be `withidentities` and it should return a new array object.

Also, there's no high-level interface to identities and minimal testing. But identities are just a little more than a stub right now: they will be needed, will need to be enhanced when needed, and doing that will be much, much easier because they've been included all along and we won't be

[2020-03-18 05:26] jpivarski opened #177 "Parameters should not be assigned in place"
Array nodes should become fully immutable. Removing the `setidentities` and assigning them only in the constructor would involve fixing a few tests.

Also, there's no high-level interface to setting parameters: it's all done through a back door (`.layout`) right now. Parameters are more for framework developers than data analysts, though, so maybe that's appropriate.

[2020-03-18 05:29] jpivarski opened #178 "RedirectArray"
An array type containing a `std::weak_ptr` to another node. This is the only way to make circular references (a data structure that is more general than a DAG).

The value of this `std::weak_ptr` should be the only array node object that is mutable by design. Since Python/C++ has no lazy semantics (like Scala), you have to build the tree without interconnections before attaching the interconnectio

[2020-03-18 05:31] jpivarski commented on #56
This would not be a `Content` type, but something that can hold `Contents` as chunks. Thus, ChunkedArray is always the outermost layer (root of the tree) and can't be nested.

There's also a use-case for chunks at the leaves, which might be handled by an alternative to NumpyArray someday. But that is not this issue.

[2020-03-18 05:33] jpivarski commented on #136
Similar to the [old one](https://github.com/scikit-hep/awkward-array/blob/master/awkward/persist.py), but it doesn't have to be exactly the same. It really should be in C++, and that already limits the possibility of compatibility.

Also, Awkward1 has a different set of node types than Awkward0.

[2020-03-18 05:45] jpivarski opened #179 "A suite of functional methods that compile through Numba"
There would be many opportunities for optimization here: a `filter` used by itself should generate a mask and apply it to the array; if it's used in a chain it should be called as a step in that chain (fusing). Some methods might use ArrabyBuilders in some contexts and masks/indexes in others.

Maybe the interface should follow RDataFrame for user-familiarity. (The code in each block would be Numb

[2020-03-18 09:14] ianna commented on #173
or `ak.leaf_astype(array, np.int32)`?

[2020-03-18 12:44] jpivarski commented on #173
Maybe. The data analyst-level Python names tend to avoid underscores because they slow down typing. Also, whereas you or I think of these nodes as leaves of a tree, that's not the first metaphor that might come to mind during data analysis. A data analysis is more likely to be thinking of these as "the numbers," though some of them are boolean or text characters.

[2020-03-18 13:24] jpivarski commented on #158
From @kratsg: look into "[breathe](https://pypi.org/project/breathe/)" and "[exhale](https://pypi.org/project/exhale/)". It turns Doxygen into Sphinx.

[2020-03-18 15:11] lukasheinrich commented on #158
also see @cranmer's jupyterbook

https://cranmer.github.io/madminer-tutorial/intro

[2020-03-18 15:32] henryiii commented on #158
Also mine: https://henryiii.github.io/compclass I've built GHA to handle running the notebooks and producing the JupyterBook, and no output is saved in the repo. Repo here: https://github.com/henryiii/compclass

[2020-03-19 13:14] jpivarski opened #181 "ak.tomask should accept jagged masks, if it doesn't already"
If it doesn't behave the same as a mask-slice in this regard, it's a bug.

The `broadcast_and_apply` function can probably be used here, with new `implicitleft` and `implicitright` flags set to a non-default `False` to prevent implicit broadcasting.

[2020-03-19 15:27] martindurant opened #182 "build on mac"
I am failing to install from source. The build succeeds, but the resultant file is apparently not found. This may be a .so/.dynlib kind of thing. Logs below.
[code]

[2020-03-19 16:29] jpivarski commented on #182
Hmmm. `awkward.cpython-37m-darwin.so` is not a file that should exist: the extension modules are named `layout`, `types`, and `_io`, and the non-Python dynamically loadable libraries are `libawkward-cpu-kernels` and `libawkward`. (The script is aware that they end in `.dylib`, rather than `.so`.)

Have you tried the full installation command below? (And maybe with `--no-cache`, as there might be s

[2020-03-19 16:45] martindurant commented on #182
I am looking to help out in the project. Not sure what yet, but more python-side (with numba!) than c++, if I can help it.

[2020-03-19 17:02] jpivarski commented on #182
Oh, that's great!

In that case, I suggest the [Development Workflow](https://github.com/scikit-hep/awkward-1.0#development-workflow) instructions. Pip triggers a complete recompilation with every install and there seemed to be no way around that. (It starts by copying files into a clean directory, so it appears to be a new set of C++ sources every time. Pip just wasn't designed for incremental de

[2020-03-19 17:07] martindurant commented on #182
ran OK, but I don't think actually installed in the end; but `localbuild` worked. I can always add the path to PYTHONPATH or link the build dir into site-packages, that'll work.

[2020-03-20 21:26] jpivarski opened #184 "Concatenate for axis != 0"
This was an oversight: it's really needed but I closed the "concatenate" issue (#76) once the function existed, though there's a NotImplementedError in it:

https://github.com/scikit-hep/awkward-1.0/blob/afaa40f3993819d7beac903f701a4a1fb7f69897/src/awkward1/operations/structure.py#L151-L154

This operation is known to be useful from Awkward0; it was even an external contribution (https://github.co

[2020-03-20 21:27] jpivarski commented on #184
I'm calling it a bug because it's not optional, though I suppose that's stretching the terminology.

[2020-03-20 21:29] jpivarski commented on #182
I think this means that the "pip install" build is okay as far as we know (I'd want to try it fresh on a new environment to know if it's really not installing), but I shouldn't recommend the version without `[test,dev]`. Having too many install options is clutter, anyway.

[2020-03-20 21:29] #182 closed, assigned to nobody

[2020-03-24 16:00] jpivarski opened #186 "Remember to introduce proper string-escape sequences in util::quote."
The [util::quote](https://github.com/scikit-hep/awkward-1.0/blob/a4dad4996c03162db1d83f17c1c2d4adb59a1941/src/libawkward/util.cpp#L65-L74) function is supposed to use RapidJSON to add escape sequences to the strings that it quotes. Currently, it just puts quotation marks around the string without inspecting it.

Don't forget this to-do item!

[2020-03-28 21:34] jpivarski opened #192 "ak.to_json/ak.from_json should be revamped/organized for v2"
How can we get the C `FILE` object from a Python file?

This will also require a new function in the `_io` module.

[2020-03-28 21:36] jpivarski commented on #192
The same could be said of ak.tojson: it takes a string to be a file name, not a `FILE`.

[2020-03-29 17:37] jpivarski opened #193 "ak.is_none should have an axis parameter"
And it should probably become a C++ method. It was only implemented in Python because we needed it right away to support Pandas. (That's also why it doesn't have an `axis` parameter—it's a bare minimum.)

Also, none of the "na" functions recognize floating-point `nan` as the same thing as `None`. Pandas seems to be trying to get away from that misidentification, but maybe there are specialized nee

[2020-03-31 12:49] martindurant commented on #192
Ideally there should be a path to use arbitrary python file-like objects, not just C-files. I understand that might come with quite a performance penalty for local files, and you might  want to split the loading code.

[2020-03-31 12:57] jpivarski commented on #192
In that case, I guess it would be using the RapidJSON function that converts to strings; that would be the "performance penalty." It must also be possible to convince RapidJSON to output an iterable of strings (that can be consumed in a memory-efficient way by Python), but I haven't delved into it.

[2020-03-31 12:59] martindurant commented on #192
It is a general point though - I would love to see all of the IO work for remote file-systems via python. That will often amount to processing in-memory bytes objects, but hopefully can use the existing read-block API to avoid having to hold entire files in memory.

[2020-03-31 13:07] jpivarski commented on #192
Maybe the right place to do it is in ChunkedArray (issue #56, which is soon-to-do on my list).

Awkward0 had a ChunkedArray, and it's been causing problems in people's analyses because it's not correctly implemented for all methods. Making it a `Content` type like everything else (i.e. that can be nested anywhere) was too ambitious, and it only really makes sense to have chunkability at the root a

[2020-03-31 13:11] martindurant commented on #192
(or a line terminator, since line-deliminated JSON is extremely common)

[2020-04-02 02:01] jpivarski commented on #158
This is pretty much figured out:

   * Doxygen for C++
   * Sphinx for Python
   * JupyterBooks for tutorials

Of these, the first two are done.

[2020-04-02 02:01] #158 closed, assigned to jpivarski

[2020-04-02 18:17] jpivarski opened #199 "ak.choose MUST be renamed, maybe ak.cross, too"
NumPy has an [np.choose](https://docs.scipy.org/doc/numpy/reference/generated/numpy.choose.html) function and it's something that could conceivably be NEP18-overloaded someday. Awkward can't have an [ak.choose](https://awkward-array.readthedocs.io/en/latest/_auto/ak.choose.html) function that does something different, or we'd never be able to overload NumPy's (and it would be confusing to users, a

[2020-04-02 18:26] nsmith- commented on #199
`ak.combinations` is fine by me, I originally picked `choose` as it is N-choose-k which gives the number of combinations and is slightly shorter, but sadly numpy has stole our name.  For `cross`, how about `ak.cartesian_product`? I might consider this acceptable verbosity since anyway `cross` can be implemented using broadcasting tricks.

[2020-04-02 18:30] lgray commented on #199
I think ak.cross -> ak.outer should work well (np.outer is ak.cross for rectilinear data structures).

ak.choose -> ak.combinations is fine to me and very clear. I like the connection to itertools.

[2020-04-02 18:32] jpivarski commented on #199
[np.outer](https://docs.scipy.org/doc/numpy/reference/generated/numpy.outer.html) doesn't make tuples; it actually multiplies, so it's different. itertools.product, however, makes tuples.

[2020-04-02 18:36] lgray commented on #199
Ah - true it really is the product. I think in the same style, `ak.cartesian` should work well, as Nick was suggesting. I don't think we need to add `_product` onto everything.

[2020-04-02 19:38] nsmith- opened #200 "ak.stack, ak.unstack"
Proposing a new structure operation akin to pandas' [stack](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html) and [unstack](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html) which pivots a record structure to a jagged array and vice versa. The main difference is that we do not have a non-trivial row index, so the `ak.uns

[2020-04-02 20:05] jpivarski commented on #200
I'm not sure if you've been seeing this, but it was asked for.

https://github.com/scikit-hep/awkward-1.0/blob/docs/0198-tutorial-documentation-1/studies/how-to-questions-survey.md

Thanks for making an issue!

[2020-04-02 21:45] jpivarski commented on #199
We're back from the GitHub outage! I'm thinking of going with

   * `choose` → `combinations`
   * `diagonal` → `replacement`
   * `cross` → `product`

The first two seem pretty uncontroversial, and for the third, we have to decide between

   * confusing `product` with multiplication (maybe tab-complete would show that there's both `prod` and `product`?)
   * lack of symmetry with combinations/ge

[2020-04-02 22:30] jpivarski commented on #199
I'm making a few more last-minute renamings on #201 in case anyone would like to chime in. Speak now...

[2020-04-02 23:06] jpivarski opened #202 "ak.minimum, ak.maximum to override np.minimum, np.maximum"
These are often useful in NumPy, and Awkward arrays need more general broadcasting.

[2020-04-03 01:40] jpivarski commented on #199
I will merge all the name changes enacted in #201 tomorrow unless somebody complains.

[2020-04-03 05:06] chrisburr commented on #199
I think this is perfectly acceptable:
* In my opinion `prod` and `product` do the "obvious" thing once you know `awkward1` is aiming to copy `itertools` and `numpy`
* It's unlikely that using the wrong one would give a sensible result

[2020-04-03 07:53] masonproffitt commented on #199
+1 for `ak.cartesian()`, following the style of `np.dot()`, `np.inner()`, `np.outer()`, and `np.kron()`. I agree that `combinations` and `replacement` seem perfectly fine.

[2020-04-03 11:37] jpivarski commented on #199
It is possible for `ak.product` and `ak.cartesian` to both exist as synonyms (a fact that, if suspected, is easily checked if one of them `is` the other). I'm holding out the possibility that `ak.tolist` will someday be added as a synonym for `ak.to_list`. In that case, the question is whether `ak.product` would exist first with the option to add `ak.cartesian` or vice-versa.

(I'm not going to ad

[2020-04-03 13:26] lgray commented on #199
I think `ak.product` is too close to `ak.prod`, in letter space and that makes them want to be close in concept space. If some one just types 'product' programming away they're probably gonna expect multiplication first, if they're coming from numpythonic background. It will make sense to itertools users, but that might not be the largest cross section of people this package encounters.

`ak.carte

[2020-04-03 14:04] jpivarski commented on #199
How does everyone else feel if I make it `ak.cartesian` first with the option of possibly later adding `ak.product`? With `ak.cartesian` being first, this also means that all the documentation and tutorials will say `ak.cartesian`, leading users in that direction. There would also be some resistance against adding a synonym for the reason Lindsey described, and just because synonyms are hard to ge

[2020-04-03 15:46] jpivarski commented on #199
It sounds like everybody's okay with `ak.cartesian` and some are actively for it. I'll change to `ak.cartesian`; that will be the primary (and probably only) name for this function.

[2020-04-03 17:29] jpivarski commented on #199
Going, going, gone!

(It's `ak.cartesian`.)

[2020-04-03 17:29] #199 closed, assigned to nobody

[2020-04-03 19:30] nsmith- commented on #200
Interestingly, `ak.concatenate` with `axis=-1` would be implementable with `ak.stack(ak.zip([a, b, c]))`.  For other axes, I think the more generalized pandas `pivot` method would need to be implemented: it can map an arbitrary set column index levels to new row index levels.

[2020-04-06 20:56] jpivarski commented on #70
Also relevant: the new `ak.singletons` function in #198. This is needed to turn the `ak.argmax` output into something that can select one object from each list.

Maybe there will also need to be a convenient syntax for it, since the examples in the tutorial are looking like:

[code]

[2020-04-08 12:42] jpivarski commented on #202
No need: `np.minimum` and `np.maximum` are ufuncs, so it already works.

[code]

[2020-04-08 12:42] #202 closed, assigned to nobody

[2020-04-08 12:44] jpivarski commented on #181
It already does: [in the documentation](https://awkward-array.readthedocs.io/en/latest/_auto/ak.mask.html),

[code]

[2020-04-08 12:44] #181 closed, assigned to nobody

[2020-04-08 12:45] jpivarski commented on #163
The documentation says this is an existing feature, but it is not. It should be implemented soon.

[2020-04-08 12:55] jpivarski opened #203 "Simplify min/max by another quantity through wrapper functions"
[The technique described here](https://nbviewer.jupyter.org/github/jpivarski/2020-04-08-eic-jlab/blob/master/2020-04-08-eic-jlab-EVALUATED.ipynb#Reducing-from-combinations) works and is fully general, but confusing and more intricate than a data analyst should have to deal with when they just want to min/maximize by some parameter.

Perhaps there should be a `ak.minby` and `ak.maxby` pair to do al

[2020-04-08 13:08] jpivarski opened #204 "ak.cartesian and ak.combinations should make an IndexedArray for axis > 0 as well"
The `axis=0` case already does this (because arrays are long), but the other cases probably should, too, since combinatorics in the wild ends up duplicating many record fields when only a couple are desired.

In `ak.combinations`, the fix goes [right here](https://github.com/scikit-hep/awkward-1.0/blob/8215351f09de3773b14318815538ec0faaeb6235/src/libawkward/array/ListOffsetArray.cpp#L1514).

In `a

[2020-04-08 17:29] jpivarski commented on #204
Or maybe this could be fixed in one swoop by having RecordArray always create an IndexedArray instead of [carrying](https://github.com/scikit-hep/awkward-1.0/blob/8215351f09de3773b14318815538ec0faaeb6235/src/libawkward/array/RecordArray.cpp#L439-L454), or only carry if the number of fields is small (1?).

Since that affects everything with RecordArray in it, the unit tests would quickly identify a

[2020-04-10 18:42] swang373 opened #205 "TypeError when introspecting ak.highlevel.Record"
I see the following TypeError when calling `dir()`  on instances of `ak.highlevel.Record`:

[code]

I can reproduce the exception by running the following snippet on:
* macOS 10.15.4, Python 3.8.2, awkward1==0.2.10
* Ubuntu 18.04, Python 3.7.4, awkward1==0.2.10

[code]

The traceback leads me to the implementation of `Record.__dir__`:
https://github.com/scikit-hep/awkward-1.0/blob/8215351f09de3773

[2020-04-10 18:51] jpivarski commented on #205
I think you're right: this is a copy-paste error. I checked for additional errors of the same kind, but didn't find any. If this passes CI, I'll release a new bugfix version.

Thanks!

[2020-04-10 19:07] swang373 commented on #205
Thanks, Jim! A votre santé 🍻

[2020-04-10 19:43] #205 closed, assigned to nobody

[2020-04-11 03:26] veprbl opened #207 "release tarball is missing files"
The current release tarball
https://files.pythonhosted.org/packages/24/81/9798b934e4c9313abb5d4ffe8af86f7a5cf87eb873de463b294813518eea/awkward1-0.2.11.tar.gz
is missing requirements-docs.txt and requirements-dev.txt, which are still required by setup.py

[2020-04-11 13:26] #207 closed, assigned to nobody

[2020-04-11 13:28] jpivarski commented on #207
Thanks for pointing this out! I'll be pushing a version 0.2.12 soon; that one should be okay.

By the way, is there a reason you're compiling from source? What combination of OS and Python version do you have—is it failing to find a binary wheel for you?

[2020-04-11 13:31] jpivarski commented on #207
When [this build](https://dev.azure.com/jpivarski/Scikit-HEP/_build/results?buildId=1801&view=logs&j=4a2b32f2-8889-5075-9c47-2644e2b42452) is done, version 0.2.12 will be [on PyPI](https://pypi.org/project/awkward1/).

[2020-04-11 14:35] veprbl commented on #207
@jpivarski I maintain `awkward1` in nixpkgs https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/python-modules/awkward1/default.nix , was trying to bump the version to see if it fixes the tests.

[2020-04-11 14:42] veprbl commented on #207
The failure I am dealing with right now:
https://hydra.nixos.org/job/nixpkgs/trunk/python37Packages.awkward1.x86_64-linux

My last time I bisected the problem to find that https://github.com/NixOS/nixpkgs/commit/aecc14b52b08b59f57595a9968cf22def0f9bb7b was where awkward1 first broke for us.

[2020-04-11 15:14] jpivarski commented on #207
You will have to bump the Awkward version number: 0.1.38 will not work on recent versions of Numba.

   1. Early this year, Numba changed the name of the `numpy_arange_1` function, which they considered not part of the public API. I was using it, it broke, and I adjusted. (I can't easily find the version where I fixed it, but that's moot for reasons below.)
   2. I [showed how I was using Numba's

[2020-04-11 15:15] jpivarski commented on #207
Awkward 0.2.12 is [on PyPI](https://pypi.org/project/awkward1/). Does it work for you?

[2020-04-11 15:49] veprbl commented on #207
Yes, this issue is resolved by 0.2.12. Thank you!

I've pushed a bump to 0.2.12, and it seems to work fine on linux. However I still get errors on macOS
https://gist.github.com/veprbl/60e1ffb1374a5ae617651ef57675d320
Looks like some RTTI problem.

[2020-04-11 15:56] jpivarski commented on #207
What is RTTI? I don't recognize this "missing boxer for subtype..." error.

[2020-04-11 15:58] veprbl commented on #207
@jpivarski
https://en.wikipedia.org/wiki/Run-time_type_information
https://github.com/scikit-hep/awkward-1.0/blob/7bf1434f28fdb669a0e1cc4fbd1c11aa840458d3/src/python/layout/content.cpp#L122

[2020-04-11 17:30] jpivarski commented on #207
Thanks for finding it—I didn't recognize my own error message. (I was searching the web for it!)

So it looks like `dynamic_cast` will always fail if the compiler has RTTI disabled, and that's probably what's happening here. I'm looking into ways of ensuring that RTTI is always enabled in CMake. In my continuous integration, it's apparently enabled in all three systems: Linux, MacOS, and Windows.

[2020-04-13 06:11] veprbl opened #211 "typeinfo mismatch in separate Python extension modules that both produce Awkward Arrays"
This issue is to document test failure reported in https://github.com/scikit-hep/awkward-1.0/issues/207#issuecomment-612451163 . From the looks of it, this is an instance of https://github.com/pybind/pybind11/issues/912.

### Context
Everything presented here is done with MacOS 10.14 + nixpkgs (5c72e8416984879bd7bd884a392b7c915c28171a).
[code]

The following options are unset, which, I guess, is t

[2020-04-13 13:36] jpivarski commented on #211
Wow—this is incredibly detailed! Thanks!

In the pybind11 issue that you linked, there was a suggestion to set dlopen flags to `os.RTLD_NOW | os.RTLD_GLOBAL` instead of `os.RTLD_NOW` before loading the extension module. Does this work as a work-around?

In #209, I'm combining all of Awkward's extension modules into one, but this problem would reemerge for dependent projects written in C++ with Pyt

[2020-04-13 15:48] ihnorton commented on #211
Cross-linking some discussion from the ITK library dealing with this issue a few years ago (it looks like you've already gone down much the same path in 209, but could help w/ the separate module issue here):

- https://insightsoftwareconsortium.atlassian.net/browse/ITK-3490 (esp the linked article:  http://www.russellmcc.com/posts/2013-08-03-rtti.html)
- https://review.source.kitware.com/%23/c/21

[2020-04-13 18:43] jpivarski commented on #56
Since this array type can only be used at the root of a structure, unlike [Arrow's ChunkedArray](https://arrow.apache.org/docs/cpp/arrays.html#chunked-arrays), it should have a different name to avoid confusion with Arrow's. This root-level chunking is called

   * Record batches (Arrow)
   * Row groups (Parquet)
   * Clusters (ROOT)
   * Partitions (Spark)

I think "partitions" is the least jargo

[2020-04-13 18:59] veprbl commented on #211
I did not check, but I believe it would work. Enabling `RTLD_GLOBAL` is bound to cause some obscure platform-dependent bugs in the future, so I don't think we need to investigate this.

[2020-04-16 15:05] jpivarski opened #213 "Need to define "consistent, but not equal, types""
Currently, PartitionedArrays require all partitions to have identical high-level types. This can be loosened to any arrays that are `Content::mergeable` (but compared at the level of `Type::`). Given an equivalence class of mergeable types, there is a "broadest" member of that set, and all members can be expanded to meet those requirements (e.g. by simplifying unions of numbers and by wrapping arr

[2020-04-17 22:31] jpivarski opened #215 "Access "numpy" module through indirection on the array at hand, to replace with "cupy""
This is a step that will be needed to prepare the Python code for GPUs, as it uses a bit of NumPy to manipulate arrays in a few operations (particularly those that had to be written quickly, at the last minute, but it was pretty much necessary for something as complex as broadcasting). Like Awkward0, we shouldn't be accessing the `numpy` module directly if we want to automatically swap it out for

[2020-04-17 22:31] jpivarski commented on #215
It's a "bug" because it _will_ be a blocker for the GPU backend.

[2020-04-17 22:46] Ellipse0934 commented on #184
I want to work on this. I think a specialized C++ method which concatenates two arrays at a time with Python calling it repeatedly for all input arrays should do it.

Writing it in Python as a recursive function:
[code]
[code]
To use a iterative solution instead of a recursive one we will need to track the index at each depth. At each depth we need to rewrite the Array's `Index` and `Content` and

[2020-04-17 23:31] jpivarski commented on #184
This is the correct behavior, and you're right that it should be recursive. The identities should be `Identities::none()`, so that's easy, and the parameters should probably be the parameters of the first array. I should think about what the policy should be when combining arrays with different parameters, and maybe introduce a function that merges them in a standardized way.

You're also right th

[2020-04-17 23:36] jpivarski commented on #203
This is a "good first issue" because it's pure Python, wrapping up the singleton/firsts business in the advanced part of this tutorial:

https://github.com/jpivarski/2020-04-08-eic-jlab#readme

into a more convenient function. I'm favoring the `array.pick[...]` approach, which would use `ak.singletons` to expand the output of `ak.argmax` into the right form for jagged integer indexing, and then th

[2020-04-17 23:40] jpivarski commented on #193
This would be a "good first issue" for developers who want to delve into C++. This function has a straightforward output—booleans at some level of depth—but more importantly, it only involves one input array and therefore avoids broadcasting.

There are a number of rules to follow when adding an operation in C++, such as never accessing a buffer's data directly—it has to go into a new cpu-kernels

[2020-04-17 23:43] jpivarski commented on #172
This is a "good first issue" because it's a fairly easy exercise in writing tests, but we would need some `ak.from_parquet`, first. Such a function doesn't exist. Maybe that should be a "new feature" issue. It might be covered under #68.

[2020-04-17 23:44] jpivarski commented on #68
I can't make it an "assignment," but @trickarcher is actively working on this.

[2020-04-19 15:29] #56 closed, assigned to jpivarski

[2020-04-20 12:53] tamasgal opened #219 "Add a warning about Numba and Python 3.5 compatibility."
The problem I encountered is that `numba.core.typing` is not present e.g. in numba v0.47 which is the latest for Python 3.5.

I found the corresponding commit: https://github.com/scikit-hep/awkward-1.0/commit/3df1e14622cdc1f7561914252f19f5b39ffde2ae

This was probably not caught by the awkward1 test suite. Here is the error which came up in my library:

[code]

I thought making a PR which replaces

[2020-04-20 14:00] jpivarski commented on #219
That's true, and I punted on supporting Numba with Python 3.5. Since Numba is not an explicit dependency of Awkward, I couldn't put it in the requirements.txt, but the "dev requirements" includes

[code]

What you're seeing is that

   * Numba moved the locations of most of the classes and functions useful for extensions like ours to present a more stable public API. This was, in a large part, ins

[2020-04-20 14:03] jpivarski commented on #219
I changed the name of this issue because what I plan to do with this is to make Awkward complain on entry (the `awkward1._connect._numba.register` function) if the Numba version is less than 0.49, which would always be true for Python 3.5.

It won't complain on import (so that the mere existence of an old Numba doesn't break Awkward), but when you attempt to use an array in a Numba function.

[2020-04-20 14:04] tamasgal commented on #219
Alright, yes I was aware of these changes and the dependency issues. Just wanted to let you know that this bubbles up in an inconvenient way, but thanks for the summary!

OK that sounds fine!

[2020-04-20 14:55] tamasgal opened #221 "Status of Numba support"
Sorry if I miss some obvious information: I just worked through the demo notebook for Numba developers (https://github.com/scikit-hep/awkward-1.0/blob/master/docs-demo-notebooks/2020-01-22-numba-demo-EVALUATED.ipynb) and could not run the numba example. I also was not able to install the exact version required as it is not on PyPI (`pip install 'awkward1==0.1.87'`), so I tried one above and one be

[2020-04-20 15:02] jpivarski commented on #221
The demo explicitly requires an old version of Awkward (what was current at the time of the demo, which is entirely replaced now) and implicitly requires a <0.49 version of Numba, because we didn't know the change was coming.

[2020-04-20 15:11] tamasgal commented on #221
Yes, I think I also tried Numba 0.47 and Awkward1==0.1.92 and 0.1.38 but I could not get it work. I did not make the effort tot install the mid-version though 🙈

Anyways, is there a new method to invoke this functionality or is this currently under reconstruction?

Edit: forgot to mention that I also looked at the tests but I could not find an obvious way how to utilise the Numba functionality. I

[2020-04-20 15:17] jpivarski commented on #221
I just checked your code sample, copied from the notebook.

[code]

Now the inverse is true—it only works for ak.Array and not the layout nodes. The Awkward-Numba interface was entirely rewritten after that talk, responding to feedback from the Numba team. (Now we're not even passing layout nodes through Numba; it's more of a pointer starting from the root of the ak.Array because this avoids copyi

[2020-04-20 15:30] tamasgal commented on #221
Indeed, omg that's a bit embarrassing. Of course I first tried to naively use them in Numba, which failed (surely my mistake) then searched for the docs and fixated on the Layout-stuff.

Thanks! Also for the new demo :)

[2020-04-20 15:30] #221 closed, assigned to nobody

[2020-04-20 16:04] zinebaly opened #222 "ak.count with axis=0 is producing invalid arrays"
I am trying to count the number of elements in a nested data structure using `awkward1.count` following the [docs](https://awkward-array.readthedocs.io/en/latest/_auto/ak.count.html), I tried to apply different `axis` values to count elements at different levels of nesting.

[code]

Here is how I proceed:

[code]
1) Counting the outermost level of nesting: `axis=0`

I tried the following to get th

[2020-04-20 17:36] jpivarski commented on #222
What you're showing is consistent with the original `fit` array being malformed—having `starts` and `stops` that point beyond its `contents`. The `repr` will fail if this is the case. You might want to try

   * [ak.is_valid](https://awkward-array.readthedocs.io/en/latest/_auto/ak.is_valid.html): returns False if malformed.
   * [ak.validity_error](https://awkward-array.readthedocs.io/en/latest/_a

[2020-04-20 17:58] jpivarski commented on #222
Regarding the new title, it's this line

[code]

that I'm worried might be producing invalid arrays, and it's probably taking the `ak.from_iter` path.

[2020-04-20 18:01] jpivarski commented on #222
I just noticed that you do, in fact, provide data. Triaging now.

[2020-04-20 18:09] jpivarski commented on #222
I was wrong. `ak.from_iter` is producing valid arrays; `ak.count` with `axis=0` is producing invalid ones.

[code]

and we see crazy values in the ListArray's `starts` and `stops` by looking at the low-level layout:

[code]

(Sometimes those 500-ish numbers are like `94008244174849`.) Looking into it.

[2020-04-20 18:57] zinebaly commented on #222
Sorry my issue was probably too cluttered with lots of unecessary information.

But the main problem is that both `ak.count` and `ak.count_nonzero` seem to provide invalid outputs when used with `axis=0` and `axis=1` when the data had 2 levels of nesting.

[2020-04-20 19:00] jpivarski commented on #222
In fact, all reducers do; it shows up when `axis` is less than the nesting depth and there are trailing empty lists in the output. The `starts` and `stops` of the trailing lists were left uninitialized, rather than being set to equal values (indicating an empty list).

I just fixed it. Actually, the new system is quite nice to debug! Since there are for loops at the deepest level, I can insert pri

[2020-04-20 19:04] zinebaly commented on #222
Oh great! Thank you very much for the prompt reply! I will test the fix :)

Looking forward to the official release of version 1 of `awkward1` :)

[2020-04-20 19:15] #222 closed, assigned to nobody

[2020-04-20 19:18] jpivarski commented on #222
It will be in the next release, which will probably wait for #216. I'm deploying releases a little less often than I used to because these include a lot of binaries and PyPI is instituting a quota.

What you want for your analysis/framework is probably not `ak.count` with `axis=0`. I don't know exactly what you want to do, but it probably involves `ak.num`.

[2020-04-21 09:05] zinebaly commented on #222
What I needed for my analysis is `ak.count` with `axis=2`, which is already working fine. But when I noticed that `ak.count` with `axis=0` and `axis=1` seemed buggy, I thought I should report it. That's all :)
So basically I am not stuck in my analysis, so no worries :)

[2020-04-21 11:36] jpivarski commented on #222
Okay, good. You might want to write `axis=-1`, which will always be the last one, no matter how deep.

Negative axis has been implemented for reducers and will be for everything else, but some of them rely on a soon-to-be-written function.

Thanks for reporting the issue!

[2020-04-21 15:20] zinebaly opened #225 "index method seems to always return zero when the element used is an awkward1 Array"
I have been trying to use the `index` method, but it seems to always return 0.

Here is how I proceed:

[code]
any ideas why this is happening?

Thank you.

ping @tamasgal

[2020-04-21 15:23] tamasgal commented on #225
I am not sure how `index()` is implemented but if it's using `==`, I assume that it chokes on the `ValueError` which is raised when comparing two arrays with different shapes.

[code]

[2020-04-21 15:26] jpivarski commented on #225
I didn't realize that ak.Array had inherited `index` from `collections.abc.Sequence`, but it shouldn't. As @tamasgal pointed out, it uses `==`, which a NumPy-like thing would use to produce an _array_ of results, which satisfies the truthiness because it's not an empty array.

I'm going to remove `Sequence` as a mixin from ak.Array. After all, NumPy arrays aren't `Sequences` (for the same reason).

[2020-04-21 15:42] tamasgal commented on #225
Yep, the catch is really that the truthiness of an array is not an `all(...)`.

@zinebaly I'd recommend to implement a numba JITted function, that should be fairly straight forward.

[2020-04-21 15:52] tamasgal commented on #225
Yep, the catch is really that the truthiness of an array is not an `all(...)`.

@zinebaly I'd recommend to implement a numba JITted function, that should be fairly straight forward.

[2020-04-21 16:37] jpivarski commented on #225
@zinebaly You could do it with Numba. Just thinking through how this could be done in array-at-a-time operations...

[code]

ak.Array will quietly cease to be a Sequence in #216. It's just too minor of a change at this early stage to make a whole PR out of it.

I'm closing this PR.

[2020-04-21 16:37] #225 closed, assigned to nobody

[2020-04-22 01:58] Ellipse0934 commented on #193
I have begin working on this and have a few thoughts which might need corrections and/or suggestions.

We'll have a `is_none` function with the arguments `axis` and `depth`. Till `axis != depth` we recursively call `is_none` on `contents` incrementing `depth` until `axis = depth` similar to many other functions.
When `axis = depth` if we are currently an `IndexedOptionArray` we return `NumpyArray(

[2020-04-22 11:36] jpivarski commented on #193
If the NumpyArray constructor is given a NumPy array with `np.bool` dtype, the NumpyArray will have boolean type. There's no reason to express that separately.

Giving this function depth would go through `awkward1._util.recursively_apply`. That takes a function that tells `recursively_apply` whether it should keep descending or to compute something on the current level and return. The full set of

[2020-04-29 02:31] #57 closed, assigned to jpivarski

[2020-04-30 11:26] jpivarski commented on #219
Fixed in PR #227.

[2020-04-30 11:26] #219 closed, assigned to jpivarski

[2020-04-30 11:27] tamasgal commented on #219
Thanks Jim!

[2020-05-03 17:58] nsmith- opened #230 "Segfault in derived virtual array"
With
[code]

The following line segfaults: `rec.x[1:]*2`
Possibly related, `rec.x[1:]` by itself throws an error in the VirtualArray constructor:
[code]

[2020-05-03 18:24] jpivarski commented on #230
The first head-palm issue is that a `SlicedGenerator` (what you get if you single-level slice a VirtualArray) is not a `PyArrayGenerator`. But it's ridiculous to not be able to get a Python reference to it. These sorts of things should bubble up to Python as zero-argument callables.

[2020-05-03 19:19] jpivarski commented on #230
I think it was a mistake making a distinction between regular ArrayGenerators and SlicedGenerators because it also makes it hard to manage caches in the SlicedGenerators (which are opaque to Python). It should be a nested VirtualArray that performs a slice. The new VirtualArray has to not be lazy about slicing, though, or else the whole thing would infinite-loop, so `bool lazyslice` should be a Vi

[2020-05-03 19:24] nsmith- opened #231 "IndexForm roundtrip to json fails for i32/u32"
Because of the typo here: https://github.com/scikit-hep/awkward-1.0/blob/6db9f5996d09e7ee04e7b94100d0cdccfe1c2a07/src/libawkward/Index.cpp#L23
making a ListOffsetArray32 form doesn't work:
[code]

I can make the patch.

[2020-05-03 19:40] jpivarski commented on #230
Are you online? I'm not finding a satisfactory way to deal with lazy slices and I need to be reminded why we cared so much. Skype?

[2020-05-03 22:03] #231 closed, assigned to nobody

[2020-05-04 00:27] jpivarski commented on #230
This is the ampersand that was causing all the segfaults (00f69138a714733bca7b649be7707ae5b8a139a1).

[code]

[2020-05-04 01:35] #230 closed, assigned to nobody

[2020-05-04 19:54] jpivarski opened #235 "Forms should have optional keys, so that they can be used to look up data in regular, named containers"
@nsmith-: just so that you don't write something around Forms to give them this capability (i.e. to fetch objects from an object store with a naming convention), it really ought to be part of the Forms.

These keys aren't needed to check that VirtualArrays make sense, but they might be needed for bookkeeping in a system that reconstructs Awkward Arrays from one-dimensional arrays. Only the minimum

[2020-05-04 20:45] nsmith- commented on #235
This implies also support for some utility method to take a keyed form and a dictionary of arrays and return an awkward array.

[2020-05-04 20:46] nsmith- commented on #235
Or alternatively, a dictionary of callables to be used as generators, or a single callable and the form key is passed as an argument, etc.

[2020-05-04 22:09] jpivarski commented on #235
There would be an advantage to having all the metadata be serializable as JSON. Data structures of callables are powerful, but not very portable.

[2020-05-04 22:18] nsmith- commented on #235
Depends where you want to set the interface between awkward and the data delivery library. Perhaps awkward knows the column key and partition index (for chunked arrays) and expects an external call to provide the flat array.

[2020-05-05 00:48] jpivarski commented on #235
What I had in mind when I wrote the original thing was that each one-dimensional array would have a (partition-id, position-in-tree) coordinate and that the Form would have a reference to the position-in-tree part.

For example, in [old awkward serialization](https://github.com/scikit-hep/awkward-array/blob/master/awkward/persist.py), the full array was broken down into a bunch of one-dimensional

[2020-05-14 02:53] #68 closed, assigned to trickarcher

[2020-05-14 15:25] nikoladze opened #264 "Reductions at axis=N inside lists that are empty at axis=N-1 at the end of the N-1 array."
First, thanks for this awesome package! I'm looking forward to the new ways of analysis that we will be able to do with it.

I might have found a problem with `ak.any` and `axis=2` which seems to happen in cases when the last element of the array is an empty list:

[code]
with `a[:-2]` it sometimes also raises the Exception, but sometimes produces an incorrect result:

[code]

I tried this on the

[2020-05-14 16:07] jpivarski commented on #264
Aha! It's because some of the lists it's trying to reduce over don't exist at the level that you're looking (you have some empty lists at `axis=1` and are reducing over `axis=2`). This is indeed a bug.

Furthermore, it only happens if the empty list at `axis=1` is _last_. Here's a simpler example (I use prime numbers and `ak.prod` because it's easier to see what it's grouping; booleans are hard to

[2020-05-14 16:13] jpivarski commented on #264
Trimming the offending last element makes it work again, so it's not a problem that the empty list is somewhere in memory; it's a problem that it's in the range that's considered:

[code]

In your example, trimming the last two gets you back to having an empty `axis=1` list last. If, in your example, you only trim off enough to leave the last `axis=1` list nonempty, it works:

[code]
which, as I r

[2020-05-14 17:22] jpivarski commented on #264
Better yet, the exception does not occur in the reduction step; it happens in the print-out because the reduction step produced invalid output. We can inspect these by looking at the layouts:

[code]

for the good one and

[code]

for the bad one. The reduction step made the wrong offsets. It should be `[0 1 3 3]`.

[2020-05-14 17:43] jpivarski commented on #264
It's fixed in PR #265 and I'll merge with master soon. A few more things are going to go into the next version before I deploy, however.

For your original example,

[code]

[2020-05-14 17:43] #264 closed, assigned to nobody

[2020-05-16 12:43] jpivarski commented on #178
Ultimately, the reason we want a RedirectArray is to allow nodes in a tree to point to "ancestor" or "cousin" nodes in the same tree. Nodes that are strictly "descendants" or thought of as being in another tree are already covered by normal `content` inclusion.

## Option 1: a new RedirectArray node type

This was my original thought, but it's going to require rethinking of some basic things, like

[2020-05-18 14:43] nsmith- opened #272 "ArrayGenerator parameters"
Can the following parameters used to declare `ArrayGenerator` be exposed to python: `callable`, `args`, `kwargs`?
Already `form` and `length` are available.

[2020-05-18 14:47] nsmith- commented on #272
Alternatively, or in addition, a helper function like `VirtualArray.withlength` could be provided to make a copy of a virtual array node but with the length provided in the case where it was not available previously.

[2020-05-18 14:50] jpivarski commented on #272
No problem (on both). I should get to that this afternoon.

[2020-05-18 15:44] nikoladze opened #273 "Add a "path" to ak.with_field and array["outer", "inner", "new_field"] = new_field syntax to ak.Array/Record."
I got quite confused when i (wrongly) assumed that i can assign fields to arrays

[code]

Would it make sense/be possible to implement `__setattr__` to do the same thing as  `__setitem__`? Or if that introduces other problems, warn users they should not do that?

[2020-05-18 15:57] jpivarski commented on #273
I've been on the fence about this because all the other attributes that attach to an `ak.Array` have to be attached _carefully_ (by directly accessing the `__dict__` or calling the superclass's `__getattr__` or `__getattribute__` or something; I'd have to look it up and experiment).

I've asked this question when presenting Awkward, whether the argument for `x.d = d` is strong enough to warrant th

[2020-05-19 14:34] #272 closed, assigned to nobody

[2020-05-20 08:29] nikoladze commented on #273
A similar problem occurs when one tries to use `__setitem__` on nested structures. This is then related to where pandas gives it's `SettingWithCopy` warning which is then confusing when i actually want to use that copy. So I'm also a bit undecided if these things (both the `__setattr__` and the `__setitem__` on a copy) should show warnings, because they can indeed lead to confusion. On the other h

[2020-05-20 11:13] jpivarski commented on #273
While working on something else, I was reminded that if you declare that Python class has `__slots__`, then attempts to assign attributes that are not in those slots is an error.

[code]

Maybe this is the way forward on attribute-assignment. "'Something' object has no attribute 'whatever'" seems like a pretty clear message. I could just assign slots to ak.Array, ak.Record, and ak.ArrayBuilder (wh

[2020-05-20 14:50] nikoladze commented on #273
This sounds good and clear.

I also like the idea that `ak.with_field` gets a `path` argument and that assigning to inner elements can work with `__setitem__` with multiple arguments. Also i agree it probably is better to warn that `array["inner"]["structure"]["x"] = new_field` is not working in the documentation rather than with a confusing warning like in pandas.

[2020-05-20 15:32] jpivarski commented on #273
I changed the title to be clear about what this feature request is requesting. I'm also going to add "good first issue" because this can be implemented with only a little Python meddling, not deep changes to the C++.

[2020-05-25 15:35] jpivarski opened #278 "What's the best way to make CUDA-enabled Awkward available?"
Right now, @reikdas and @trickarcher are working on CUDA kernels for Awkward, which involves building a new target, libawkward-cuda-kernels.so ("gpu-kernels" in the diagram below), and if-else logic in libawkward.so ("C++ classes" in the diagram below) to pick the right kernel for pointers that reside on the GPU.

<center><img src="https://github.com/scikit-hep/awkward-1.0/raw/master/docs-img/diag

[2020-05-25 15:54] jpivarski commented on #278
What if we could isolate our CUDA dependency to only be in libawkward-cuda-kernels.so and make that a completely separate project? That is, libawkward-cuda-kernels.so would be built by a different CMakeLists.txt and the main codebase would only be aware of it as a shared library that could possibly be dynamically loaded? Then it could have a different conda name (and even PyPI name) like "awkward-

[2020-05-25 17:15] chrisburr commented on #278
I've been pondering this for a while and I think a separate package is the best way to go. Especially considering conda-forge will build at least two different `libawkward-cuda-kernels.so` binaries for different CUDA versions.

I presume `awkward-cuda-kernels` and `awkward` will be versioned together? If so, it would be nice if `libawkward-cuda-kernels.so` can be built without depending on the `aw

[2020-05-25 17:30] jpivarski commented on #278
I hadn't been thinking that, although I suppose it's a possibility. If that would allow projects that depend on C++ libawkward (such as the hypothetical FastJet interface that communicates via jagged arrays of events) to be kept in binary compatibility with the Python interface, it would be a benefit.

(I'm not sure if there's binary compatibility to maintain; [dependent-project](https://github.co

[2020-06-01 17:51] martindurant opened #284 "Dasky thoughts for awkward"
Following #263, it's now possible to pull big data into awkward of a form that outsiders from the project will appreciate and allow, for instance, parquet and orc reading (this may already exist). This raises the interesting question of how people in the wider community (i.e., non-root) might interact with awkward for nested dataset processing, especially where that data is big enough to need para

[2020-06-01 18:44] jpivarski commented on #284
This is a good line of thought, and I agree that the best way to think of these things is as one-dimensional arrays, like they way they're represented in Pandas.

I added some comments to the gists.

[2020-06-03 14:40] nikoladze opened #286 "Unexpected behaviour when broadcasting single value in ak.with_field"
It seems something is going wrong when letting `ak.with_field` broadcast a single value (like `True`). When i create yet another field, there are circumstances where this breaks the previously added field:

[code]

It seems to only happen in cases where the value is broadcasted by creating that stride 0 memory view @jpivarski explained in https://github.com/scikit-hep/awkward-1.0/pull/275#pullrequ

[2020-06-03 14:49] jpivarski commented on #286
There are two safer alternatives:

   * replace the `as_strided` call with `numpy.broadcast_to([what], shape=(len(base),))`, which ought to be the same thing, but it's not in NumPy's "danger zone" (i.e. maybe I'm missing something important about making a zero-stride array);
   * replace the `as_strided` with something that actually creates the array, such as `numpy.repeat(what, len(base))`.

If t

[2020-06-03 15:06] nikoladze commented on #286
The first alternative doesn't help, there seems to be a general problem with the stride 0 view. The second alternative seems to help in this case.
Should such memory views work in general? If there are no other places in the code that rely on this then probably here it also should be just an  actual array?

[2020-06-03 15:40] jpivarski commented on #286
In principle it should work, but the zero-stridedness is not maintained after Awkward broadcasting (unlike NumPy broadcasting, Awkward broadcasting does have to copy elements to fit them in to unequal-length lists). So just calling `numpy.repeat` here is not giving up much.

Would you be willing to add this as a PR, since it works in your local repo?

[2020-06-03 16:50] #286 closed, assigned to nobody

[2020-06-05 12:58] #273 closed, assigned to nobody

[2020-06-05 21:07] jpivarski opened #291 "Awkward-Numba's ArrayView needs to support enumerate"
This fails for `events` as an ak.Array:

[code]

but it doesn't fail for NumPy arrays. That's because Numba's lowered enumerate doesn't accept any iterable (or ak.Arrays aren't recognized as such because I haven't registered them somewhere? They do have `iter` overloaded). Presumably, the right way to fix this is to specialize an implementation for `enumerate`, just as an implementation for `len`

[2020-06-14 07:31] reikdas opened #300 "Kernels - Label to distinguish input and output parameters"
For automating Kernel test cases, we need a way to distinguish between kernel function parameters that shouldn't change (input) and the function parameters that should change (output) - in the tests we should only be testing the parameters that should change.

We can do this by either
1) formalizing a naming scheme for all the kernel function parameters (something like prepending input parameters

[2020-06-14 07:52] reikdas opened #301 "Kernels - Recognize input parameter roles"
To generate appropriate test cases for the different kernels, we need to assign "roles" to the kernel function input parameters - keywords that would be recognized by the automatic test case generator.

We would need to document the roles in Doxygen style comment blocks in the kernel functions.

[2020-06-14 07:57] reikdas opened #302 "genpython - C++ comment block to Python docstring"
Once #301 is merged, we need to modify [genpython.py](https://github.com/scikit-hep/awkward-1.0/blob/master/dev/genpython.py) to be able to convert the doxygen style comment block in the CPU kernels written in C++ to Python docstrings in the generated Python code.

[2020-06-15 18:37] #74 closed, assigned to ianna

[2020-06-16 16:05] martindurant opened #303 "Does awkward want to promote itself yet as a general nested processor?"
Prompted by [this stackoverflow question](https://stackoverflow.com/questions/62410128/how-should-i-process-nested-data-structures-e-g-json-xml-parquet-with-dask), to which my internal answer was "that's what awkward is for". Is there yet an example of how you might do the circuit of parquet file with complicated schema, to numba-jit function and fast processing.

[2020-06-16 16:28] jpivarski commented on #303
(Yeah, this is really about documentation, because we need an example for that SO question.)

The missing piece is Parquet reading and writing. It was done through pyarrow [in the old version](https://github.com/scikit-hep/awkward-array/blob/d88527c69d3070aa49db2aa9e14d9f02adb73e19/awkward/arrow.py#L452-L578) and should be again: [ak.to_arrow](https://awkward-array.readthedocs.io/en/latest/_auto/a

[2020-06-16 16:33] jpivarski opened #304 "Remember to add a high-level interface to sorting (ak.sort)"
It should NEP 18 to [np.sort](https://numpy.org/doc/1.18/reference/generated/numpy.sort.html). There's no equivalent for our `ascending` or their `order`, though `kind` can be partially supported because `kind="stable"` corresponds to our `stable=True`. (Is our `stable=False` one of "quicksort", "mergesort", "heapsort"?)

I meant to include this in #168, but forgot.

[2020-06-16 17:32] martindurant commented on #303
Probably a long-hand demo using current fromarrow and just about any  jitted function would be nice; the obvious benchmark comparison being the same column in JSON form, converted to python dictionaries.

[2020-06-16 17:56] jpivarski commented on #303
There is this: https://awkward-array.org/what-is-awkward.html

though it starts from JSON, rather than Parquet.

[2020-06-16 18:07] martindurant commented on #303
There is a jitted general-purpose function there? I am thinking of something, anything, that doesn't translate nicely into numpy syntax.
From a benchmarking standpoint, to show awkward's usefulness for something like the SO question, it would have to start with a large amount of data in parquet.

[2020-06-16 18:32] jpivarski commented on #303
Ah, I forgot where I did these things. It was in a talk, which I should feed back into the documentation so that it has a Numba example.

https://github.com/jpivarski/2020-07-06-scipy2020/blob/c951aa50bbfa879f011c9f2c343a3d0168be28e0/main.tex#L486-L503

[code]

**It would be great to start from Parquet, but that Parquet I/O through Arrow is the missing link.**

(Incidentally, this example, chosen

[2020-06-16 18:37] martindurant commented on #303
That is *exactly* the sort of thing I had in mind!
from_arrow does work now, right? So the only thing missing would be to have a decent dataset in parquet format (perhaps the same bike stuff) and have a few lines to get the arrow record batch and convert it to ak.

[2020-06-16 18:43] jpivarski commented on #303
Yes. I wonder if there's a JSON → Parquet converter somewhere. You'd have to assign a schema, but [ak.type](https://awkward-array.readthedocs.io/en/latest/_auto/ak.type.html) should help there. I take it you're thinking of a one-off Parquet → Arrow → ak.from_arrow → Numba without lazy column/row-group reading of the Parquet, right? (The bikeroutes file would be too small to justify row-groups, any

[2020-06-16 18:59] martindurant commented on #303
No need for anything lazy for this, and if there were multiple row-groups, I would read them separately using Dask.

[2020-06-16 19:13] martindurant commented on #303
Spark? :)
I don't know how effective https://arrow.apache.org/docs/python/json.html is

[2020-06-17 10:50] jpivarski opened #305 "The ak.Array/ak.Record/ak.ArrayBuilder repr should quote keys that are not good identifiers"
The `repr` is implemented in `awkward1._util.minimally_touching_string`; tokens corresponding to keys (that which precedes `": "`) should be wrapped in `repr` if they are not good identifiers. This will need to be done in both the forward and backward walks.

A good identifier is a string that matches `[A-Za-z_][A-Za-z_0-9]*`. In other words, a key that could be used with the dot notation (`__geta

[2020-06-17 15:14] ianna commented on #304
**C++’s sort()** – Introsort (Hybrid of Quicksort, Heap Sort and Insertion Sort)

- Best Case Time Complexity- O(NlogN)
- Average Case Time Complexity- O(NlogN)
- Worse Case Time Complexity- O(NlogN)
- Auxiliary Space- O(logN)
- Stable- No
- Adaptive- No

**C++’s stable_sort()** – Mergesort

- Best Case Time Complexity- O(NlogN)
- Average Case Time Complexity- O(NlogN)
- Worse Case Time Complexity

[2020-06-18 20:56] martindurant commented on #303
Just to update, pyspark did successfully turn the Bikeroutes into parquet, but arrow can't load the output:
[code]
Very disappointed! Arrow also can't read the JSON directly, not sure what it's expecting.

The rendering of the schema in spark looks like this:
[code]
but the actual parquet schema, rendered by fastparquet, is the following (because spark lists-type elements can be either `[]` or `NU

[2020-06-18 21:00] martindurant commented on #303
Oh wait, I think spark is assuming one record par line, rather than a well-formed single JSON object

[2020-06-18 21:04] martindurant commented on #303
OK, that works fine for spark, arrow still fails with the same error. Schema according to fastparquet is
[code]

[2020-06-18 22:02] jpivarski commented on #303
Maybe remove the structs, so that it's just the ListArray(ListArray(ListArray(ListArray(double)))) representing the coordinates? In the past, I've found that structs are fine for conversions to and from Arrow, but then Arrow ↔ Parquet has only implemented nested lists without any structs.

The majority of the exercise can be done with only the coordinates (see the Awkward example for quickly proje

[2020-06-21 05:17] reikdas opened #308 "Categorize Kernels by parallelizability"
To automatically generate CUDA kernels from CPU kernels, we would need to categorize them as embarrassingly parallel, having loop carried dependencies, etc.

We could label all of the C++ functions by hand, similar to what we are doing for test generation in #307 .
But, it would be better if we could build a custom tool that could perform loop dependence analysis on the C++ functions. Loop depende

[2020-06-21 05:27] reikdas opened #309 "Generate unit tests for kernels"
Using the roles assigned to the CPU kernels in #301 we need to generate "relevant"  tests for each of the kernels. All the kernel implementations - C++, Python, CUDA would need to pass these tests.

[2020-06-22 16:44] jpivarski opened #310 "Rename keeplayout → keep_layout in ak.{from,to}_awkward0"
The `keeplayout` parameter of [ak.from_awkward0](https://awkward-array.readthedocs.io/en/latest/_auto/ak.from_awkward0.html) and [ak.to_awkward0](https://awkward-array.readthedocs.io/en/latest/_auto/ak.to_awkward0.html) should be `keep_layout`, in keeping with the convention of putting underscores between whole words.

This is super-easy, just renaming a parameter on the Python side.

[2020-06-22 20:25] martindurant commented on #303
Interesting case, I wonder if you can tell me the difference between
[code]
and
[code]
The former has some outer objects, but `bikeroutes[0][0]` appears identical to `bikeroutes2`; however, when used with the `compute_lengths` function, the former takes 1.95ms versus 170us (on my machine). Obviously, I would prefer the simpler-looking syntax.

[2020-06-22 20:57] jpivarski commented on #303
I think they ought to be the same, but I didn't manage to fix the issue with `ak.from_json` before I needed to make this demo. In `ak.from_json`, I simply forgot to consider the case in which the JSON is a single JSON object, rather than a JSON array.

Internally, `ak.from_json` calls a C++ `Content::fromjson` method, which uses RapidJSON in SAX mode to fill an ArrayBuilder. Not going through the

[2020-06-22 20:58] jpivarski opened #311 "ak.from_json needs to return ak.Record for a JSON object, not a length-1 ak.Array"
Before https://github.com/scikit-hep/awkward-1.0/issues/303#issuecomment-647765943, @martindurant said,

I think they ought to be the same, but I didn't manage to fix the issue with `ak.from_json` before I needed to make this demo. In `ak.from_json`, I simply forgot to consider the case in which the JSON is a single JSON object, rather than a JSON array.

Internally, `ak.from_json` calls a C++ `Co

[2020-06-22 21:01] martindurant commented on #303
Thanks for the detail, @jpivarski !

[2020-06-22 21:02] jpivarski commented on #311
This would not be too hard to fix, though it would likely involve the C++, not just the Python (or it might be exclusively C++; not sure).

[2020-06-23 19:56] martindurant opened #312 "ak.to_arrow should convert to string instead of large_string"
If you load the bikeroutes from [here](https://github.com/jpivarski/2020-07-06-scipy2020/blob/c951aa50bbfa879f011c9f2c343a3d0168be28e0/bikeroutes-execution.ipynb) and try to convert to arrow, it works:
[code]
but this cannot be written to parquet because the schema is as follows
[code]
Arrow doesn't know how to write the "large strings", but none of the input actually has any strings long enough t

[2020-06-23 20:04] martindurant commented on #312
In practice, I believe this would need converting large_binary -> binary and LargeStringArray->StringArray in to_arrow; but I also wonder at large_list and the like.

[2020-06-24 03:46] jpivarski commented on #312
This is a good point and worth fixing, though I know how it happened. Awkward defaults to 64-bit when not constrained by inputs, but Arrow likes 32-bit. The policy should be different: instead of trying the closest type-match, it should use minimum sizes for the scale of the array.

[2020-06-24 03:50] jpivarski commented on #312
It's also a good first issue because the translation is all in two functions in awkward1.operatons.convert, on the Python side.

[2020-06-24 13:24] martindurant commented on #312
In this case, also a limitation of parquet's string representation.

[2020-06-26 14:49] jpivarski opened #313 "Make NumpyArray's format checks insensitive to '=' (or '<' if little-endian, '>' if big-endian) at the beginning of the string"
For minimal modification (and a tiny performance advantage), this can be done in the NumpyArray constructor. (Also check the NumpyForm and conversions from JSON into NumpyForms.) That way, the unnecessary character can be removed once in one place, without having to fix every instance in NumpyArray where `format_` is used.

If NumPy arrays are created as big-endian and then are converted with `ast

[2020-06-26 15:26] jpivarski commented on #313
Actually, fixing this bug means the following array copy in Uproot won't be necessary:

https://github.com/scikit-hep/uproot4/blob/43306c11eb750e78247a44fd30a2b0a88b0c4449/uproot4/interpretation/library.py#L140-L141

This will happen again when dealing with fixed-width objects (i.e. TLorentzVector), so it's worth fixing and dealing with the Awkward1 ↔ Uproot4 version synchronization.

[2020-07-01 22:18] nsmith- opened #315 "Integer fancy indexing with nulls behavior"
In the spirit of expanding [integer fancy indexing](https://numpy.org/doc/stable/reference/arrays.indexing.html#integer-array-indexing) to masked arrays, let's review how we got here. We'll use
[code]

For basic numpy arrays,
[code]
we have that
[code]
i.e. the output has the same shape as `b` and `c` always, and we have to index each dimension of `a` individually.
In awkward, for rectangular arra

[2020-07-01 22:56] jpivarski commented on #315
The part about

is a different topic from the bug reported at

The first topic (differing from NumPy) is known and might be called a "gotcha" rather than a bug: we want jagged indexing to be recursive, rather than broadcasted, because we want ufunc'ed predicates to work as jagged boolean slices. The simple cases work as people would expect—it takes some careful digging to realize that it's differe

[2020-07-02 13:54] nsmith- commented on #315
I only mention the ListArray behavior to set up and explain why `f[g]` can even select multiple dimensions (a not-obvious feature from a numpy user's point of view) I don't think its a bug.
I'd like your thoughts on `f[g3]` behavior as that example is more subtle.

[2020-07-02 14:27] jpivarski commented on #315
The `f[g2]` and `f[g3]` examples have the additional complication that they involve EmptyArrays, which have floating point type in normal usage (for consistency with NumPy's default), but have integer type when used as a slice (I checked yesterday, thinking that might be relevant for this issue). For user sanity, it should be either integer or Boolean type, since these are the only array types all

[2020-07-04 18:34] reikdas opened #318 "CI test to check if documentation is generated correctly"
It would be nice to have a CI test that checks if the generated readthedocs documentation breaks.

[2020-07-05 15:22] jpivarski commented on #318
See the new test here:

https://dev.azure.com/jpivarski/Scikit-HEP/_build?definitionId=5

The [YAML for this test](https://github.com/scikit-hep/awkward-1.0/blob/master/.ci/azure-doctest-awkward.yml) doesn't actually run the documentation workflow; you'll have to add that. And you might want to remove the compilation, too (now that I think about it), because the documentation needs to be buildable

[2020-07-06 12:17] jpivarski opened #320 "The MacOS test has an intermittent error in ak.argsort"
It is usually cured by rerunning it, but an intermittent error is an error: something's wrong. The error manifests itself as a `ValueError` evaluating (I think!) one of the reducer tests. Next time, I should paste the error output here.

[2020-07-06 12:24] ianna commented on #320
@jpivarski - if this is it, it has happened on MacOS Python 3.8 as well.
[code]

[2020-07-06 12:59] #318 closed, assigned to reikdas

[2020-07-06 13:01] jpivarski commented on #320
That's it—I recognize this part of it:

[2020-07-06 20:09] reikdas opened #321 "Change function from recursive -> iterative"
There are some CPU kernels that need to be changed from being recursive to iterative (to make it easier to generate equivalent CUDA kernels)
Like -
https://github.com/scikit-hep/awkward-1.0/blob/master/src/cpu-kernels/getitem.cpp#L274
https://github.com/scikit-hep/awkward-1.0/blob/master/src/cpu-kernels/operations.cpp#L3268

These are non-trivial with each of the recursive calls being inside loops

[2020-07-09 17:06] nsmith- commented on #315
In the end,
[code]
was the most straightforward implementation.

[2020-07-09 19:04] nsmith- commented on #178
For now, after implementing the new masked getitem behavior in #322 I was able to implement option 4 in NanoEvents.
It works like this: a `NanoEventsFactory` object is constructed, and the `factory.events()` method constructs the `events` array. As long as the factory object is alive, it holds a reference to the array so subsequent calls can return the cached copy. A unique key is generated when t

[2020-07-09 22:02] nsmith- commented on #315
Closed in #322

[2020-07-09 22:02] #315 closed, assigned to nobody

[2020-07-12 11:01] reikdas commented on #308
This should be the complete list of kernels up to now which have loop carried dependencies (my apologies if I missed any) -

- awkward_NumpyArray_getitem_boolean_nonzero - https://awkward-array.readthedocs.io/en/latest/_auto/kernels.html#awkward-numpyarray-getitem-boolean-nonzero
- awkward_ListArray_getitem_next_range_counts - https://awkward-array.readthedocs.io/en/latest/_auto/kernels.html#awkwa

[2020-07-13 17:36] nsmith- opened #331 "Pandas conversion chokes on indexed arrays"
For the arrays:
[code]
we can convert `p4` to pandas just fine:
[code]
but the combinations fails to work:
[code]
It seems to be related to the indexed array, since even looking at just one of the records, it writes NaNs:
[code]
where
[code]

[2020-07-13 17:52] nsmith- opened #332 "Can numba functions accept layouts?"
Although rare, sometimes its easier to do certain operations on the awkward1 layouts than their wrapped arrays. It would be convenient if numba functions could be called interchangeably, e.g.
[code]
crashes, seemingly unnecessarily since wrapping any layout with `awkwrad1.Array` passes it through.

[2020-07-13 17:55] jpivarski commented on #332
Numba function don't accept layouts. I don't know if that's something that should change. (Layouts also can't do NumPy ufuncs and various other things.)

It might seem like allowing layouts in Numba would be easy, since they are the "lower level" items, anyway—it would seem like allowing `ak.Array` in Numba functions would be implemented in terms of layouts. Actually, it isn't. Entering a Numba-JI

[2020-07-13 17:58] nsmith- opened #333 "Layout indexes don't support slices"
Sometimes, when building arrays at a low level, it is useful to manipulate `Index64` and similar from python.
The usual getitem method does not accept python slices, however:
[code]
gives:
[code]

Amusingly, one can do `a.layout.offsets.__getitem__(0, -1)`

[2020-07-13 18:05] nsmith- opened #334 "Ternary ak.where issues on non-trivially-broadcastable arrays"
The ternary form of `ak.where` seems to misbehave when it must broadcast inputs, e.g. for:
[code]
we get
[code]
where we expect
[code]

Similarly, `awkward1.where(c, a, -1)` returns a TypeError, when again after broadcasting it is OK:
[code]

[2020-07-13 18:07] jpivarski commented on #333
Since this is a known fact about these low-level objects, it might make more sense to call this a feature request. But yeah, it would definitely make life easier for developers who are building things on top of Awkward if they could treat `Index` as a normal array-like object.

[2020-07-13 18:07] nsmith- commented on #332
Ok, that's fine. I brought it up since most `ak.*` methods seem to be happy with either (since they are often _un_-wrapping)

[2020-07-13 18:08] nsmith- commented on #332
Call it documentation issue then?

[2020-07-13 18:08] jpivarski commented on #334
Yes:

[code]

[2020-07-13 18:09] jpivarski commented on #332
Yes. That makes more sense.

[2020-07-13 19:16] nsmith- opened #335 "Numpy dtype of Index64"
It seems the dtype of numpy arrays converted from awkward Index64 have a dtype roundtrip issue. Consider:
[code]
`b.dtype.char` is `q`, while the platform I am on expects `l`. Numpy handles this gracefully:
[code]
however awkward1 does not:
[code]

It is sufficient to recast (despite the dtype not actually changing other than `char`):
[code]

[2020-07-13 19:16] nsmith- commented on #335
This is on OS X, I believe it also happens on linux but am not sure.

[2020-07-13 19:34] jpivarski commented on #335
It's reproducible on Linux.

Also, I noticed this:

[code]

long-long...

[2020-07-13 19:35] jpivarski commented on #335
I believe this is related to pybind/pybind11#1908.

[2020-07-14 09:26] nikoladze opened #336 "Convenience function to turn an Awkward Array into a NumPy array in anyway that it can"
Currently it seems a bit cumbersome to create a contiguous numpy array (after padding and filling - e.g. for input into ML models) from records with fields of different numeric types (e.g. int and float or float and double). I'm looking for a similar behaviour like `.values` or `.to_numpy()` in pandas:

[code]

There are two obstacles when trying this with awkward:

- When i call `ak.fill_none` th

[2020-07-14 21:28] nsmith- commented on #336
Just to piggyback, I feel like `ak.pad` is a well-deserved function that could combine the arguments of `ak.pad_none` and `ak.fill_none`.

[2020-07-14 21:38] nsmith- commented on #336
Isn't the fact that
[code]
casts the integers in `array.a` into floats a bug?

[2020-07-15 23:40] jpivarski commented on #335
This is fixed because `ak.Array` now knows about _all_ the NumPy dtypes, including `longlong`. That came as part of a general clean-up, in which I used "format in {c, b, h, i, l, q, B, H, I, L, Q" + itemsize to determine its portable type (e.g. `int32_t` vs `int64_t`), rather than relying on the (platform-dependent) value of the format to determine itemsize. It was a major refactoring (3.5k lines)

[2020-07-16 01:20] #313 closed, assigned to nobody

[2020-07-16 01:20] #333 closed, assigned to nobody

[2020-07-16 01:20] #335 closed, assigned to nobody

[2020-07-16 15:29] #310 closed, assigned to nobody

[2020-07-16 17:32] #304 closed, assigned to nobody

[2020-07-16 18:33] jpivarski opened #341 "Numba "cannot lower constant of type awkward1.ArrayBuilderType(None)": can anything be done?"
I would want it to take the ArrayBuilder as part of a closure, not a constant. Maybe ask about this on the Numba Gitter.

[2020-07-16 18:34] jpivarski opened #342 "Awkward-Numba is missing `enumerate` implementations, which would be very helpful."
This came up a few times while I was creating examples.

[2020-07-16 19:14] #312 closed, assigned to nobody

[2020-07-17 01:54] #172 closed, assigned to nobody

[2020-07-17 01:54] #303 closed, assigned to nobody

[2020-07-17 13:29] jpivarski commented on #278
@trickarcher is isolating all of the CUDA-dependent stuff in a pip-installable package named `awkward1-cuda-kernels`, which is a Python package that only announces its full path and contains a `libawkward-cuda-kernels.so`. The main codebase tries to load this Python package dynamically when it's needed. The main package will have an "extras" dependency on `awkward1-cuda-kernels` so that one can

[

[2020-07-17 13:29] #278 closed, assigned to nobody

[2020-07-17 13:31] jpivarski commented on #342
This is a duplicate of #291.

[2020-07-17 13:31] #342 closed, assigned to nobody

[2020-07-17 16:30] #305 closed, assigned to nobody

[2020-07-20 17:55] jpivarski commented on #204
This was completed by PR #261.

[2020-07-20 17:55] #204 closed, assigned to ianna

[2020-07-20 17:56] #163 closed, assigned to ianna

[2020-07-20 18:30] jpivarski commented on #336
I just took a look at this and I agree that it could be a better interface. But before developing a new function, perhaps I should throw some more ideas into the mix.

The real issue here is that the padding and filling aren't going all the way down to the numeric level: they're applying to the records. That's why we get Nones in the place of the records (and the `?` is on the record type, not the

[2020-07-20 18:39] jpivarski commented on #336
@nsmith- No, that's intentional:

[code]

What's happening here is that Nones are first replaced by a temporary UnionArray that combines whatever is in the array with whatever the replacement value is: `union[int64, int64]` and `union[int64, float64]` in the two cases above. Then we attempt to `simplify` the temporary UnionArray. Unions of two numeric types can be unified to a numeric type, which

[2020-07-22 23:53] jpivarski commented on #235
As soon as #348 can be merged, we'll have an equivalent of Awkward 0's persistence layer. The new functions are `ak.to_arrayset` and `ak.from_arrayset`. The documentation should go online soon after it's merged to master as well, but here are some examples:

[code]

Read it back with:

[code]

Write to partitions with:

[code]

Read it back with:

[code]

Or read it back lazily:

[code]

This is t

[2020-07-22 23:53] jpivarski commented on #235
I haven't explicitly created the HDF5 read/write and the `*.awkd` file read/write (the format would be different in both cases). These "deconstructed" Awkward Arrays are not a good storage format, as @wctaylor discovered in scikit-hep/awkward-array#246.

[2020-07-23 00:00] #235 closed, assigned to nobody

[2020-07-23 14:33] jpivarski opened #350 "Should Awkward Arrays be usable as Pandas columns?"
This was one of the design goals described in the [original motivations document](https://docs.google.com/document/d/1lj8ARTKV1_hqGTh0W_f01S6SsmpzZAXz9qqqWnEB3j4/edit?usp=sharing), but it has required some non-intuitive sorcery to implement and it's not clear to me that it's a valuable feature. To be clear, we're talking about

[code]

and not

[code]

The explicit conversion into a MultiIndex Dat

[2020-07-23 22:49] nsmith- opened #355 "Decorators for making new mixins"
This is a tracking issue for migrating https://github.com/CoffeaTeam/coffea/blob/master/coffea/nanoevents/methods/mixin.py into awkward. The decorators allow a more concise declaration of mixin classes, e.g.:
[code]
reproduces the functionality outlined in the `ak.behavior` introductory documents.

[2020-07-24 19:16] nsmith- commented on #184
Can this feature be reprioritized? Axis-1 (or deeper) concatenate can be very useful for some common operations, e.g. merging lepton collections.

[2020-07-24 19:18] jpivarski commented on #184
That would be reasonable. I'll get to it soon after dealing with Arrow 1.0, which seems to have broken everything.

[2020-07-25 05:26] jpivarski commented on #184
@ianna I was just thinking about this: what would you think about taking this on? It would use the negative axis you just finished. Do you see what it's supposed to do?

(Personally, I don't know what it ought to do if the desired axis is deeper than a record layer. Maybe we could exclude that case.)

[2020-07-25 13:16] #355 closed, assigned to nobody

[2020-07-26 17:09] nsmith- commented on #355
I wonder if we can make these decorators attempt automatic lowering into numba?
For most properties and things like `abs` it should be straightforward, although I am not sure what it would look like for functions where you have to zip up into a new record. Is there a way to lower ak.zip so that it forms a record with the correct type when called from a numba-ized function?

[2020-07-27 00:08] jpivarski commented on #355
I've never attempted it, and it would take some thought. The Numba implementation works with scalars, which might be feasible for making new types of records (since they're metadata-only: no new indexes like `starts` and `stops`). Before solving the problem at the decorator level, it would have to be solved at the bare function level, where it's never been done before.

It runs counter to the gene

[2020-07-27 17:39] mloning commented on #350
I think we may have an interesting use case with [sktime](https://github.com/alan-turing-institute/sktime), but not sure if that justifies the extra maintenance burden.

We want to represent a variety of time series formats, including univariate, multivariate, panel data, unequal length and unequally sampled time series data. We currently (ab)use pandas by storing entire time series as a `pd.Serie

[2020-07-27 18:13] prockenschaub commented on #350
The above argument by @mloning is related to an earlier enquiry #289 . Unfortunately I hadn't had the time yet to make a deep dive into the options that @jpivarski laid out in #289 to represent time indices. However, even without time indices [this gist](https://gist.github.com/prockenschaub/4fe4cd0ac995fef42cdacbb342d9ca77) should illustrate what sktime is hoping to achieve by using awkwardarrays

[2020-07-27 18:19] fkiraly commented on #350
I slightly disagree with @prockenschaub and @mloning here, since I think that time series* are a pretty important use case, that to my knowledge none of the existing data container solutions is solving particularly well.

While indeed it would put the maintenance burden on you (and not on us :smiley:), I´d see it as a potential solution to a long-standing annoyance - the eternal search for a great

[2020-07-27 18:21] fkiraly commented on #350
so, where do I vote

[2020-07-27 18:34] jpivarski commented on #350
(This is the vote. It's informal. )

I'm reading what you've written above and also logged into https://gitter.im/Scikit-HEP/awkward-array so we can chat in real time.

[2020-07-27 18:49] jpivarski commented on #350
So far, I see three things that you need: (1) time-valued data, (2) data-valued index, and (3) complex data structures.

(1) Pandas has always had good handling of time-valued data (from my perspective as someone who doesn't use time-valued data much).

(2) The data-valued index is, I think, the thing that sets Pandas (1d) and xarray (nd) apart from NumPy (nd). This isn't a failure of NumPy, eithe

[2020-07-27 20:20] jpivarski commented on #350
A key function in that example is `summarise_over_time`, which is more efficiently computed over a ragged array of many sublists than a NumPy reducer would be over _separate_ NumPy arrays (assuming that you have many arrays, as discussed on Gitter).

[2020-07-27 21:38] shwina opened #359 "Reusable Numba extension for CUDA target?"
Greetings, `awkward` devs!

Over at [cudf](https://github.com/rapidsai/cudf), we are introducing a [ListDtype](https://github.com/rapidsai/cudf/issues/5610) and an associated ListColumn that is similar to awkard's jagged array - just for use with DataFrames and related operations. We're also looking to introduce other "awkward" column types in the future, such as a `StructColumn` analogous to Arro

[2020-07-27 22:31] jpivarski commented on #359
That's awesome! Composable list and struct types within a DataFrame-like context would really help out physicists (among other data analysts, I'm sure), especially if cuDF can also run without GPUs. (The ability to access data types in this way is useful in itself, even if users don't have access to compatible GPUs on their Macs or in CERN's computing farm.)

This could also help the deprecation I

[2020-07-27 23:42] jpivarski commented on #136
PR #348 added a serialization protocol in Python. There are two new functions, [ak.to_arrayset](https://awkward-array.readthedocs.io/en/latest/_auto/ak.to_arrayset.html) and [ak.from_arrayset](https://awkward-array.readthedocs.io/en/latest/_auto/ak.from_arrayset.html), which turn an Awkward Array into a schema and a collection of flat arrays (an "arrayset"):

[code]

Unless there's a strong call f

[2020-07-27 23:42] #136 closed, assigned to jpivarski

[2020-07-28 18:57] kkraus14 commented on #359
cuDF only runs on GPUs as of now and there's no plan / roadmap for running on CPUs at this time, but what @shwina proposed here is to make the Numba pieces GPU/CPU agnostic so everyone benefits. Ideally we could live in a world where Arrow, Awkward, cuDF, etc. can all reuse the same Numba extensions.

The buffer backing cuDF columns are not Arrow views, but are our own `rmm::device_buffer` object

[2020-07-31 20:21] jpivarski commented on #320
It happened on MacOS Python 3.8 again: https://dev.azure.com/jpivarski/Scikit-HEP/_build/results?buildId=2901&view=logs&jobId=beebc4e0-08c3-587a-a9f8-8370dd8c77d0&j=beebc4e0-08c3-587a-a9f8-8370dd8c77d0&t=4e13e18d-382c-5754-9d84-b74ae5d60514

This isn't good: it means that the sorting kernels are accessing uninitialized data or some other undefined behavior. It's probably working "by accident" on o

[2020-08-03 22:27] #300 closed, assigned to reikdas

[2020-08-03 22:27] #301 closed, assigned to reikdas

[2020-08-03 22:27] #302 closed, assigned to reikdas

[2020-08-04 16:42] drahnreb opened #367 "Support for datetime[*] numpy dtype"
Currently, a pandas DataFrame with a column of eg. datetime[ns] dtype is resulting in an obscure ValueError:
`ValueError: cannot include dtype 'M' in a buffer`

[code]

[code]

[code]

[2020-08-04 17:08] jpivarski commented on #367
This is actually waiting on a pybind11 feature: it currently can't ingest datetime64 (`'M'`) or timedelta64 (`'m'`) arrays as `py::buffer_info`. I think that's being handled in pybind/pybind11#2078 or pybind/pybind11#2085 or both, I'm not sure. (Issue pybind/pybind11#1970 might also be related.)

Either way, we have two dtype enums ready and waiting:

https://github.com/scikit-hep/awkward-1.0/blob

[2020-08-04 19:09] drahnreb opened #368 "Support for partitioned parquet files in read_parquet"
Currently, reading from partitioned parquet datasets ([Partitioning](https://arrow.apache.org/docs/python/generated/pyarrow.dataset.Partitioning.html#pyarrow.dataset.Partitioning) and [partitioning](https://arrow.apache.org/docs/python/generated/pyarrow.dataset.partitioning.html#pyarrow.dataset.partitioning)) is not supported.

[code]

[code]

[code]

A simple [`ak.from_parquet(parquet_dir)` would

[2020-08-04 19:25] jpivarski commented on #368
Currently, "row groups" in a Parquet file are mapped to Awkward [PartitionedArrays](https://awkward-array.readthedocs.io/en/latest/_auto/ak.partition.PartitionedArray.html). Awkward PartitionedArrays can't be nested (the only type that can't), so I suppose that any Parquet partitions (multiple files) should be flattened at the same level as row groups (for instance, 3 partitions with 2 row groups

[2020-08-05 15:48] drahnreb opened #370 "Unintuitive slicing behaviour when slicing with Arrays"
Not sure if bug or feature.

Slicing by an array of indices would be very handy but currently fails (or is unreliable).

Minimal working example taken (mostly based on the README.md):
[code]
Maybe I am missing something here.
Eventually would be nice to achieve a slice from `startIndices` to `endIndicecs` _without_ creating boolean arrays of the entire length or a numba for loop.
[code]
Fails with

[2020-08-05 16:44] jpivarski commented on #370
Indexing can be legitimately confusing (also true of NumPy). I'll break this down to what I think you're asking.

First, the array of records can always be projected onto `"y"`. I tried a number of combinations and didn't see any trouble with that. For simplicity of discussion here, instead of talking about

[code]

which has type

[code]

we could talk about

[code]

which is

[code]

with type

[2020-08-05 18:06] drahnreb commented on #370
Great, thank you very much for that swift clarification.

I was particularly looking for the second explanations (overall my motivation for awkward as I am dealing with that sort of tasks a lot in the context of jagged arrays).

You can close this issue. Maybe the first part could be part of the [quickstart](https://awkward-array.org/how-to-examine-simple-slicing.html). Let me know if I can help f

[2020-08-05 18:17] drahnreb commented on #370
[code]
Throws an error with the same `array`:
`AttributeError: 'awkward1._ext.NumpyArray' object has no attribute 'starts'`

[2020-08-05 18:19] jpivarski commented on #370
Thanks for the offer! The stubs are there because I have to finish other projects (Uproot 4), which also need documentation—Awkward is half-there in that it has all the reference docs, and the ones in the Python API include examples.

If you submit a documentation issue with the examples you'd like to see fill the stub, I'll enter them into the stub. I don't have it set up as a wiki (whenever I do

[2020-08-05 18:20] #370 closed, assigned to nobody

[2020-08-05 18:24] jpivarski commented on #370
That's where you're getting into trickiness-squared. The different node types in a layout have different properties: [NumpyArray](https://awkward-array.readthedocs.io/en/latest/ak.layout.NumpyArray.html) represents rectilinear data, like NumPy, which has no need of `starts` and `stops`. [ListArray](https://awkward-array.readthedocs.io/en/latest/ak.layout.ListArray.html) is a fully general jaggedne

[2020-08-06 00:13] drahnreb commented on #370
Just realized that your suggested array slicing won't result in what I meant by index slicing.

This will result in a select of entire nested lists by a collection of indexes (`np.take`). But I meant to get items of each nested list by its respective index (similar to the second part of your clarification - just without a range).

For simplicity, let's reconsider:
Instead of accomplishing this / o

[2020-08-06 00:41] jpivarski commented on #370
You could use [ak.pad_none](https://awkward-array.readthedocs.io/en/latest/_auto/ak.pad_none.html) to _make_ each inner list have at least the right number of elements:

[code]

Then it would be legal to ask for `[0, 1, 2]` in the second dimension, because its maximum index, `2`, exists:

[code]

The Numpyian thing to do when given advanced arrays in two dimensions is to "iterate over them as one"

[2020-08-06 15:19] jpivarski commented on #350
# Awkward arrays as Pandas columns will be deprecated.

The next release will present a deprecation warning when you try to use an Awkward array in Pandas (as a Series or a DataFrame column) and it will be removed in 0.3.0.

The [ak.pandas.df](https://awkward-array.readthedocs.io/en/latest/ak.pandas.df.html) and [ak.pandas.dfs](https://awkward-array.readthedocs.io/en/latest/ak.pandas.dfs.html) fun

[2020-08-06 17:09] jpivarski commented on #173
#346 was merged.

[2020-08-06 17:09] #173 closed, assigned to ianna

[2020-08-06 17:14] jpivarski commented on #309
I think this is done; the card can be moved. (Unless you want to define "done" by having an appropriate set of proto-samples—though that could be a new card, too.)

[2020-08-06 17:17] jpivarski commented on #311
Done, as part of #364.

[2020-08-06 17:17] #311 closed, assigned to nobody

[2020-08-06 17:49] reikdas commented on #309
I am closing this. I'll make the appropriate set of proto-samples a new card.
(Closed by #307)

[2020-08-06 17:49] #309 closed, assigned to reikdas

[2020-08-06 21:59] jpivarski opened #375 "Include __FILE__ and __LINE__, maybe also VERSION_INFO, in all the C++ exceptions"
https://gcc.gnu.org/onlinedocs/cpp/Standard-Predefined-Macros.html

This would be incredibly helpful for interpreting user's bug reports. It's the missing link between Python exceptions and C++ exceptions. (Maybe the full stack trace is also missing, but the file and line number at the end are usually more important to me and long stack traces can sometimes be problems in themselves.)

Maybe to ge

[2020-08-07 13:11] jpivarski opened #376 "Don't forget to add a high-level ak.numbers_to_type function."
A high-level wrapper for the function @ianna added of the same name. It should go in src/awkward1/operations/structure.py.

[2020-08-07 13:23] ianna commented on #376
@jpivarski - I guess, it would replace `ak.astype` https://github.com/scikit-hep/awkward-1.0/blob/master/src/awkward1/operations/structure.py#L2696

[2020-08-07 13:36] jpivarski commented on #376
I see: it would just be renamed. That looks pretty easy.

[2020-08-07 15:12] #376 closed, assigned to nobody

[2020-08-10 22:30] jpivarski opened #383 "ak.numbers_to_type is setting buffer itemsize incorrectly"
@ianna Minimal reproducer:

[code]

Also, @henryiii suggested  better name: `ak.numbers_astype` (only for the high-level Python function; the low-level method can stay as-is).

[2020-08-10 22:31] jpivarski commented on #383
This also happens if you change type from `float64` to `float64`. It doesn't have to be different.

[2020-08-10 23:02] jpivarski commented on #383
Nevermind; fixed in #385.

[2020-08-11 00:35] #383 closed, assigned to nobody

[2020-08-11 00:49] jpivarski commented on #367
It's actually not a pybind11 error, it's a NumPy error:

[code]

and that's why we get an error here:

https://github.com/scikit-hep/awkward-1.0/blob/c41360532ed0e36660fcc918965f49451d1d3677/src/python/content.cpp#L1674

To work around this, we'd have to detect it with `array.dtype().kind() == 'M'` and then get the data pointer, shape, strides, itemsize, and mock up a format manually using the `py

[2020-08-11 00:53] jpivarski commented on #367
I'd like to thank you, @YannickJadoul, for your help in the above. Feel free to "unwatch" this thread, since giving you credit also pulled you into the GitHub issue as a side-effect.

[2020-08-11 02:46] hexiaoting opened #386 "Adding a "group by" operation (how general? only numbers/strings or also records/lists)?"
I want to get group by results on json data. How can I do it with awkward-array?

[2020-08-11 11:56] jpivarski commented on #386
We don't have a "group by" operation (Awkward is NumPy-like, rather than Pandas-like), though it wouldn't be a bad idea to add one. First, though, we'd have to have a concept of equality for arbitrary structures: if you want to group by some part of a data structure whose type is records or lists, rather than numbers or strings, we'd need something to tell us whether they're the same or not the sa

[2020-08-11 19:19] jpivarski opened #387 "Highlevel ak.Array, ak.Record, ak.ArrayBuilder __repr__ and __str__ methods must not have parameters"
So the body of these functions have to be moved to new underscored (private) methods that `__repr__` and `__str__` call.

[2020-08-11 22:51] #387 closed, assigned to nobody

[2020-08-14 10:35] raymondEhlers opened #391 "Requesting Awkward 0 → Awkward 1 cheat-sheet"
I've recently started switching over to awkawrd1, and I'd like to create a new array with the same layout (or just shape - I'm not yet sure if different content types are considered different layouts - say int vs float or even int8 vs int32). For example, I have a constant mass hypothesis that I want with every jagged four vector. Or a constant weight for each row. I'm happy to add a concrete exam

[2020-08-14 12:01] jpivarski commented on #391
Awkward 0's  `ones_like` was an internal method that was technically needed for some things. The `ones_like`, `zeros_like`, etc. are useful in NumPy because NumPy's arrays are mutable in-place, but Awkward arrays are immutable—you can only derive new values from old values.

With that in mind, if you want to create a new array with the same structure as the old but all the values have been replace

[2020-08-14 12:41] sjperkins opened #392 "Complex numbers (in ak.from_iter and elsewhere)"
Probably low priority, as ``awkward1.from_numpy`` does.

[code]

[2020-08-14 13:00] raymondEhlers commented on #391
Thanks for your detailed response Jim!

Ah, yes, of course - this is the super obvious approach now that you suggest it. I dunno why I didn't use this in awkward0 - I must have had some issues in discovering this, and `ones_like()` solved the issue, so I just moved on (I also didn't realize that ones_like() was internal). My apologies for the noise on something that is so obvious.

Admittedly I ma

[2020-08-14 13:12] jpivarski commented on #392
The unhandled dtypes are

   * `float16`: need to find a C++ library for it
   * `float128`: same problem
   * `complex64`, `complex128`: C++'s built-in `std::complex` can do this; it's just a matter of filling it in everywhere
   * `complex256`: complex _and_ non-standard floating-point type
   * `datetime64`, `timedelta64`: these require a little more work than the above, since we need to work a

[2020-08-14 13:14] jpivarski commented on #392
I totally missed the fact that this had been on the Awkward 0 repository. New development is in Awkward 1 only.

(All the things I said about handling NumPy dtypes only applies to Awkward 1; Awkward 0 isn't anywhere near as advanced.)

[2020-08-14 13:19] jpivarski commented on #391
I took the liberty of interpreting this as a request for an Awkward 0 → Awkward 1 cheat-sheet. For those users who are coming from Awkward 0, that would maximize discovery.

[2020-08-14 13:23] raymondEhlers commented on #391
Sounds great! Thanks Jim!

[2020-08-14 13:37] sjperkins commented on #392
Thanks for the detailed response @jpivarski and all the work that you've put in!

I initially regarded it as low priority because in the example I posted it seemed possible to construct an awkward array from a numpy array of complex numbers. Thus, a workaround seemed possible:

[code]

However, from your response I understand that you're saying that the C++ layer needs to change to handle complex

[2020-08-14 14:48] jpivarski commented on #392
In that case, I can give you some pointers, so that you can evaluate how big of a project it will be.

For the complex types, there are fortunately stubs everywhere: they throw `std::runtime_errors`, but that makes it convenient to find all the places where something needs to be inserted.

[code]

I just looked at these search results in context and none of them need any work except the ones in Nu

[2020-08-16 23:53] raymondEhlers opened #393 "Unintuitive results working with nullable data (from parquet)"
I've opened some trees with uproot4 and written the arrays in the parquet format using `ak.to_parquet` (from some quick tests that I ran, reading from parquet files seems much faster for doubly jagged arrays as compared to TTrees). When the parquet file is read back, from the docs I understand that the type is not exactly the same because the fields are nullable. This appears to lead to some unint

[2020-08-17 11:50] jpivarski commented on #393
Yeah, I would call this a bug. The Parquet file does change the type because everything in Parquet (and Arrow) is nullable—absolutely every level of every structure. Ideally, the Parquet writer shouldn't be creating useless bitmaps, because the format is capable of saying, "all values are valid" without creating a bitmap of "on" bits (255), but that's an efficiency issue in pyarrow.

So you do get

[2020-08-17 12:21] jpivarski commented on #393
Step 1: I've reproduced it:

[code]

so I won't need an example of how you wrote it to Parquet—the above works. (Also, it's entirely possible it's not the Parquet-writing that's at fault, but something about the BitMaskedArray. I'll try making one directly.

[2020-08-17 12:29] jpivarski commented on #393
Step 2: yes, it's a problem with [BitMaskedArrays](https://awkward-array.readthedocs.io/en/latest/ak.layout.BitMaskedArray.html), which are usually only created in conversions from Arrow or Parquet (most Awkward operations use [IndexedOptionArrays](https://awkward-array.readthedocs.io/en/latest/ak.layout.IndexedOptionArray.html), or [ByteMaskedArrays](https://awkward-array.readthedocs.io/en/latest

[2020-08-17 12:33] raymondEhlers commented on #393
Thanks Jim - your quick responses are always appreciated! By the time I saw the notification and got around to starting on a reproducer, you already managed it :-)

[2020-08-17 12:35] jpivarski commented on #393
(I find that if I don't deal with these things right away, other things intervene and I end up never getting back to them. If it's a bug, I don't want it to go unfixed.)

[2020-08-17 13:13] jpivarski commented on #393
The PR above fixes it:

[code]

When all tests pass, it will be merged into master, but the next release could be days from now (trying to include a lot of GPU developments). In the meantime, conversions of BitMaskedArray into other types of option-type arrays (ByteMaskedArray, IndexedOptionArray, UnmaskedArray) do work, and those other array types correctly handle ufuncs like `>`. One easy way to

[2020-08-17 13:34] raymondEhlers commented on #393
Outstanding, thank you Jim! I'll check out the master after the PR merges

[2020-08-17 13:35] #393 closed, assigned to nobody

[2020-08-17 13:36] jpivarski commented on #393
It's merged. Enjoy!

[2020-08-17 20:06] raymondEhlers opened #395 "Sliced arrays yields inconsistent values in numba jitted function"
When passing sliced arrays to a numba jitted function, I'm receiving inconsistent values in the array. It's probably easiest to see in the reproducer code:

[code]

This gives a truncated output of:

[code]

The trouble starts at i = 3. Based on the printed values from `parent_indices`, it should be 0 : -1, 1: 0 (checked outside of the jitted function). Instead, the values are incremented by 2. Th

[2020-08-18 00:18] #215 closed, assigned to jpivarski

[2020-08-18 14:48] jpivarski commented on #395
It's a bug.

Here's a simpler reproducer:

[code]

Output:

[code]

The IndexedArray is essential—without that, there's no bug. There's also no error if the IndexedArray is used alone, not nested within a ListOffsetArray. Apparently, the Numba implementation of the IndexedArray iterator (`for p in parent_indices`) is not correctly managing the indexing between ListOffsetArray and IndexedArray. I'l

[2020-08-18 14:59] jpivarski commented on #395
A ListOffsetArray is being added twice. These even-simpler reproducers show it:

[code]

with

[code]

prints

[code]

but

[code]

prints

[code]

The only difference between these two is that the first has ListOffsetArray offsets of `[0, 1, 5]` and the second has `[0, 2, 5]` (second list starts one later). In the first case, the second list starts `1` too late; in the second case, the second lis

[2020-08-18 18:09] #395 closed, assigned to nobody

[2020-08-18 18:20] nsmith- commented on #178
In a revision of NanoEvents, I started using the `behavior` attribute of high-level arrays to carry a sticky reference to an initial array, which the derived arrays can reference into using integers in a high-level behavior method. So, in summary, option 4 still seems to work reasonably well.

[2020-08-18 23:11] #175 closed, assigned to nobody

[2020-08-18 23:11] #291 closed, assigned to nobody

[2020-08-18 23:11] #341 closed, assigned to nobody

[2020-08-19 04:09] #375 closed, assigned to nobody

[2020-08-19 12:40] drahnreb commented on #368
I found a rather weird behaviour that seems to be linked to partitioned parquets and my suggested "workaround".

As this is not a supported feature, I did not want to open a bug report but figured it's worth sharing as it took me a while to figure out that the above seems to cause the following issue.
Previously loaded partitioned data and slicing it (on a low level) will result in a `ValueError:

[2020-08-19 14:31] jpivarski opened #400 "Writing a non-minimal categorical/dictionary to Parquet corrupts it"
Moving @drahnreb's comment to a new issue, because it's unrelated to Parquet file partitioning. Original text below:

I found a rather weird behaviour that seems to be linked to partitioned parquets and my suggested "workaround".

As this is not a supported feature, I did not want to open a bug report but figured it's worth sharing as it took me a while to figure out that the above seems to cause

[2020-08-19 15:35] jpivarski commented on #400
Thanks for reporting this issue, though I have to complain a bit about the reproducer: the relevant part is between the `sliced_arr`, which is valid, and the `loaded`, which is not. Building arrays from handmade layouts is supported (it's part of the public API), but it's exactly the sort of thing that leads to validity errors.

However, in this case it really is a bug: there's an error in the wri

[2020-08-19 15:36] drahnreb commented on #400
Thanks for moving it Jim.

I think it is writing _and reading_ as changing the partitioning (?) will reverse the effect.

Remove the partition here to:
[code]
will invalidate the manipulations for sliced:
[code]

while
[code]

So maybe also low level slicing or subsequently `is_valid()` does not invalidate something in the first place?

[2020-08-19 15:57] jpivarski commented on #400
I've reported this as [ARROW-9801](https://issues.apache.org/jira/browse/ARROW-9801). Meanwhile, I'll look into fixing things on our side so that we don't hit this, and gain "categorical" as a distinct thing from IndexedArray.

[2020-08-19 17:41] jpivarski commented on #400
Labeled a "feature request" because this is not our bug. Specialized categorical data would be a new feature.

Nah, that's weird. The system (Awkward + Arrow) as it stands corrupts data. I should call it a bug. The categorical data type is motivated by making Parquet output not wrong. I'll label it as a bug.

[2020-08-19 17:46] jpivarski opened #402 "Make Form::getitem_field correctly mirror Content::getitem_field"
I closed PR #390 as-is because it solves @nsmith-'s problem, but `Form::getitem_field` is defined in a non-intuitive way.

https://github.com/scikit-hep/awkward-1.0/blob/6a3e6bed7fb5312d3190f2299abca71299b1a86c/include/awkward/Content.h#L226-L234

This issue is to clean that up and make sure that @nsmith-'s tests still work. Maybe we should add `Form::getitem_fields` as well, since it's nearly the

[2020-08-19 18:46] #400 closed, assigned to nobody

[2020-08-19 20:28] jpivarski opened #404 "Validity-checking should depend on known parameters, like "string" and "categorical"."
The validity rules can be defined in Python and passed into C++ in much the same way that `__typestr__` is passed from behavior into the C++ `typestr` method, and callbacks from C++ into Python can be enabled with a similar technique as ArrayGenerator.

But basically, [ak.is_valid](https://awkward-array.readthedocs.io/en/latest/_auto/ak.is_valid.html) and [ak.validity_error](https://awkward-array.

[2020-08-20 08:54] raymondEhlers commented on #395
Thanks Jim!

[2020-08-20 15:16] jpivarski commented on #400
This was accidentally closed before because I repurposed a PR to get some updates into a release. But it's really done now, in #403.

The fix involved creating a new high-level type: categorical. I had been saying that [IndexedArray](https://awkward-array.readthedocs.io/en/latest/ak.layout.IndexedArray.html) nodes are equivalent to categorical data, but they don't guarantee that the their `content

[2020-08-20 17:57] drahnreb commented on #400
This looks great! I will try it with a dataset shortly.

I'm interested in writing `ak.from_pandas`, kindly guide me through.

[2020-08-20 18:33] drahnreb commented on #400
@jpivarski Jim, I opened a draft pull request according to contribution guideline. Would appreciate your advises, you should be able to edit the PR comment.

[2020-08-20 18:34] jpivarski commented on #400
Cool! The `ak.to_pandas` function is here:

https://github.com/scikit-hep/awkward-1.0/blob/83232704d7cd5770804f3ece75559cd3de59eaf3/src/awkward1/operations/convert.py#L3467-L3685

though some of the issues are different: Awkward → Pandas requires, in general, multiple DataFrames to be lossless, and so there's a lot of logic there to determine which DataFrame each column should go in to make a mini

[2020-08-21 20:56] henryiii opened #411 "pip installing awkward causes warning in brew about unexpected files being present"
After doing a `pip install awkward-1.0`, I get the following warnings from brew:

[code]

I'm still wrestling with the best place to put headers and libraries, but for now, might it be a good idea to split the package into two parts; a python-only part (with the compiled python modules), and a "using python packaging to distribute a non-python module" one? For example, if you wanted to add awkward

[2020-08-21 21:18] jpivarski commented on #411
There's already a copy of all the libraries inside the Python module's directory, which no one can complain about—I can put any data files in there. Maybe the header files should go in there, too, and then maybe

[code]

could output

[code]

like a `XYZ-config` executable?

[2020-08-21 21:24] henryiii commented on #411
This might be the best solution. There is a dedicated "headers" slot in wheels (though it tends to go to `<>/include/site/python3.6`), I'm not sure if that's really used much; unless you hack it, it can't do nested folders 🤦 ).

Awkward1's CMake doesn't seem to support exporting targets for `find_package` `CONFIG` or use as a submodule, is that intended eventually? That might affect where we want

[2020-08-21 21:25] henryiii commented on #411
Don't know if this is still valid, but: https://blog.ionelmc.ro/presentations/packaging/#slide:16

[2020-08-22 13:57] drahnreb commented on #400
I just tried this with a dateset and `0.2.33` and I am still getting a `ValueError: in IndexedArray32 attempting to get 100, index[i] >= len(content)` on a categorical field when doing the following:
[code]
where `array` is valid and the arrow `table` consists of:
[code]
I think I need to rebuild the categorical as you described as the data seems to be corrupt already. Rebuilding it manually will

[2020-08-22 14:11] drahnreb commented on #400
Ok, a manual categorical fixed it.
So this can serve as a workaround (_before_ any data manipulation) for corrupted arrow/parquet data, until [ARROW-9801](https://issues.apache.org/jira/browse/ARROW-9801) is fixed:
[code]

(_as long as the content is consistent and categorical indexes are just incomplete but not completely corrupted_)

[2020-08-22 14:49] jpivarski commented on #400
Yes, this doesn't fix any files created before the bug fix because it was a writing bug, but a reading bug.

I don't know why the above workaround works—I'd have to think more about it. It would be better to generate new files if possible—that works make it easier to know what's going on.

[2020-08-25 08:55] sjperkins opened #415 "ArrayBuilder.append behavior can be confusing: what to do about union of T and T in snapshots?"
Thanks for adding the ``to_parquet`` writing functionality.

I've been trying it out and run into a couple of issues. Here is a test case:

[code]

With the float32 parametrization the following error occurs:

[code]

With the complex64 parametrization, the following error occurs:

[code]

The failure on complex numbers is understandable given that the Arrow doesn't seem to natively support Comple

[2020-08-25 13:39] jpivarski commented on #415
I've run into a few more cases of structures that can be converted to Arrow but not from Arrow to Parquet (https://github.com/scikit-hep/awkward-1.0/blob/59499202e539b283d29419965efbe6f78676371a/tests/test_0341-parquet-reader-writer.py#L237-L247). The way to fix them is to fix the pyarrow/Arrow code, so I'd think these things should be forwarded to the Apache Arrow JIRA.

But since they're not bug

[2020-08-25 14:35] sjperkins commented on #415
Indeed, I can drive the complex number issue with the Arrow/Parquet projects.

However, I played with the reproducer some more, and directly placing float32 numpy arrays (as opposed to wrapping them with Awkward Arrays) in the builder works:

[code]

I don't clearly understand the difference between the wrapped and plain numpy case.

[2020-08-25 14:46] sjperkins commented on #392
xref complex64 + complex128 support in Arrow: https://issues.apache.org/jira/browse/ARROW-638

[2020-08-25 14:53] jpivarski commented on #392
My reading of that is that it's legal in the format, but hasn't necessarily been implemented yet. The discussion in the comments are just ideas about how to do it in C++; maybe this is followed up on in another issue.

Nevertheless, I need to get complex numbers and datetimes into Awkward anyway. When C++ Arrow-Parquet is ready (maybe already), then we can take advantage of it, but these types wou

[2020-08-25 15:16] jpivarski commented on #415
Aha! what's different here is that the first case produced a union (of floats and floats):

[code]

and the second case did not:

[code]

That's because when you `ArrayBuilder.append` an Awkward Array, it uses that to make references into the existing array so that complex structures can be added quickly (as a view). Applying `ArrayBuilder.append` to a non-Awkward sequence, such as a NumPy array,

[2020-08-25 16:14] jpivarski commented on #415
The most flagrant error is now fixed: `ArrayBuilder.append(some sequence)` appends the whole sequence, including its begin-list and end-list. Somehow, this has been correct in Numba but not in Python, which is not the way it usually goes.

On the original issue about the "union of T and T", I'm going to add an internal `simplify` operation, so that any mergable unions get merged. This adds a perfo

[2020-08-25 16:34] jpivarski commented on #415
When #417 is done, it will make your case writable to Parquet. Appending from two different arrays will produce a simple type, like `int64` below, rather than `union[int64, int64]`. This is writable to Parquet. (The reason the type has options in it when read back is because Arrow and Parquet data are nullable at every level.)

[code]

Referencing preexising data was a late addition to ArrayBuilde

[2020-08-25 19:01] #415 closed, assigned to nobody

[2020-08-26 07:29] sjperkins commented on #415
Thanks for addressing this and for the clear explanations!

This is useful to know. I'm still getting to grips with the Awkward/Arrow/Parquet ecosystem so these pointers are helpful.

[2020-08-27 14:09] nikoladze opened #418 "Multi dimensional indexing goes wrong for ListOffsetArray with numpy array content that is in fortran order"
Not sure if this is supported, but if i manually construct a `ListOffsetArray` that uses a numpy array in fortran order as content (happened to me accidentally since the output of some np operations return fortran ordered arrays) then things go wrong when i try multidimensional indexing:

[code]

The underlying `NumpyArray` seems to be aware of the fortran order strides and indexing it works as ex

[2020-08-27 14:49] TheMasterRoot opened #419 "Pip3 install awkward1 on raspibian error"
im trying to install the lib on a raspibian buster  but i cant

im usinh python 3.7 and cmake 3.13
some one can help me ?

[2020-08-27 17:06] jpivarski commented on #418
Thanks for catching this! Fortran-order NumpyArrays are supported, since they come for free with NumPy's `shape`, `strides` mechanism, which is needed for any sliced NumPy arrays. (This `shape`, `strides` thing is very clever! Worth reading about if you don't already know about it.)

As seen in PR #420, there were two errors: the calculation of `NumpyArray::bytelength`

[code]

which showed up in

[2020-08-27 17:27] jpivarski commented on #418
Interestingly, I noticed along the way that NumPy's `nbytes` doesn't really describe how many bytes a sliced array covers, either:

[code]

Using the algorithm I implemented for `NumpyArray::bytelength`, the length of the buffer is `(shape[0] - 1)*strides[0] + (shape[1] - 1)*strides[1] + itemsize`:

[code]

but `ndarray.nbytes` says

[code]

(which is `shape[0]*shape[1]*itemsize`). If you look at

[2020-08-27 18:16] #418 closed, assigned to nobody

[2020-08-28 07:38] nikoladze commented on #418
Thanks a lot for the quick fix! I didn't have a use case in mind where fortran ordering would be used for efficiency - i just didn't notice that i was using fortran ordered arrays as they came out of a numpy operation (`np.argwhere`). So returning a C-contiguous copy after `__getitem__`  is perfectly fine.

Indeed the `strides`, `shape` logic is quite interesting!

[2020-08-31 15:51] #186 closed, assigned to nobody

[2020-09-02 20:14] zoyt opened #430 "Installing (and then importing) awkward1 on Windows"
Hello,

I just found this library (looks awesome, looking forward to using it), but I am getting an error on import. Installing with pip raised no problems that I recall.

I ran `import awkward1 as ak` in jupyter, and get the error:

![image](https://user-images.githubusercontent.com/64329370/92030465-ecbe0f00-ed1b-11ea-861b-6428b86601c5.png)

What causes this error, and how might I solve it?

Tha

[2020-09-02 20:39] jpivarski commented on #430
Something went wrong in the installation procedure: the `awkward1._ext` (Python extension module providing compiled Awkward routines) was not compiled or not moved into its final installation position.

From the error message ("DLL load failed"), it looks like you're using Windows. If you're using pip to install and you have one of these combinations,

   * 32-bit Windows, Python 2.7
   * 64-bit W

[2020-09-03 20:10] zoyt commented on #430
Interesting. I am running Python 3.8.3 on 64-bit Windows, installing other libraries recently has been fine.

I will readily admit that I need to do more reading up on how wheels and other structures in python actually work, and how they are build so that I can have more useful conversation when I encounter issues.

I can't tell in your post whether you are asking me to further look into the insta

[2020-09-03 21:37] jpivarski commented on #430
I can't diagnose an installation error—it has something to do with particular files in particular places on your computer, which I don't have access to.

Python installation procedures have too much freedom:

![](https://imgs.xkcd.com/comics/python_environment.png)

so it often helps to pick only one way of installing things and stick to it. Personally, I use Miniconda—packages that can only be in

[2020-09-03 21:50] jpivarski commented on #320
@ianna Even though this argsort bug only happens intermittently in MacOS, it's a sign that the other cases (Linux and Windows all the time, MacOS most of the time) are relying on a happy accident of undefined behavior. Something is wrong in argsort that needs to be fixed. Until that happens, I'll need to remove high-level access to argsort to prevent data analysts from using it and possibly gettin

[2020-09-04 15:05] nsmith- opened #432 "Adding fields to lazy records causes over-materialization"
Starting with:
[code]

If I create a lazy array and call some method that should only need the offsets of the ListArray, everything works as expected:
[code]
returns
[code]

but if I add a few new derived fields to the record, then for some reason the `y` field gets materialized:
[code]

returns
[code]

Possibly related is the fact that `lazy.layout` in the second instance looks rather peculiar:
[

[2020-09-04 19:11] nsmith- opened #434 "argmin/max with keepdims=True returns regulararray"
If I run
[code]
the output is of fixed size in the last axis, and as such it cannot be used in a slice:
[code]

A workaround is to use `ak.singletons`:
[code]

[2020-09-05 06:53] ianna commented on #320
@jpivarski - I could not reproduce it :-(
I'm going to reimplement kernel functions for both `sort` and `argsort`.

[2020-09-06 16:01] blipblipgo opened #437 "Handle stream-of-many-JSON files? Options for `"NaN"` strings as NaN floats?"
This is my first time using awkward and json. I was analyzing the data related to the paper by Guest, Collado, Baldi, Hsu, Urban, Whiteson
viz. “Jet Flavor Classification in High-Energy Physics with Deep Neural Networks” . Each time I was trying to do the conversion from json to ak array : **ak.from_json('dataset.json'),**  I was getting the error "**ValueError: JSON error at char 2453: The docume

[2020-09-07 15:21] jpivarski commented on #437
The problem is that this file technically isn't JSON: it's a stream of many JSON objects. Applied to the same data (taking care because the file is huge), Python's `json.loads` says,

[code]

Python gives a little more information: the beginning of the second object is on the beginning of the second line of text. Though not satisfying the JSON specification, this file fits a widely used format tha

[2020-09-07 17:01] blipblipgo commented on #437
Thanks Jim for your time and effort. I just skimmed through your reply, lemme work through it.

[2020-09-08 01:57] #411 closed, assigned to nobody

[2020-09-08 02:10] jpivarski commented on #411
On all three systems (Linux, MacOS, Windows), the header files, static libraries, and shared libraries are now strictly contained within the Python package. I assume I can put anything that I want in there, and uninstalling is a one-directory cleanup. That complicates dynamically linking against `libawkward.so` because now a path has to be established, but that's the price.

Awkward now has a conf

[2020-09-09 14:03] jpivarski opened #442 "Performance of ufuncs"
Raised by @tamasgal in https://github.com/scikit-hep/uproot4/issues/90#issuecomment-689459702:

Original dataset: http://131.188.167.67:8889/doubly_jagged.root

[code]

As Parquet (faster to download and read into Awkward): https://drive.google.com/file/d/1JbiFaBaouH_amUxvGnsSHegYAQjRTJ8u/view?usp=sharing
As Pickle (larger, but retains structure: Parquet adds option-type, which complicates the per

[2020-09-09 14:13] tamasgal opened #443 "Access (initialisation) overhead"
The following issue arose while processing larger ROOT files with `uproot4` where the iterative read-in is required due to memory limitations. The analysis approach is event-by-event, which means that during the iteration, many branches needs to be accessed  while the amount of data per iteration is quite low (e.g. awkward-arrays with a few hundred or thousand entries).

The main problem is that s

[2020-09-09 14:14] tamasgal commented on #442
You were faster a little bit! Here is a bit more detailed issue: https://github.com/scikit-hep/awkward-1.0/issues/443

[2020-09-09 14:21] jpivarski commented on #442
Looking at your issue, I don't see how they're related. They might be related. I need to do a quick profile of this because there's a lot of linear time here that isn't due to NumPy, and I can't imagine what it might be.

[2020-09-09 14:59] tamasgal commented on #442
Yes you are right, my issue is more related to the overhead when dealing with tinier bits of data.

[2020-09-09 16:09] reikdas opened #445 "Add flags to cuda-build.sh - use system nvcc, nvcc's gencode flag"
We should add a flag to allow `cuda-build.sh` to use the system nvcc to compile the CUDA source files, instead of always using docker to do so.
Also, it would be good to allow the user to set their own options to nvcc's `--gencode` flag - https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#options-for-steering-gpu-code-generation-generate-code

[2020-09-09 16:18] jpivarski commented on #442
PR #444 fixes the linear scaling issue:

![quick-plot-2](https://user-images.githubusercontent.com/1852447/92623284-a290dc80-f28b-11ea-9a33-144257b0b5ee.png)

The initial implementation conservatively assumed that ListArray/ListOffsetArray's starts/stops/offsets are always incompatible and have to be normalized to the same structure before applying the ufunc. That's why the discrepancy with NumPy

[2020-09-09 16:20] #442 closed, assigned to nobody

[2020-09-09 16:49] jpivarski commented on #443
PR #444 fixed a linearly scaling performance bug in handling jaggedness. All of your examples here are non-jagged, so that doesn't apply.

In issue #442, the overhead of doing a binary ufunc between a doubly jagged array and a scalar is about 500 µs. In these examples of a binary ufunc between a non-jagged array and a scalar is 144 µs. That's not too different, considering that the metadata-handli

[2020-09-09 17:00] jpivarski commented on #443
The reason that the conversion to a NumPy array is not instantaneous is that it has to check to see if it's legal—i.e. if the data are rectilinear. `ak.Array.__array__` calls [ak.to_numpy](https://awkward-array.readthedocs.io/en/latest/_auto/ak.to_numpy.html), which does not return NumPy `dtype="O"` type arrays: it raises an error if the data aren't shaped right.

Perhaps it's worth investigating

[2020-09-09 17:16] jpivarski commented on #443
Since this issue is about small arrays (100 entries is very small!), I'm going to close it. I intend to focus more on performance issues next year, after Awkward 0 and Uproot 3 are fully and finally retired, but even then the performance issues will be the linearly scaling ones. Only overwhelmingly bad constant-time scaling issues will be addressed (which the 5 ms for NumpyArray → ndarray might be

[2020-09-09 17:16] #443 closed, assigned to nobody

[2020-09-09 17:30] tamasgal commented on #443
Thanks Jim, that `np.asarray(Awkward.Array().layout)` is very helpful and the way to go. This issue is anyways very minor and specific to this particular analysis implementation I am about to review, so no worries!

😉

I wish I had a bit more time to also invest in understanding the internals of awkward1 or even to contribute; I'll try harder in future.

[2020-09-09 17:34] jpivarski commented on #445
Is the download or storage of the Docker image a problem? Using the system nvcc could be a non-default option.

I had considerable trouble installing an nvcc that is consistent with my compiler (gcc) because I use conda to install a compiler. There are two ways to install nvcc with conda; the one that worked involved downloading a 6 GB install script. (The conda package was 4 kB, but the "installi

[2020-09-09 17:36] tamasgal commented on #442
Awesome, thanks for both the implementation and the fix!

...and of course for the detailed description of the whole problem

[2020-09-09 19:06] #320 closed, assigned to nobody

[2020-09-09 19:29] jpivarski commented on #445
By the way, if you want this (item 1, the flag for native nvcc), go ahead and do it.

The cuda-build.sh script is pretty simple, so adding a second option in an order-independent way would mean having to check both orders—beyond that, we should think about real solutions. But while we're still talking about just two flags, we can do the hacky thing and check all combinations of order (both of them

[2020-09-09 20:34] reikdas commented on #445
It just seems weird that we need docker to compile the CUDA code. I understand that we need it for AWS, but I feel that we should still provide a way to use the system nvcc to compile the code.

Thanks!

The bytecode generated by nvcc if no flags are specified is the lowest supported architecture and compute values for the installed version of CUDA. Architecture is backwards compatible - code comp

[2020-09-09 21:17] jpivarski commented on #445
Okay, but we have to compile for the least common denominator because the wheel we deploy could be used anywhere. (Users with hardware that's too old for CUDA 9.0 are out of luck.) We don't have any plans for users to be able to compile their own copy of awkward1-cuda-kernels: if that's what you have in mind, that would be a new path, and a _very_ tricky one to get right.

[2020-09-10 04:49] #434 closed, assigned to nobody

[2020-09-10 05:01] jpivarski commented on #434
Actually, "singletons" was created (along with "firsts") because I hadn't thought of using `keepdims=True`!

The original rationale for having `keepdims=True` return regular-typed lists was because I knew the length was always equal to 1. However, it makes more sense to keep it the same as whatever the dimension used to be.

Additionally, regular-typed lists should remain regular-typed when reduci

[2020-09-10 06:56] reikdas commented on #445
I just realised that users will be getting the compiled CUDA kernels from PyPI and only developers will need to compile the CUDA source code using `cuda-build.sh`. This definitely removes any requirement for the second feature request (user defined `gencode` values) and reduces how strongly I felt about adding a choice for using the system nvcc - if I decide to add it, it will definetely be after

[2020-09-10 12:10] jpivarski commented on #445
If you're not planning to do it right away, let's close the issue. If at any point you think it would help you to add it, add it in a pull request and I'll check it there. That helps to keep the issues board clear, which I need to prioritize work.

(Actually, I'll close it now so we don't forget.)

[2020-09-10 12:10] #445 closed, assigned to nobody

[2020-09-11 17:29] jpivarski commented on #321
Not necessary.

[2020-09-11 17:29] #321 closed, assigned to nobody

[2020-09-11 19:54] reikdas commented on #308
The new categorization of kernels by parallelizability -

**Embarrassingly Parallel**

1. awkward_Index8_to_Index64
2. awkward_IndexU8_to_Index64
3. awkward_Index32_to_Index64
4. awkward_IndexU32_to_Index64
5. awkward_index_carry
6. awkward_index_carry_nocheck
7. awkward_slicemissing_check_same
8. awkward_carry_arange
9. awkward_Identities_getitem_carry
10. awkward_NumpyArray_contiguous_init
11. a

[2020-09-17 22:57] jpivarski opened #457 "Removing ufunc-broadcasting across record fields"
Currently, all ufuncs are broadcasted across all fields of a record:

[code]

This is causing some confusion because the fields of a record have qualitatively different meanings. Some are trigger booleans, some are momenta, some are ML-derived isolation variables, some are strings...

[code]

Furthermore, when @henryiii is writing [vector](https://github.com/scikit-hep/vector), he has to distingui

[2020-09-18 14:40] nsmith- commented on #457
For the _record_ I did propose also to only disable ufuncs on arrays where `layout.purelist_parameter("__record__") == None` but I learned that this name is used for other purposes than just defining the desired behavioral mixin (e.g. if multiple differently-named record is encountered in ArrayBuilder, then the resulting array will be a union of each record type rather than a single record type wi

[2020-09-18 14:48] nsmith- opened #459 "Union of compatible types does not simplify if parameters are set"
Consider
[code]
Then a common operation might be to mask certain values and replace them, e.g.
[code]
but the union type is unnecessary and can be troublesome. It's not clear if we should throw away or propagate the parameters, but either way it would be nice to be able to simplify this type.

[2020-09-18 15:17] jpivarski commented on #457
Also, I want to keep these rules of "what applies when" as simple as possible, to minimize surprising behavior.

[2020-09-18 15:20] jpivarski commented on #459
Types are different if any of their parameters are different—this is what makes a list of numbers different from a string.

But perhaps that definition could be reduced to "types are different if their `__array__` or `__record__` parameter is different."

I know that you put documentation into the parameters; that's something that shouldn't change a type.

Broadening the definition of type-equalit

[2020-09-18 15:27] nsmith- commented on #459
Good point about `__array__` or `__record__`. Since those are the two (well, also `__doc__` but we know that is ignorable) parameters that awkward1 itself readds to decide how to treat the array, they should not disappear.
I think probably the most sensible output in the case where the union doesn't have any of the above is to have no parameters. Users can always add their favorite parameters back

[2020-09-18 15:41] jpivarski commented on #459
So the rules would be,

   * if arrays have different `__array__` or `__record__` parameters, they are not equal;
   * if they otherwise have different parameters, the types can be equal, but merging (concatenation, option-simplify, or union-simplify) removes parameters other than `__array__` and `__record__`.

[2020-09-18 15:59] nsmith- commented on #459
I think that makes sense, would welcome other opinions though

[2020-09-18 20:21] #350 closed, assigned to nobody

[2020-09-18 20:29] jpivarski commented on #350
The next release I deploy will be 0.3.0 and will not have the Awkward-as-Pandas-column feature.

[2020-09-19 13:16] Superharz commented on #430
Hello,

I just tried to run uproot4 for the first time and I think to have run into the same error:

![grafik](https://user-images.githubusercontent.com/11306732/93667906-9bd34800-fa89-11ea-8ead-ab4f8c7e7881.png)
![grafik](https://user-images.githubusercontent.com/11306732/93667952-be656100-fa89-11ea-8482-7978354c49be.png)
![grafik](https://user-images.githubusercontent.com/11306732/93668041-506d6

[2020-09-19 13:57] jpivarski commented on #430
You're using Python 3.8 and (I assume) Windows 64-bit, so I just manually downloaded the appropriate wheel from pip:

https://files.pythonhosted.org/packages/21/15/8b710df9cdd88be9fbace2a1b85c6453da60d6574d352a295353c2614c12/awkward1-0.2.38-cp38-cp38-win_amd64.whl

and checked inside: it has a `_ext.cp38-win_amd64.pyd` file.

Could you list `C:\ProgramData\Anaconda3_8\envs\work\lib\site-packages\a

[2020-09-19 14:36] Superharz commented on #430
Yes. I'm using Windows 10 v. 1909 64-bit.

The files in `C:\ProgramData\Anaconda3_8\envs\work\lib\site-packages\awkward1\_ext.*` are identically to the three you named:

![grafik](https://user-images.githubusercontent.com/11306732/93669669-0ee2bb80-fa96-11ea-82f2-a22405a43611.png)

I already tried the conda-forge version and the error stays the same (it's the second and third picture from my first

[2020-09-19 14:51] jpivarski commented on #430
Thanks for checking. I pinged @gordonwatts and @kpedro88 because they are two Windows power-users that I personally know, but now I also posted a more general call for Windows testers on https://gitter.im/HSF/PyHEP .

Without knowing of any successful installations, I don't know if the Windows wheels are broken for all Windows users or if there's something particular about your two computers. (I s

[2020-09-19 15:31] Superharz commented on #430
I tried to build awkward1 locally. I don't know if I did it correctly as I'm not used to building Python Packages from source.
Anyway, it results in the attached error:

[myoutput.txt](https://github.com/scikit-hep/awkward-1.0/files/5250105/myoutput.txt)

[2020-09-19 18:45] jpivarski opened #466 "Can "cmake" be removed from pyproject.toml?"
@henryiii Is this a relic of our original attempt to base Awkward's compilation on Scikit-Build?

https://github.com/scikit-hep/awkward-1.0/blob/e4932ec4c5c57b5731e609f1d6fbfdc4a439e7ea/pyproject.toml#L5

It might be causing #430 because the cmake pip package depends on Scikit-Build and Scikit-Build doesn't support Windows (in Cygwin).

Do the dependencies declared in pyproject.toml get installed

[2020-09-20 01:40] Superharz commented on #430
The error stays the same on a Python 3.7 enviroment.

[2020-09-20 03:48] jpivarski commented on #430
I've been asking around about this. Other Windows users have hit other errors (couldn't compile with Cygwin, but we don't want it to compile at all, we want it to pick up the precompiled wheels) and still others have had no problems installing at all. I've been wondering if the Windows version matters (which version do you have?), but instructions on Python packaging for Windows only describe depe

[2020-09-20 03:51] jpivarski commented on #430
In case it suggests anything, the libraries you have but can't import were compiled with "Visual Studio 15 2017".

[2020-09-20 15:00] Superharz commented on #430
I noticed the following:

* Renaming `_ext.cp38-win_amd64.pyd` to something else results in `ModuleNotFoundError: No module named 'awkward1._ext'`
* Changing the import order in `layout.py` makes no difference. The error occurs by whatever is imported first from `_ext`

I tried the following:

* Installed the latest updates for W10 1909 -> No difference
* Added `Anaconda3\Library\bin` to my system

[2020-09-21 11:14] chrisburr commented on #430
([copying over from gittter](https://gitter.im/HSF/PyHEP?at=5f6841a7d993b837e078addc))

It looks like the wheels are linking to the debug runtime instead of the release one:

![image](https://user-images.githubusercontent.com/5220533/93760294-001e1500-fc0c-11ea-88ab-834cf0911703.png)

Downloading these DLLs fixes the problem and if I check the build logs I see they contain `-- Install configuratio

[2020-09-21 13:46] jpivarski commented on #430
On Gitter, I was suspicious that it's a "compiling in Debug vs Runtime" issue, but this suggests that it is:

https://social.msdn.microsoft.com/Forums/vstudio/en-US/06b66cae-d010-441d-bc72-64a8c7cd65bc/missing-vcruntime140ddll-and-ucrtbaseddll?forum=visualstudiogeneral

I'll look into that.

[2020-09-21 13:53] gordonwatts commented on #430
Just realizing I was tagged on this - sounds like from @chrisburr a possible root cause has been found. Let me know if you want me to do test anything, @jpivarski - in general, I've not moved any of the code I used over to awkward1.

In response to an earlier question about file types:

- .dll - contains the actual code that is run.
- .lib - Exactly what is in here depends on your build process. I

[2020-09-21 17:42] jpivarski commented on #430
@gordonwatts Thanks for the explanation!

In Linux and MacOS, we include both static and dynamic link libraries with the intention of letting [C++ projects link against the pure C++ parts](https://github.com/scikit-hep/awkward-1.0/tree/master/dependent-project), so this is a good reason to keep the .lib and .exp for awkward.dll and awkward-cpu-kernels.dll, but perhaps not _ext.dll (the Python inte

[2020-09-21 17:52] jpivarski commented on #430
@Superharz and @zoyt, I managed to get the build process to say

[code]

instead of "Debug", so maybe it will look for non-debug versions of `MSVCP140D.dll`, `VCRUNTIME140D.dll`, and `ucrtbased.dll`. The files are in

https://dev.azure.com/jpivarski/Scikit-HEP/_build/results?buildId=4279&view=artifacts&type=publishedArtifacts

(NOT on PyPI; this is a testing area before deploying.) Could you unins

[2020-09-21 18:14] Superharz commented on #430
I downloaded the wheel from Azure:

The `.dll` files look good:

![grafik](https://user-images.githubusercontent.com/11306732/93804572-cd454280-fc46-11ea-8a61-ce6b44d7ae76.png)

The import throws no error:

![grafik](https://user-images.githubusercontent.com/11306732/93804616-dfbf7c00-fc46-11ea-8461-1427d366fe06.png)

[2020-09-21 18:22] jpivarski commented on #430
That's a very good sign! Here's a minimal but non-trivial test to be sure that we're using the C++ part:

[code]

Does that work? If so, then I'll deploy this release and it will be available as a regular thing.

[2020-09-21 18:32] Superharz commented on #430
It seems to work:

![grafik](https://user-images.githubusercontent.com/11306732/93806491-8147cd00-fc49-11ea-894b-4c86166308c5.png)

[2020-09-21 18:38] jpivarski commented on #430
Then I think it's in good shape. I'll keep this issue open until the new release is deployed (0.3.0), which should be within an hour or so.

Thanks for bearing with us while we struggled to figure this out.

(And thanks @chrisburr: you figured out the key piece, the fact that the library was being released in debug mode. I think it compiled both debug and release, because the final fix didn't chan

[2020-09-21 20:55] jpivarski commented on #430
The Windows wheels for this release are out. I had trouble with the PyPI limit and had to remove old releases (and [ask for an increase](https://github.com/pypa/pypi-support/issues/630)), so the release still isn't finished—it will be another half hour at least.

It should be possible to do a regular `pip install` now, though you don't strictly need to because the official wheel is no different fr

[2020-09-21 20:55] #430 closed, assigned to nobody

[2020-09-21 21:06] jpivarski commented on #466
This is the case in the latest release (though I think the source tarball hasn't been deployed yet).

[2020-09-21 21:06] #466 closed, assigned to nobody

[2020-09-21 21:14] henryiii commented on #466
I mentioned this on slack because I have not had full internet until today. If a user can't get the Windows wheel, they can manually set up a build environment (including putting CMake in the path), then they can build with `--no-build-isolation`. Or they can manually install Scikit-Build, which will enable them to install CMake from the CMake SDist, as long as they have the requirements to build

[2020-09-21 21:41] jpivarski commented on #466
I'm putting that back in #470. I remembered at the last minute that this was an issue, but I didn't remember how it wasn't resolved. There are too many things in-flight, I think I opened 6 one-line PRs yesterday.

[2020-09-23 20:54] jpivarski opened #472 "Update deploy procedure, possibly adopt cibuildwheel"
This hack is no longer needed:

https://github.com/scikit-hep/awkward-1.0/blob/4ba42ac43707555d5847a50deb200b6f157f78bd/.ci/azure-deploy-awkward.yml#L111-L112

Reported by @henryiii.

But maybe we should go further and adopt [cibuildwheel](https://github.com/joerick/cibuildwheel) (not sure what that involves).

[2020-09-23 21:11] henryiii commented on #472
(I can help with that, probably next week)

[2020-09-26 21:54] jpivarski opened #2993 "ak.zip needs to check for empty input and do something appropriate"
[code]

The problem is in `awkward1/operations/structure.py", line 348, in zip`; there needs to be a check for length zero arguments.

This ought to be super easy.

[2020-09-28 21:56] vvolkl opened #476 "Build with external PyBind11"
As far as I can tell, the CMakeLists.txt of this project makes it fairly hard to use an existing install of pybind11. I'd like to request an option to use either the builtin/submodule or external. Can prepare a PR if needed.

[2020-09-28 22:19] jpivarski commented on #476
Sure, I'm interested, though I don't understand how that would be a good thing. What's the use-case?

The reason I'm asking so bluntly is because I've found that if two Python extension modules are compiled with very different versions of pybind11, they can't share objects in each others' function arguments. I can see this becoming a problem for C++ projects that produce or consume Awkward Arrays

[2020-09-29 08:41] vvolkl commented on #476
Of course, the use-case is to include awkward in the software stack of an experiment design study. Not as big as the LHC experiments, but still, it's not desirable to have three separate packages ship their own pybind11. At this scale, "version hell" is a known problem anyway, and software librarians have tooling to get consistent installs. But packages that treat dependencies in a clear and unifo

[2020-09-29 12:46] jpivarski commented on #476
If it were a shared library with externally visible symbols, then definitely it would be worse for packages to bring their own. In fact, I've seen this become an issue between ROOT and Julia: the LLVM symbols clashed.

But I think a header-only library is different. At least, as an extreme, the embedding of RapidJSON is 100% safe because this dependency isn't even visible—it's only used in Awkward