[2022-02-18 03:23] #1266 closed, assigned to ianna

[2022-02-21 15:12] agoose77 opened #1302 "`RecordArrayBuilder` does not support nested lists correctly"
### Version of Awkward Array

2759ac81

### Description and code to reproduce

Consider this reproducer:
[code]
This example fails with an error
[code]
The reason that this happens is that currently the `RecordArrayBuilder` primitive operations (`int64`, `float64`) post-increment the field index. This means that when the user has `RecordArray`s _inside_ lists _inside_ `RecordArray`s, operations th

[2022-02-21 17:55] jrueb opened #1305 "RuntimeError when slicing two dimensions using a masked array"
### Version of Awkward Array

1.8.0rc3

### Description and code to reproduce

Please consider the following

[code]

The last line will raise the following error
`RuntimeError: ListOffsetArray::getitem_next(SliceAt): !advanced.is_empty_advanced()`
I don't think the line should raise an error and I am unsure what the error message is telling me.

[2022-02-21 19:38] jpivarski commented on #1305
That's right. This has reached some unconsidered code path. It is faithfully reproduced in v2:

[code]
[code]

and it would probably be easier to debug in v2, as that's Python code.

The "`advanced`" Index is for passing down information needed in advanced indexing, which is to say, slicing more than one dimension by an array. That happens here because the integer `0` gets promoted to an array bec

[2022-02-22 08:54] #1302 closed, assigned to nobody

[2022-02-23 19:27] douglasdavis opened #1311 "len of typetracer array raises TypeError (cannot be interpreted as integer)"
### Version of Awkward Array

1.8.0rc4

### Description and code to reproduce

This looks to be related to #1216 -- the typetracer length issue causing the repr to break is now raising if I try to compute the meta of an object that has had len map partitioned across it:

[code]
will fail because `map_partitions` will try to call `len(x.meta)` to compute a new meta.

[code]

I traced the `__len__(s

[2022-02-23 20:39] jpivarski commented on #1311
What JSON data did `x` come from and what Awkward operations get applied to do the `x.map_partitions(len)`? I'm trying to reproduce this with Awkward-only, so that I can narrow down to find out what's putting an `UnknownLength` on the typetracer.

[2022-02-23 20:50] douglasdavis commented on #1311
`x` is created by loading [this line delimited JSON data](https://github.com/ContinuumIO/dask-awkward/blob/5a36e9155a6e508099e46834b81d3f7d1b724742/src/dask_awkward/testutils.py#L116-L136) twice. (I have a dumb [utility function](https://github.com/ContinuumIO/dask-awkward/blob/5a36e9155a6e508099e46834b81d3f7d1b724742/src/dask_awkward/testutils.py#L287) that I use to play with some made up data wh

[2022-02-23 23:09] jpivarski commented on #1311
I still don't know how to reproduce your issue, but I did find some cases that resulted in `UnknownLength`, just due to the fact that typetracer arrays were initialized with `UnknownLength` and that propagated up.

PR #1312 changed the policy to use length information wherever possible, though it will always be the case that some typetracers won't know their lengths. (E.g. `nplike.arange(typetrace

[2022-02-24 14:27] douglasdavis commented on #1311
Oh yes absolutely! Sorry for creating a little confusion here (I now see my wording was pretty bad), I'm not looking to try to keep or know length information, but to have the typetracer usage give back something like `UnknownScalar` when `len` is called. Here's a better description I hope:

My reason for calling `x.map_partitions(len)` was experimenting with implementing `dak.num(x, axis=0)`,

[c

[2022-02-24 14:48] jpivarski commented on #1311
Unfortunately, that's not going to work because Python has forbidden it:

[code]

and

[code]

Actually, the typetracer does return `UnknownLength` when its `len` is called (if it _is_ unknown, and now that will happen less often, but it still can happen), and that's why you get the TypeError.

Throughout the Awkward codebase, we've replaced `len(something)` with `something.length`, where `length`

[2022-02-24 14:59] douglasdavis commented on #1311
🤦 ah yes huge brain-lapse for me. Had I remembered this I never would have opened this issue! Sorry for this noise

[2022-02-24 16:06] jpivarski opened #1319 "Slice of all range-slices could be a view, that's a common case that could be optimized"
### Version of Awkward Array

HEAD

### Description and code to reproduce

This

[code]

and it's probably due to the four slices (`lon_ak[:, 1:]`, etc.). Slices in which all dimensions are sliced with a range-slice (what Python just calls "`slice`") could be a special code path that views, rather than copy&compacts the data. Non-tuple range-slices already view, but there's no reason why this coul

[2022-02-24 16:07] jpivarski commented on #1319
I forgot to add @martindurant, who suggested this, and @philippemiron, whose example raised it.

[2022-02-24 16:32] jpivarski opened #1320 "For NumPy compliance, `ak.mean` (and possibly others) should turn None into NaN"
### Version of Awkward Array

HEAD

### Description and code to reproduce

[code]

versus

[code]

Identified by @douglasdavis. We saw it in a typetracer, but the typetracer follows what the Array does.

[2022-02-24 16:44] philippemiron commented on #1319
Hi,

I did this reproducible example:

[code]

[code]

[code]
148 ms ± 2.69 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

[code]

[code]
74.6 ms ± 141 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

I played a bit with the parameter (m,n) and as you can imagine if n gets larger, than awkward array seems to perform as fast as the python version. For example n=50000, m=10000000, ge

[2022-02-26 20:55] jpivarski opened #1323 "Specialize reducers with axis=-1"
### Version of Awkward Array

HEAD

### Description and code to reproduce

As discussed in https://github.com/scikit-hep/awkward-1.0/pull/1274#issuecomment-1036768311 and following, reducers with `axis=-1` (and the positive-axis equivalent) should be a separate code path that doesn't create all the `parents`, `starts`, etc. The GPU version, at least, would still have to be `parents` based, though

[2022-02-26 21:05] jpivarski opened #1324 "Matrix multiplication (@ operator) is broken and needs to be ported to kernels (from Numba)"
### Version of Awkward Array

HEAD

### Description and code to reproduce

Example of buggy behavior TBD, though I'd be surprised if we have trouble finding it again.

Anyway, the `@` operator is currently implemented using Numba, and it should be implemented with kernels like everything else, so this requires revision, anyway. @lukasheinrich was asking about this on Slack at one point.

[2022-02-26 21:22] jpivarski commented on #1324
This is a duplicate of #1261, which _does_ have examples of broken behavior.

[2022-02-26 21:23] jpivarski opened #1325 "The "nan" versions of all the reducers and statistics functions"
### Description of new feature

Like `np.nanmean`, raised by @philippemiron.

[2022-03-01 15:17] douglasdavis opened #1328 "ak.num on typetracer array raising AssertionError (attempt to set values of TypeTracerArray)"
### Version of Awkward Array

1.8.0rc6

### Description and code to reproduce

Trying to call `ak.num` with `axis=0` on a  typetracer array raises an exception

Minimal reproducer (with `import awkward._v2 as ak`):

[code]

[2022-03-01 23:17] #1311 closed, assigned to nobody

[2022-03-02 09:20] agoose77 opened #1333 "Rejection of invalid layouts."
In #1308 there was a conversation about the policy for accepting redundant (unsimplified) layouts. There have been at least two cases (#713, #1308 discussion) where non-simplified layouts produce strange results when passed to high level functions, and until now I've raised these as bugs.

After the discussion with @jpivarski in #1308 I've realised that this is a policy issue, as Awkward functions

[2022-03-02 11:25] agoose77 commented on #1333
We discussed the idea of a per-layout flag that determines whether a layout is in its simplest form. This would add a reasonable amount of code to check something that internally should never happen.

A less robust approach would be to tackle #516 at the same time and create a mid-level API that resembles `ak._util`, e.g.
[code]

The issue with *this* approach is that it only checks for validity a

[2022-03-02 16:04] jpivarski commented on #1333
At least in the two Content subclasses I checked yesterday, the `check_valid` implementation also checks for this redundancy. So if a user is concerned about the validity of a layout, this option will fix it.

All in all, there are three ways for a layout to be invalid:

   1. Invalid metadata: property types, property value ranges—any state depending on the Content instance itself that is not in

[2022-03-02 16:29] jpivarski opened #1336 "v2 ListArray, ListOffsetArray, and RegularArray's 'validityerror' must check string conditions"
### Version of Awkward Array

HEAD

### Description and code to reproduce

When a ListArray, ListOffsetArray, or RegularArray has `parameters={"__array__": "string"}` or `"bytestring"`, then the following other conditions must hold:

  * The `content` must be a NumpyArray.
  * That NumpyArray must have dtype `uint8`.
  * That NumpyArray must have`parameters={"__array__": "char"}` or `"byte"`, depe

[2022-03-02 19:29] agoose77 commented on #1333
(:facepalm:)<sup>∞</sup>

You're completely right. I don't know *what* I was looking at yesterday.

Yes, this issue is about if/when to check (3). The easiest solution is to check this when constructing Array vs doing this in the layout constructor. Whilst users could then have erroneous layouts, they will nearly always end up converting them to Array at some point and then discover the error.

So

[2022-03-02 19:44] agoose77 commented on #1336
I think we do reimplement the v1 helper, it's just hidden in the base class:
https://github.com/scikit-hep/awkward-1.0/blob/d977b04facb196a4c8584f256b36280a4e105b14/src/awkward/_v2/contents/content.py#L1030-L1125

On `main`, I can see that both the `NumpyArray` and `char` conditions are checked for a `RegularArray`. I don't test this for any other layouts, but it should all use the same base class

[2022-03-02 20:12] jpivarski commented on #1336
Aha! Thanks for finding this. Then the thing that's wrong is that it's only applied at top-level:

https://github.com/scikit-hep/awkward-1.0/blob/d977b04facb196a4c8584f256b36280a4e105b14/src/awkward/_v2/contents/content.py#L1127-L1131

The recursive `_validityerror` does not check it. This test would miss invalid strings inside of some list or records. I can do a quick fix.

[2022-03-02 20:22] jpivarski commented on #1336
Nope: I'm wrong. The recursive functions are named `_validityerror`, but they recurse on `validityerror` (no underscore). This is performing all the checks it's supposed to.

So, no bug—false alarm—sorry!

(It tripped me up because my expectation was that the entry function would have no underscore and the recursive one would have an underscore and recurse on itself, the one with the underscored n

[2022-03-02 20:22] #1336 closed, assigned to nobody

[2022-03-02 21:06] agoose77 commented on #1336
@jpivarski to be fair, I did find the naming convention surprising too: normally the non-underscored name is public (and the entrypoint), but here it is the _underscored_ name is the entry-point.

I.E., I'd be in favour of changing the naming to suit both our expectations ;) I believe that this would involve renaming `validityerror_parameters` to `_validityerror_parameters`

[2022-03-02 22:09] agoose77 opened #1337 "Simplify `Option(Union(Option, ...))`"
## Simplifying Union + Option

Per a conversation with @jpivarski, we require that Awkward functions produce "simplified" layouts as-policy. These simplification rules ultimately mean that layout visitors need less local information in order to reason about the structure.

We simplify nested `is_OptionType`s, `is_IndexedType`s, and their cross combinations, but that leaves some other candidates:
1

[2022-03-03 14:35] douglasdavis opened #1339 "ak.flatten axis=None fails on typetracer array"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

Minimal reproducer:

(I stepped through `ak._v2.flatten` until line line 101 from the traceback and `all(isinstance(x, np.ndarray) for x in out)` is evaluating to False since the elements of the `out` tuple in this case are instances of `TypeTracerArray`.)

[code]

[2022-03-03 20:08] jpivarski commented on #1339
[code]

The output of `completely_flatten` is a tuple of `nplike.ndarray`, not `np.ndarray` unless `nplike is ak.nplike.Numpy.instance()`.

#1340 fixes it.

[2022-03-03 20:09] #1328 closed, assigned to nobody

[2022-03-03 21:24] #1339 closed, assigned to nobody

[2022-03-04 17:05] agoose77 opened #1343 "Move size information out of Numba type"
### Description of new feature

The existing Numba support for Awkward includes known size information in the type. This differs from the way that NumPy arrays are handled, where the shape information is _separate_ to the type. The consequence of this is that whenever the size of an array changes, so too does the type, and thus Numba recompiles the function for the input.

[code]

[code]

To be cl

[2022-03-08 11:42] agoose77 opened #1350 "`field_to_index` behaves improperly for integer non-tuple fields"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

The current `slot{i}` behaviour may be surprising to users who do not know how it is implemented.
[code]

Ultimately this stems from the fact that there is overlap between legal field names and Awkward-generated slot names. I think the simplest solution here is one of:
1. prevent the user from using integer keys with non-t

[2022-03-08 12:07] agoose77 commented on #1350
Ah drat. I knew I was getting confused somewhere: we do different things for v1 and v2, and I was referencing v2 /v1 interchangably.

v2 now does (4), which makes it more obvious that `slot1` is just syntactic sugar for `"1"`. I'm happy that this is clear enough for the user.

[2022-03-08 12:07] #1350 closed, assigned to nobody

[2022-03-09 12:24] agoose77 commented on #1034
Closed by #1257

[2022-03-09 12:24] #1034 closed, assigned to nobody

[2022-03-09 12:32] agoose77 commented on #1038
I'm not working on this at the moment, but I had some more thoughts syntax-wise: why not repurpose `:` and `...`? They already have meaning to developers that is compatible:

* `:, :` for "two levels"
* `:, :, :` for "three levels"
* `..., :, :` for "two or more levels"
* `..., :, :, :` for "three or more levels"

The only configurations that don't make sense hold for the `"."`, `"*"` syntax:

- `

[2022-03-09 15:31] jpivarski commented on #1038
That's fine, although `"."` and `"*"` were an attempt to use existing syntax—from regular expressions. (By extension, `"+"` would mean "at least one.) I was thinking about regular expressions because this is a kind of expression-match.

`":"` and `"..."` also make sense, and seem more relevant because these are arrays (though `ak.behavior` isn't slicing an array... but I see the connection).

Even

[2022-03-09 15:55] agoose77 commented on #1038
Yes, I should have touched on this (thanks for the reminder).

My thought here is that we're talking about dimensions, so let's use the same syntax that we do for slicing. This uses the actual sentinel objects / slicing mechanism, rather than strings, i.e.
[code]

Absolutely, we're in syntactic sugar territory now!

Er, actually _I'm_ missing something here - I managed to confuse `"."` and `"*"`.

[2022-03-09 15:58] jpivarski commented on #1038
We are talking about dimensions, and in retrospect, I should have thought of `":"` and `"..."`, but I didn't. (I just wasn't thinking about it that way!)

[2022-03-09 20:41] dr-stringfellow opened #1357 "Slicing with Awkward Arrays versus slicing with NumPy arrays"
### Version of Awkward Array

1.8.0rc3

### Version of numpy

1.21.2

### Description and code to reproduce

Casting first as numpy array makes the code crash even though there is an outer cast to ak.Array in both cases

[code]

### Error
[code]

[2022-03-09 21:36] agoose77 commented on #1357
Hi @dr-stringfellow, thanks for filing a bug report!

This is actually a design decision, and not a bug, but I can appreciate that it very much looks like a bug at first glance! You did help me discover a bug in our next version v2, though!

Awkward Array builds upon the advanced indexing of NumPy. In NumPy, if you index with a boolean array, the result is a flat array. Because your second `arr` i

[2022-03-09 22:02] agoose77 opened #1358 "Regular indexing behaves like jagged index for RegularArray (v2)"
### Version of Awkward Array

c2ddda2f67abf2d7b3112e5752c7c34c3467052d

### Description and code to reproduce

[code]

### Cause

The NumPy-like indexing checks for `NumpyArray`, not `RegularArray`. We should use something like `maybe_toNumpyArray` beforehand to fulfil this.

[2022-03-10 11:41] agoose77 opened #1361 "`ak.sort` and `ak.argsort` should refuse to sort RecordArrays (raise a TypeError)"
### Version of Awkward Array

2e8ce817

### Description and code to reproduce

[code]

[2022-03-10 14:39] masonproffitt opened #1363 "`ak.zip` does not accept generator expressions for `arrays`"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

Very simplistic example of a use case for this:
[code]

`help(ak.zip)` says that `arrays` should be a "dict or iterable of arrays", which a generator expression that yields arrays is, so I would expect this to work.

[2022-03-10 14:56] jpivarski commented on #1363
Good point—there's a difference between "iterable" and "sized iterable," and I was always assuming the latter. The fix is in PR #1364.

[2022-03-10 15:30] #1363 closed, assigned to nobody

[2022-03-11 02:50] DraTeots opened #1366 "Examining arrays documentation"
### Which documentation?

Tutorials site

### What needs to be documented?

Just if such issue could prioritize writing some next part of the documentation.

Always this arises every time uproot/awkward are used and every time it is a pain to find/remember

https://awkward-array.org/how-to-examine-type.html

[2022-03-11 16:08] jpivarski commented on #1366
I've been looking at my inability to write much documentation in the past 2 years and thinking that the best way to fix it is to promise less. The [Sphinx/readthedocs site](https://awkward-array.readthedocs.io/en/latest/index.html) is complete and has all of this information in it; the purpose of the [JupyterBooks/Netlify site](https://awkward-array.org/quickstart.html) was to provide more convers

[2022-03-16 17:57] masonproffitt opened #1371 "Strange and inconsistent ordering behavior with `ak.sum`"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

I basically expect `ak.sum` with `axis=0` to add all rows together. So behavior like this makes sense:
[code]

Just appending one element to each of the non-empty lists in the above example somehow changes ordering in the output:

[code]

I of course expected to get `[[], [4, 6]]`, so I'm not sure what's going on here.

[2022-03-16 20:02] agoose77 commented on #1371
I can confirm this in both v2 and v1, and I can't find a particular commit that introduces it within `1.5 → HEAD`

[2022-03-17 17:39] jpivarski commented on #1126
@nsmith- This is the issue I was referring to earlier today; I had forgotten who opened it!

[2022-03-17 18:13] jpivarski opened #1375 "Prevent reducers like ak.sum on records (v1 and v2)"
### Version of Awkward Array

HEAD

### Description and code to reproduce

@chadfreer just brought this up, but I seem to remember @lgray and/or @nsmith- asking about it a long time ago.

The issue is this: if we have records whose fields represent non-Cartesian data, they should not be naively added (or otherwise "reduced").

[code]

Knowing that this is a generic array, we can shrug and say, "I

[2022-03-20 17:51] agoose77 opened #1377 "Ravelling a string array drops string behavior"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

[code]

[2022-03-21 19:15] jpivarski commented on #1377
It should, though: `ak.ravel` changes the type, and so the old parameters are not necessarily going to be applicable to the new array. Parameters are used to determine whether a given `ak.Array` subclass applies, which has methods that assume some type, and parameters are also used to determine whether stand-alone operators (e.g. particular implementations of `+`) apply, which also assume some typ

[2022-03-21 20:29] agoose77 commented on #1377
I think this is a question of what to expect from `np.ravel` / `ak.ravel`. Fundamentally, I see a string as an atomic type, even though it is in reality composed of `uint8` characters. I don't see there being many uses for the average user in dropping the string abstraction, in the same way that I don't think dropping the record abstraction (#984) is often that useful.

If the user did want to dro

[2022-03-22 19:57] douglasdavis opened #1379 "Passing `axis=None` to reducers on typetracer arrays fails"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

Here are two examples with a minimal awkward only reproducer,

starting with:

[code]

min/max:

[code]

and mean:

[code]

[2022-03-22 20:26] #1371 closed, assigned to nobody

[2022-03-22 22:00] #1379 closed, assigned to nobody

[2022-03-23 21:24] kgizdov opened #1382 "Test failure with 1.8.0 (1300-awkward-to-cpp-converter-with-cling)"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

Test failures on Arch Linux x86_64, GCC 11.2.0, ROOT 6.26.00:
[code]

[2022-03-23 21:55] jpivarski commented on #1382
Oh: your ROOT wasn't compiled with C++17 support, so when this test tries to JIT-compile `std::optional`, it's not in ROOT.

(I'm only recognizing this as the error because it happened to me before I recompiled my ROOT, then it didn't occur to me that having these in as tests would run into the same problem for somebody else.)

Offhand, do you know of a way to determine from ROOT which C++ revisio

[2022-03-23 22:03] kgizdov commented on #1382
I don't think that's possible - I enforce C++17 on the Arch Linux ROOT package - you can find the PKGBUILD [here](https://github.com/archlinux/svntogit-community/tree/packages/root/trunk).

On your second question - I think you can ask the root compiler to spit out `__cplusplus` or get it from some ROOT header. Also, the CMake config files should contain the relevant info (at least they do on Arch

[2022-03-23 22:04] jpivarski commented on #1382
@kgizdov, in your ROOT environment (PyROOT, actually), what do you get when you try this:

[code]

I don't know how to ask for `__cplusplus`. (I have to get this in Python to make a decision to skip those tests.)

[2022-03-23 22:14] jpivarski commented on #1382
So this line should ensure C++17:

https://github.com/archlinux/svntogit-community/blob/a6014d2660207c8a3dfba61c5df18404f90d4bf2/trunk/settings.cmake#L10

In mine, I had to pass `-DCMAKE_CXX_STANDARD=17` as a CMake commandline argument, which looks like it's equivalent to your line.

Anyway, what's failing in the tests is that it can't find `optional` in namespace `std`, so I'm adding

[code]

to

[2022-03-23 22:29] kgizdov commented on #1382
Indeed, `optional` is not found, however, the reason for this is yet unknown - I can confirm that in all the places `C++17` is selected and listed correctly at compile-time.

[2022-03-23 22:33] jpivarski commented on #1382
Then it might be a misnomer, but the important thing is whether `std::optional` exists.

I had thought that ROOT would take the latest C++ standard available by a compiler, because it's only limiting what code can be compiled with that ROOT (since C++ standards are backward-compatible, so far). I was surprised that I had to explicitly tell it.

[2022-03-23 23:05] #1382 closed, assigned to nobody

[2022-03-29 17:27] mmarchegiani opened #1386 "awkward.argsort does not return correct types for None lists"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

ak.argsort does not return an index-type in the case that the input list array is full of None values.
[code]
Therefore if the resulting array is used for slicing, we get the following ValueError:
[code]
The expected behavior is:
[code]
so that `ak.argsort(masked)` can be used for slicing.

[2022-03-29 20:40] jpivarski commented on #1386
You're right about that qualifier: it does work if they're not _all_ None:

[code]

Just if every value is None:

[code]

Moreover, this is something that version 2 gets right:

[code]

But we're still fixing bugs in version 1, so I'm looking into it now.

[2022-03-29 20:45] jpivarski commented on #1386
Ah, I missed an important bit of information that you gave me:

Since this is the output of an `argsort`, it should have integer type. I bet the original floating-point type got passed through because something (an array of non-Nones) was empty. We've been cracking down on such "optimizations" in v2 because they can get the types wrong, like this. (In v2, it comes up because it makes Dask predict

[2022-03-29 21:32] agoose77 commented on #1386
@jpivarski this is linked to the case I mentioned the other day, where we have a fast-path in the return.

[2022-03-29 21:34] jpivarski commented on #1386
Could you link that here? I don't remember it and I don't want to miss an issue.

Fast-path returns are bad, especially now with the type-tracer.

[2022-03-29 21:49] agoose77 commented on #1386
I can't remember if we ever opened an issue for it, but it looks like you've found it :) https://github.com/scikit-hep/awkward-1.0/blob/80579c7b67d508ea0c916b7b62a7dfe5826fe981/src/libawkward/array/ListOffsetArray.cpp#L1931

[2022-03-29 21:50] agoose77 commented on #1288
@jpivarski I think this is the issue I was thinking of!

[2022-03-29 21:50] jpivarski commented on #1386
That's that this PR fixes. So if that was causing problems elsewhere, they'll be gone now.

[2022-03-29 22:01] jpivarski commented on #1288
Thanks, @agoose77, this _is_ the same issue as #1386, and it's fixed by the same PR #1387.

I just verified that the initial problem is gone:

[code]

(Also for v2.)

So I'll mark this as one of the issues that will get closed by the PR.

[2022-03-29 22:12] #1288 closed, assigned to nobody

[2022-03-29 22:12] #1386 closed, assigned to nobody

[2022-03-31 22:44] jpivarski opened #1391 "xarray-style "attrs", global and per-record field"
### Description of new feature

@philippemiron is converting data from NetCDF4 files into Awkward Arrays, and one of the features we lack is a place to put attributes. These can be descriptions, units, meanings of flags, etc., and a single field can have more than one of these (e.g. so that "units" are programmatically accessible). In general, any JSON-encodable data.

This applies at two levels:

[2022-04-05 16:58] jpivarski commented on #1375
Note that until this gets fixed, users will need some way to add up arbitrary numbers of vectors per list in an Awkward Array. This example code does that with Numba:

[code]

The use of Numba (or some compilation somewhere) is necessary. In some tests, I found that Numba compilation time is 1.5 seconds and runtime begins to dominate when you multiply the length of the `fake_o` example by ten mill

[2022-04-06 13:41] nsmith- commented on #1375
We implement this vector sum as a mixin method in coffea vector classes: `array.sum(axis=1)` simply sums each cartesian component: e.g. this 2-vector implementation [copied from here](https://github.com/CoffeaTeam/coffea/blob/b644bcf2b48e272e6c78e4b1ddee3c233a67022d/coffea/nanoevents/methods/vector.py#L156-L166)
[code]
Unless I am missing something, I don't see why it would need to be done in numb

[2022-04-06 16:12] jpivarski commented on #1375
You're not missing anything; I just didn't think of that yesterday when I was talking with @kpedro88. What you have here works just as well.

This issue is to prevent `ak.sum` from doing misleading computations with non-Cartesian vectors, and v2 would eventually make it possible for Vector to override `ak._v2.sum` to do the right thing. The only difference between that and your solution is that it

[2022-04-06 16:32] kpedro88 commented on #1375
The other difference is that the Numba solution adds the vectors in their native representation, while the Coffea solution requires converting to Cartesian, correct?

[2022-04-06 17:52] jpivarski commented on #1375
That's true, though I'm pretty sure that all of Vector's `+` operations convert to Cartesian. The Numba solution leaves open the possibility of Vector adding more optimized `+` in the future.

Nope! I'm wrong! If two vectors both have rho-phi azimuthal coordinates, they will be added in rho-phi that system and the result will be rho-phi.

https://github.com/scikit-hep/vector/blob/6553752691fd41120

[2022-04-06 19:37] nsmith- commented on #1375
If you're summing a bunch then doing the cartesian conversion once is more efficient anyway

[2022-04-06 20:32] agoose77 opened #1400 "`with_name` fails for `ak._v2.Record`"
### Version of Awkward Array

278dccee

### Description and code to reproduce

[code]

[2022-04-07 09:38] agoose77 commented on #203
Can we close this now that we have `keepdims`? It's not perfect (it requires the original array to be entirely jagged), but that might be a separate issue.

That said, I *do* think we want something like `.pick` to force Awkward indexing. I'm also not against something like adding `axis=None` to `ak.from_regular` to convert an arg into a fully jagged array, but that might be a separate API improve

[2022-04-07 09:51] agoose77 opened #1402 "Reducer `axis=None` cases should handle `initial` (pass to NumPy) and raise exceptions for empty arrays"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

This might be intentional (I doubt it), but I found it surprising.
[code]

I'm fairly confident that this is just an artefact of the special casing for `axis=None`.

There is a separate bug related to this special casing:
[code]
We don't handle the `initial` case either.

One solution might be to use to the existing reduct

[2022-04-07 15:52] jpivarski commented on #203
Although there's a way to do it (using `keepdims`, which actually had been there from the beginning, but I didn't recognize that they solved this problem until @nsmith- pointed it out), although there's a way to do it, it's not easy to discover. The other things talked about in this issue, `array.pick` or more simply `ak.minby` and `ak.maxby`, are still potentially useful.

And actually, if we tak

[2022-04-07 15:52] #203 closed, assigned to nobody

[2022-04-07 16:04] jpivarski commented on #1402
Without `mask_identity`, empty arrays or lists result in the "identity" of the reducer's semigroup operation. For maximization, the identity is minus infinity. For integer types, which don't have infinite values, the identity is the smallest possible value.

[code]

Try it with `np.uint64`; it should be `0`. So, strange as it may seem, it's the `axis=None` case that's wrong here: it should not be

[2022-04-07 21:24] agoose77 commented on #1402
Ah, I realise that I didn't put the issue title in the body text

I understood the significance of `-9223372036854775808` (and indeed, I wanted an integer result when I stumbled into this bug),  and this identity for `max` makes sense. The bug(s) that I was trying to report was the `axis=None` case ignores both `identity` and `mask_identity`.

As discussed, this happens simply because we don't pas

[2022-04-07 22:21] jpivarski commented on #1402
The outer reducer would have to be a special path, regardless. This would be a better thing to fix with minimal changes, I think. I don't see a way to remove its specialness

[2022-04-08 10:03] agoose77 commented on #1402
Yes, we need a special path (unless we implement a partitioned array again, though I assume that just concatenated the memory anyway, which we could do if it were actually desirable!).

I was going to propose a two-stage reduction, which would have simplified the code, but this would only work for reducers that form a group (`add`, `prod`).[^footnote] This doesn't hold for all reducers, e.g. `coun

[2022-04-08 11:29] agoose77 opened #1403 "`from_numpy` fails for string dtypes (v2)"
### Version of Awkward Array

314efeee9e17626f363dffc6010ccc6ab6002bea

### Description and code to reproduce

[code]

[2022-04-08 11:44] agoose77 commented on #1402
Additionally, for when we fix this issue, I think the logic in `argmax` is not quite right at the moment. Here we store the best `argmax` result within each sublist. This will not correctly index into the ravelled array if any part besides the first one wins:
https://github.com/scikit-hep/awkward-1.0/blob/278dccee86046f7b92505c6f725ff8574235ecf6/src/awkward/_v2/operations/reducers/ak_argmax.py#L84

[2022-04-08 14:29] jpivarski commented on #1402
Avoiding concatenation was intentional: it's a performance thing, but it's a big one. Taking a set of buffers as-is, reducing over each one of them separately, and then reducing those results, is much better than concatenating them all into a contiguous memory buffer and then reducing that once. (I think even if we had PartitionedArray, it would still be a separate code-path from that, but anyway,

[2022-04-08 14:40] agoose77 commented on #1402
Absolutely, if concatenation were cheap we'd not need any of this code! Again, to clarify, I'm really saying "which we would have  done if it were actually desirable!"

Right, that's my interpretation too. By "first wins" I was referring to the "part" (partition) not the unique value. In our existing implementation, we store the per-partition index, not the ravelled index.

[2022-04-08 16:15] #1400 closed, assigned to nobody

[2022-04-08 19:08] #1403 closed, assigned to nobody

[2022-04-11 10:45] agoose77 opened #1405 "`ListArray._getitem_next_jagged` fails for lists with unmapped sublists (v2)"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

There is currently a check in `ListArray::_getitem_next_jagged` that ensures the slice and content have the same length. This is not valid whilst we support "valid" layouts that don't map to all sublists, e.g. a `ListOffsetArray` that doesn't create a sublist over its child's last `n` items.

[code]

This report has morphe

[2022-04-11 12:33] agoose77 opened #1406 "`ListArray._getitem_next_jagged` fails for `slicecontent` where `starts[0] != 0` (v1 & v2)"
### Version of Awkward Array

1.8.0

### Description and code to reproduce
In particular, where the `slicecontent` is an `IndexedOptionArray` of a `ListOffsetArray`.

This code-path is near identical between v1 and v2, so it's most likely a legacy bug. In short, the indices of the **indexed** array's outermost list (`[1, 3]`) do not start at zero. This is not accounted for in the `ListArray._getit

[2022-04-11 13:19] agoose77 commented on #1406
This also fails in v2. The path that I took to determine this is a bit circular, but I'm confident that the fix/bug is the same for v1 and v2, as it seems to occur in code that is mostly 1:1.

It looks like the issue is probably rooted somewhere in `awkward_ListArray_getitem_jagged_shrink`, which prepares `nextcarry`, or ``awkward_ListArray_getitem_jagged_numvalid`` which prepares the inputs for t

[2022-04-11 13:47] agoose77 commented on #1406
Upon further digging, I think it's `awkward_ListArray_getitem_jagged_shrink`. This builds `nextcarry` that is used to slice the `ListArray` content. As such, we know that `nextcarry` needs to account for the sliced content's `starts` and `stops`. The `awkward_ListArray_getitem_jagged_shrink` kernel doesn't accept any arguments that (in)directly refer to `stops` or `starts`. It only looks at the sl

[2022-04-11 18:33] dcervenkov commented on #1366
I absolutely agree that something has to be done about the documentation as I've experienced the exact scenario you mention - "see that they're not written, and then assume that the information is not available, when actually it's just somewhere else".

Merging the tutorials into the existing readthedocs seems like a good idea to me. Including links to the live tutorials as you suggest would be us

[2022-04-11 18:56] agoose77 commented on #1366
@jpivarski I don't think we want to lose the "best practices" Netlify content unless we really have no choice. I found it initially tricky to identify best practices, and in the programming space I feel that tutorials are less common than in HEP. The real issue here is writing and updating the docs, and I sympathise (& empathise!) with you on that front. Once my time frees up in the future, I woul

[2022-04-11 19:30] jpivarski commented on #1366
I'd be gracious for the help, and also for the different perspective. My problem when writing tutorials is that they start looking like the references I've already written—there's no benefit to a long page describing one function, because those already exist.

For the organization, I still think it's necessary to have both Tutorials (which focus on getting started and best practices) and Reference

[2022-04-11 19:46] agoose77 commented on #1366
I like the `uproot` example, and might be tempted to take it further. I like the way that NumPy's docs have different sections: https://numpy.org/doc/stable/user/index.html

![image](https://user-images.githubusercontent.com/1248413/162816647-60a5e082-956d-49bb-956d-9c503e5daa95.png)
![image](https://user-images.githubusercontent.com/1248413/162816662-5ec3eaa0-e827-4696-b9b7-abfbe5051223.png)

I s

[2022-04-13 14:53] agoose77 opened #1414 "Don't accept record as index"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

Over in https://github.com/ContinuumIO/dask-awkward/issues/23 a user ran into the case where a record is treated as an iterable of strings. This might be fun in some cases, but I suspect most users would stumble upon this behaviour by accident when attempting. I propose that we add a special case to `__getitem__` to reject

[2022-04-13 17:22] jpivarski commented on #1414
That's because ak.Record is a Python Mapping. The idea was that ak.Array would be a Sequence and ak.Record would be a Mapping, but if that's causing confusion, then we could remove that protocol from ak.Record (in v2).

[2022-04-13 18:42] agoose77 commented on #1414
I think that might be a sensible proposal. It's not a huge problem, but having `iter(ak.layout.Record)` do something fundamentally different to `iter(ak.layout.RecordArray)` is likely to confuse some people, and indeed I've run into problems with passing `ak.Record` into other Awkward functions (even if by accident) and seeing surprising results.

[2022-04-13 19:03] jpivarski commented on #1414
At the mid-level (`ak.layout.*` or `ak._v2.contents.*`/`ak._v2.record`), we can assume more expertise. But also, these mid-level objects don't need to be iterable at all, unless the `ak._v2.Array.__iter__` implementation goes through the `ak._v2.contents.Content.__iter__` implementation or something. We can definitely remove any `__iter__` on the mid-level Record.

At high-level (`ak.Array`/`ak.Re

[2022-04-13 19:12] agoose77 commented on #1414
Right, I'm being lazy :zzz: I am referring to the high level API here!

It's tricky indeed. Sometimes I really want records to behave like atoms, other times it is useful to decompose them. Fitting that into the Pythonic protocols is not trivial.

I've made my position known, but I'm fairly confident it may well reverse in future, so I'm not pushing anything further!

[2022-04-13 22:57] jpivarski opened #1417 "ak._v2.is_none should reject axis values that are too large"
### Version of Awkward Array

HEAD

### Description and code to reproduce

All of the following are fine because `array` has an `axis=0`, `axis=1`, `axis=2`:

[code]

But this shouldn't be allowed to work:

[code]

The output type isn't right, either: it should only ever be `bool` at the level of the `axis`.

[2022-04-14 13:31] jrueb opened #1420 "Use ArrayBuilder::*_check in Numba for cases of non-literal strings"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

[code]

Gives me the following error:

[code]

It works if I write it like `builder.field("x")` and remove the for loop, but I need the for loop because in practice I have a long list of fields I want to add.

numba version 0.54.1

[2022-04-14 14:17] agoose77 commented on #1420
Currently we only handle literal strings in the Numba implementation:
https://github.com/scikit-hep/awkward-1.0/blob/d977b04facb196a4c8584f256b36280a4e105b14/src/awkward/_connect/_numba/builder.py#L490-L502

You can work around this (with limitations) by using `numba.literal_unroll`:
[code]

Be warned, for some reason you need to import the `literal_unroll` into the global namespace (or rather, `n

[2022-04-14 17:30] jpivarski commented on #1420
That's right, and it was on purpose, so that the Numba `builder.field` implementation can use the C++ [ArrayBuilder::field_fast](https://awkward-array.readthedocs.io/en/latest/_static/classawkward_1_1ArrayBuilder.html#a950563074bc8987b63196de7d9066041), which only checks to see if a string has the same pointer as the one for a given field, rather than checking whole strings in the loop.

I didn't

[2022-04-15 18:43] jpivarski opened #1423 "Allow reducers to be overridden in v2"
### Description of new feature

This was the second half of #1375; I'm splitting it because it's really two issues.

Now #1375 is just for applying the policy in v1, which will prevent bugs.

This issue is for extending the capability to what users really want—allowing reducers to be overridden so that `ak.sum` on Vectors will add the Vectors (accounting for coordinate systems). It can only be don

[2022-04-15 18:44] jpivarski commented on #1375
The two issues described here have been split: the part about adding the ability to override reducers in v2 is now issue #1423.

[2022-04-15 19:02] jpivarski commented on #1343
I know we talked about this somewhere (Gitter?). In light of all the things that have to get done, I'm going to mark this as "wontfix" because baking the size information into the type is what a RegularArray is. That makes it not quite the same as a NumPy array in a precompiled context.

It does have consequences for performance: different regular sizes force Numba to recompile functions, as you p

[2022-04-15 19:02] #1343 closed, assigned to nobody

[2022-04-15 19:04] jpivarski commented on #1261
I made #1324 and mentioned @lukasheinrich in it, but that's a duplicate of this one, so I'll close that and prioritize this.

[2022-04-15 19:04] jpivarski commented on #1324
Closing because this is a duplicate. Just sending the better title over to #1261.

[2022-04-15 19:04] #1324 closed, assigned to nobody

[2022-04-15 19:14] jpivarski commented on #1420
I changed the name because this could apply to record names as well as field names.

[2022-04-15 19:27] jpivarski commented on #1098
This and #1097 are two features of the new `ak.to_parquet`, so I'm merging the issues into "write an `ak.to_parquet` function for v2."

[2022-04-15 19:27] #1098 closed, assigned to nobody

[2022-04-15 19:37] jpivarski commented on #886
In v2, `ak.from_parquet` uses fsspec (though not Dataset, for reasons explained there): #1338.

[2022-04-15 19:37] #886 closed, assigned to nobody

[2022-04-15 19:41] jpivarski commented on #1253
I'm deleting the duplicate issue, now that the original (#663) is in a prioritized list.

[2022-04-15 19:41] #1253 closed, assigned to nobody

[2022-04-15 19:44] jpivarski commented on #607
I think this was fixed (imperfectly). And anyway, the documentation system should be simplified in such a way that we don't have this issue.

[2022-04-15 19:44] #607 closed, assigned to nobody

[2022-04-15 19:45] jpivarski commented on #601
Until somebody actually asks for this, I'm going to ignore it. (And v2 is more Python-level now, anyway.)

[2022-04-15 19:45] #601 closed, assigned to nobody

[2022-04-15 19:49] jpivarski commented on #1230
Pinging @Duchstf here because I'm closing #489 in favor of this one. (Technically, this one is the duplicate because it came later, but I've already put it in a priority list.)

[2022-04-15 19:49] jpivarski commented on #489
Closing this one because it's a time-traveling duplicate.

[2022-04-15 19:49] #489 closed, assigned to nobody

[2022-04-15 19:51] jpivarski commented on #192
I'm expanding the scope of this old issue to be the `ak.to_json`/`ak.from_json` work that's needed for v2. There are several functions that need to become options in a single interface.

[2022-04-15 19:52] jpivarski commented on #178
Being realistic, this isn't going to happen. (It's late to be adding new node types now.)

[2022-04-15 19:52] #178 closed, assigned to nobody

[2022-04-15 19:52] jpivarski commented on #177
This is superseded by v2.

[2022-04-15 19:52] #177 closed, assigned to nobody

[2022-04-15 19:53] jpivarski commented on #176
This is superseded by v2.

[2022-04-15 19:53] #176 closed, assigned to nobody

[2022-04-15 19:53] jpivarski commented on #174
I don't think it would be possible.

[2022-04-15 19:53] #174 closed, assigned to nobody

[2022-04-16 11:31] agoose77 commented on #1343
Definitely not proposing a new node type, particularly not when it would only be required to support Numba!

This was what I was thinking of. However, it might be that we just accept that users need to be aware of these cases. Where users have layouts that change in regular size, they would need to convert the layout to jagged lists ahead-of-time.

Huh, I hadn't seen that. Interesting. The motivat

[2022-04-18 19:29] jpivarski commented on #1366
FYI: this is now on the Roadmap: https://github.com/scikit-hep/awkward-1.0/wiki#documentation-revamp

[2022-04-18 23:58] jpivarski opened #1424 "Awkward tutorials site says that Uproot 4 does not write jagged arrays to ROOT files yet"
### Which documentation?

Tutorials site

### What needs to be documented?

https://awkward-array.org/how-to-convert-uproot.html#from-awkward-to-root-with-uproot-4

is wrong: Uproot 4 does support writing Awkward Arrays (only certain types, but that would always be true). It needs to be updated because it's giving people the wrong impression.

[2022-04-20 01:25] #663 closed, assigned to nobody

[2022-04-20 02:12] jpivarski commented on #1325
When [1.9.0rc2](https://github.com/scikit-hep/awkward-1.0/actions/runs/2193146418) is uploaded, you'll be able to

[code]

and

[code]

[2022-04-20 02:12] #1325 closed, assigned to nobody

[2022-04-20 15:23] masonproffitt opened #1436 "`ak.to_parquet` very slow on `uproot.lazy()` output with multiple branches via HTTP"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

I'm not 100% sure whether this is a problem with `awkward` or with `uproot`. I'm using the following example code to store a subset of TTree branches to a Parquet file, using either `.arrays()` or `uproot.lazy()` via an HTTP URL:

[code]

With `n_branches` set to `1`, I get roughly comparable performance between these two

[2022-04-20 16:06] jpivarski commented on #1436
Without digging into it, I would guess that this is because `lazy` has to make a separate HTTP request for each basket of each branch, whereas `arrays` can request all of the byte ranges upfront in a single request, if the server supports multi-part GETs. Even if the server doesn't support multi-part GETs, the `lazy` requests have to be sequential and the `arrays` can use the multiple workers of t

[2022-04-21 11:32] masonproffitt commented on #1436
This came up in the context of the Uproot transformer in ServiceX, which uses `lazy` because FuncADL doesn't currently have a way to determine which branches will be needed until a query is run. For my purposes here, I don't care about row chunking (I'm always loading an entire branch); I just don't want to load every branch in the tree. In this case, the entire file is only 200 MB, so I don't thi

[2022-04-21 11:56] agoose77 commented on #1436
@masonproffitt could you perhaps add a little more detail with regards to

Is it that you support non-trivial methods of e.g. accessing record fields (e.g. a dynamic string) such that the AST needs to be executed in order to determine which fields are in use?

If this is the case, then it will not be trivial to predict which branches will be loaded by the routine in order to batch-load them. Most

[2022-04-21 12:27] masonproffitt commented on #1436
Exactly. There's no way to know exactly what needs to be loaded until the point of the `ak.to_parquet` call. In many cases, part or all of the output array has already been materialized by the query (which is perfectly fine), but this particular case is an example in which nothing has been materialized, but all of the knowledge needed to make a much more efficient `arrays()` call exists. Maybe I c

[2022-04-21 12:39] agoose77 commented on #1436
Of the possible solutions, I'd generally argue in favour of an explicit early-as-possible solution (e.g. the metadata approach I mentioned earlier). Only special-casing `to_parquet` means that a general analysis will not benefit from this optimisation.

I don't know enough to know whether these options would work, but some possible avenues:

- Allow the user to add metadata as to which branches wi

[2022-04-21 14:56] masonproffitt commented on #1436
The first option isn't tenable, as it breaks one of the primary goals of the interface. Even the significant performance penalty I've seen here is preferable to that. The second option is closer to the idea I've had for a long-term solution, but it is highly non-trivial, as the array and various slices of it can be assigned to new variables within a query, and there are non-field attributes. For n

[2022-04-21 16:39] asnaylor commented on #1420
Tried to do something similar with ArrayBuilder:
[code]
And got a similar error, must be because it's a non-literal string:
<details>
<summary>Error Traceback</summary>
<br>

[code]

</details>

I tried to just put in a literal string:
[code]

And i'm also seeing an error:
[code]
<details>
<summary>Full Error Traceback</summary>
<br>

[code]
</details>

---

## Versions

[code]

[2022-04-21 16:53] jpivarski commented on #1420
The original issue was about literal/non-literal strings in selecting record field names, which is relevant because that's usually compiled in. (In a compiled language, the field of a struct is not quoted. In ArrayBuilder, it's only quoted because it's making a new type that didn't exist at compile-time.)

Your issue, @asnaylor, is not related to literalness, which is why it doesn't work in either

[2022-04-21 16:54] agoose77 commented on #1420
We also don't seem to support `ArrayBuilder.string` either!

[2022-04-21 16:59] asnaylor commented on #1420
Ah that makes sense about the literalness. Yeah when i try with `.string` instead of `append` for the ArrayBuilder in the numba function i still get a `TypingError`: `Unknown attribute 'string' of type ak.ArrayBuilderType(None)`.

[2022-04-21 17:04] jpivarski commented on #1420
I'm astonished: it's weird that I would just forget that. But it does explain why `append` isn't overloaded to cover it. Probably the feature was added later and the ArrayBuilder-in-Numba implementation is just behind the times?

[code]

Indeed: it's missing. Also, I don't see it in either the v1 or the v2 implementation.

This should be a separate issue: ArrayBuilder-in-Numba is missing `string`

[2022-04-21 17:08] jpivarski commented on #1420
Oh, and if you need an interim solution for filling strings in Numba, Awkward strings are really just lists of `np.uint8` with parameters attached: `__array__: "char"` for the NumpyArray and `__array__: "string"` for the ListOffsetArray. If you build it from two NumPy arrays (`np.uint8` characters and `np.int64` offsets) that you later construct into an Awkward Array, your implementation will be f

[2022-04-21 18:59] jpivarski opened #1438 "ArrayBuilder in Numba is missing some methods, such as 'string'"
I'm astonished: it's weird that I would just forget that. But it does explain why `append` isn't overloaded to cover it. Probably the feature was added later and the ArrayBuilder-in-Numba implementation is just behind the times?

[code]

Indeed: it's missing. Also, I don't see it in either the v1 or the v2 implementation.

This should be a separate issue: ArrayBuilder-in-Numba is missing `string`

[2022-04-22 15:28] jpivarski opened #1439 "ufuncs on records should not be allowed unless they are explicitly overridden."
Unless explicitly overridden, ufuncs are not supposed to work on records. In v1:

[code]

(that's good), but in v2:

[code]

(that's bad).

In v1, this was issue #457 and PR #510, which added:

https://github.com/scikit-hep/awkward-1.0/blob/779819e0405cd481dbae0976fc311f2f1d91d9b5/src/awkward/_util.py#L1057-L1061

It looks like the check was copied into v2:

https://github.com/scikit-hep/awkward-1

[2022-04-22 15:37] jpivarski commented on #1436
I think there isn't anything that can or should be done to the Awkward or Uproot codebases to address this, though there are ways of dealing with it in downstream dependencies (ServiceX). Arguably, it's complicating things to put that fix in ServiceX, but there isn't a good way to do it in the non-Dask model of laziness (no way to propagate information about what `to_parquet` needs to `uproot.lazy

[2022-04-22 15:37] #1436 closed, assigned to nobody

[2022-04-22 18:14] jpivarski commented on #503
I saw this when I was [prioritizing issues](https://github.com/scikit-hep/awkward-1.0/projects/5). This thread started in 2020, and how it would be dealt with now is rather different than it was then.

The date when all v1 code will be dropped and we release a version numbered "2.0.0" is set: Dec 1, 2022 (exactly 2 years after 1.0.0, see [roadmap](https://github.com/scikit-hep/awkward-1.0/wiki#cur

[2022-04-22 18:18] jpivarski commented on #503
This is the "rough surgery" branch: [jpivarski/v1-v2-rough-surgery](https://github.com/scikit-hep/awkward-1.0/tree/jpivarski/v1-v2-rough-surgery). DO NOT MERGE!

[2022-04-23 21:14] alexander-held opened #1441 "Improve potentially misleading array repr cut-off for multi-dimensional arrays"
### Description of new feature

When an array contains such content that the point where the cutoff happens in the repr aligns with the end of a level of "indentation", the corresponding bracket does not appear and a comma appears in its place. This can make the array appear to have a different shape than it does:
[code]

Everything looks normal in the first example. In the second example, the bra

[2022-04-23 23:47] jpivarski commented on #1441
This was already done in v2: https://github.com/scikit-hep/awkward-1.0/issues/838#issuecomment-949042273

It's a completely different algorithm that has the property of always closing any open brackets, with the trade-off that there may be many "`...`" instead of just one.

This kind of major change is appropriate for a 1 → 2 version boundary, and if it's better, at least it will be a draw to use

[2022-04-23 23:50] alexander-held commented on #1441
The repr in the link looks great, I think this perfectly addresses what I had in mind. Thank you!

[2022-04-23 23:50] #1441 closed, assigned to nobody

[2022-04-24 00:46] jpivarski commented on #1441
Great!

[2022-04-28 15:11] jpivarski opened #1450 "ak._v2.to_parquet: `row_group_number` is not strictly right"
The variable named `row_group_number` is not strictly right because the writer might write more than one row group in a call. It should be named `iteration_number`.

_Originally posted by @jpivarski in https://github.com/scikit-hep/awkward-1.0/issues/1440#issuecomment-1112329220_

[2022-04-28 21:19] douglasdavis opened #1452 "Registry of methods attached to an Array due to its behavior"
### Description of new feature

This came up while working on behavior compatibility with `dask-awkward`.

**TLDR**: It would be useful to have some registry of methods originating from behaviors that are available to an array _collection_ (likely through its typetracer array).

---

More explanation:

I'll use the muons dataset as an example. This will be reproducible with the following (with the

[2022-04-28 21:45] jpivarski commented on #1452
We don't want to put more burden on authors of behaviors to maintain a list of methods independently of the methods defined on overriding classes, so this list of methods would have to be derived from the `ak._v2.behavior` dict and the `__dict__` of each overriding class in the `__mro__`. So it should be a calculation, similar to the `possible_methods` calculation in your example, but ensuring tha

[2022-04-29 07:41] agoose77 opened #1453 "`to_layout` lets record cases slip through to the handler for generic iterators when `allow_records=False` (v1 and v2)"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

This is an issue we technically already know about, at least off-hand. However, I wanted to track it here so that we don't forget it.

Like #1414, we should either error on `to_buffers`, or handle this case. I believe we don't implement a form for a singular record, so the logical conclusion is to raise a `TypeError` here.

[2022-04-29 16:47] jpivarski commented on #1453
I guess this is what you mean:

[code]

The `to_buffers` function didn't recognize the Record, iterated over it, which means its dict-like keys, and turned that into an Array to convert into buffers.

Yes, that's definitely wrong and perhaps the easiest thing to do is to prevent Record from being used in `to_buffers`.

It looks like that's supposed to happen:

https://github.com/scikit-hep/awkward

[2022-04-29 18:04] jpivarski commented on #1453
This same mistake was made in v1, but it was made for both the low-level and high-level records:

https://github.com/scikit-hep/awkward-1.0/blob/2ee6e64097015d0fd343f247326e82ca10718af5/src/awkward/operations/convert.py#L1885-L1886

and

https://github.com/scikit-hep/awkward-1.0/blob/2ee6e64097015d0fd343f247326e82ca10718af5/src/awkward/operations/convert.py#L1897-L1898

This issue should cover bot

[2022-04-29 21:02] #1453 closed, assigned to jpivarski

[2022-05-02 16:27] douglasdavis commented on #1452
thanks @jpivarski! here's what I've come up with based on your suggestion:

[code]

With my muons example I get `{'mass_with'}`, if I call `possible_methods(mu1_wb._meta)`; all good.

For testing with `vector`:
[code]
gives:

<details>
<summary>Long output</summary>
<br>

[code]

</details>

I haven't done a detailed comparison but it looks promising.

Do you think this is going down the right tra

[2022-05-02 16:33] martindurant commented on #1452
Instead of `callable`, I would use `inspect.ismethod`.

[2022-05-02 16:42] douglasdavis commented on #1452
Looks like we lose the ability to use `inspect.ismethod` if we don't actually have an instance.

using the type:
[code]
using an instance:
[code]

[2022-05-02 16:49] martindurant commented on #1452
This is not surprising, it's at inding time that a method becomes a method (you can call `MuonsArray.mass_with()` if you like, but it will fail if you don't pass the right thing for the first argument).

A more convoluted form, relying on python conventions:
[code]

[2022-05-02 16:54] douglasdavis commented on #1452
Ah I see yeah makes sense. Something this also made me think of: maybe we can try something like below and avoid the derivation of a list-of-all-possible-methods altogether:
[code]

[2022-05-02 16:56] martindurant commented on #1452
Relying on exceptions is another option, yes. It'd be nice to compute the list of methods, though, so we can include them in `dir()`.

[2022-05-02 17:16] jpivarski commented on #1452
For callable vs ismethod: do you need the results to be callable at all? You're wanting `dak.Array` to have the same names in its namespace as `ak.Array`; is it important for that to only include things that can be called? (Because you'll be delaying their actions, and therefore only callables will do? I'm not asking this question because I disagree, but because I'm not sure of the right answer.)

[2022-05-02 18:16] martindurant commented on #1452
I'll just say that attributes and class method don't feel like things a dask collection normally does.

[2022-05-05 07:40] WenzDaniel opened #1459 "Masking and binning awkward.highlevel.Array leads to wrong results"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

Hej Jim, thanks for the nice package.

I encountered a strange behavior when making a histogram of a masked Awkward Array. I am not sure if the issue arises from awkward or numpys masked arrays (or maybe even both). When converting the awkward.array into a numpy.masked array the entries for the masked fields change. In add

[2022-05-05 07:41] WenzDaniel commented on #1459
(btw sorry for the poor video quality, but I had to compress it in order to upload it)

[2022-05-05 08:08] agoose77 commented on #1459
Unlike NumPy, Awkward array isn't guaranteed to preserve the original values of masked elements.

As to the histogram results, I'm not sure that `np.histogram` supports masked arrays at the moment #832. I suspect you will want to first ravel the contents e.g. with `np.ravel`.

## Technical Explanation :microscope:
The reason for this is that there are several representations of missing values in A

[2022-05-05 08:32] WenzDaniel commented on #1459
Hej Angus, thank you very much for the quick reply.

Okay, this is something I expected already.

Okay, thanks. Yes the current behavior is a bit funky. At least none of us expected this behavior. Okay then I will warn our collaboration about it. Thank you very much for the quick help.

[2022-05-05 09:14] WenzDaniel commented on #1459
FYI: I think you mean `ak.ravel` before converting to numpy, is not it? At least `np.ravel` is not doing anything on the masked array as my data is already flat.

[2022-05-05 09:22] agoose77 commented on #1459
`np.ravel` invokes `ak.ravel`, which does two things - it flattens _and_ it drops None values. Both are generally useful when filling histograms.

However, in your case, the array _is_ a `MaskedArray` after you call `to_numpy`, so this wouldn't happen.

In general I suggest using the NumPy API unless you need an Awkward function, but cases like this are a bit special, and have given me something t

[2022-05-05 09:44] agoose77 opened #1460 "`ak.ravel` doesn't mirror `np.ravel` for `None` leaf values"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

## The bug :bug:
In #1459 I noticed that `ak.ravel(masked_array)` does not match `np.ravel(masked_array)` for a NumPy `masked_array`.

An example:
[code]

## Why is this a bug? :question:
I think this is a problem, because we try to make NumPy functions on `NumpyArray`s behave as they do in regular NumPy. Given that we exp

[2022-05-05 09:45] agoose77 commented on #1459
If you're happy with the solutions posed here, then I shall close the issue :)

[2022-05-05 10:46] WenzDaniel commented on #1459
Sure, thanks for your help. I think the issue is more related to numpy showing this unexpected behavior, Though I think it is quite a pitfall and a bit worrisome if you are doing simulations, working with uproot etc.

[2022-05-05 11:03] #1459 closed, assigned to nobody

[2022-05-05 15:17] jpivarski commented on #1459
(Thanks @agoose77 for resolving this!)

It took me a while to figure out what, exactly, is happening here, but yes: I would call this a NumPy quirk. NumPy's MaskedArray is (in my opinion) not well thought-through, and not very widely used. This case shows that all you have to do to expose hidden/uninitialized/undefined data is to say `t.data`. MaskedArray is considering the `t.mask` as some option

[2022-05-05 17:05] jpivarski commented on #1460
If it's floating point, we can turn the missing values into `nan`. If they're integers... I don't think we want to put in `maxint` or anything. We also don't want to change types to float.

Maybe we should take `fill_value` as an argument. We can add new arguments to the NumPy functions we overload. The default `fill_value` could do `nan`/`maxint` and allow users to put in something else.

[2022-05-05 18:05] agoose77 commented on #1460
That's an idea! I also wonder if we want to emulate NumPy here? If so, we would want to only eliminate `None` at the outermost lists, and keep the innermost option type.

[2022-05-05 18:18] jpivarski commented on #1460
Oh wait, you mean this:

[code]

I was under the (wrong) impression that `np.ravel` is removing the mask but leaving in the `maskedarray.data`, which for us would be uninitialized junk, so we'd have to set it to something. But that's not what `np.ravel` does: it leaves the option-type in.

Technically, the option-type of a MaskedArray is immediately above the primitive type, regardless of whether

[2022-05-12 22:58] jpivarski opened #1466 "New to/from_raggedtensor and to/from_nestedtensor functions"
### Description of new feature

TensorFlow's RaggedTensor has been around for a while and PyTorch's NestedTensor is new, but they should be conversion targets for Awkward Arrays. And then a tutorial should be written in the spirit of this one:

https://www.tensorflow.org/text/tutorials/text_generation

but using Awkward strings ↔ RaggedTensors instead of making `np.array(["...", "...", ...], dtype

[2022-05-14 12:43] ManasviGoyal opened #1471 "Problem compiling on Windows"
### Version of Awkward Array

Master branch

### Description and code to reproduce

I downloaded Awkward array for developers and when I tried to build it I faced this issue:
[code]

I am using Windows 10.
[code]

[2022-05-16 19:45] jpivarski commented on #1471
Welcome, @ManasviGoyal! Sorry that I didn't get to this on the weekend. MSBuild seems to be complaining about parallel compilation with `-j8`, which might have a different switch name. Here's where it is set:

https://github.com/scikit-hep/awkward/blob/405c4d492298d262d7278d109b10891aa95448b1/setup.py#L135-L136

So you could work around it by explicitly setting a `CMAKE_BUILD_PARALLEL_LEVEL` envir

[2022-05-17 09:42] ManasviGoyal commented on #1471
Thank you @jpivarski.  I'll try to configure it like you mentioned and will Iet you know in case I face any issues.

[2022-05-19 16:23] ianna opened #1477 "generator entry_type does not match `ROOT::VecOps::RVec` when `flatlist_as_rvec=True`"
### Version of Awkward Array

master branch

### Description and code to reproduce

[code]
when `flatlist_as_rvec=True` the generator correctly generates the following C++ code:
[code]
but the `generator.entry_type()` returned type looks like the `flatlist_as_rvec` flag is ignored, as if it is still set to `flatlist_as_rvec=False`:
[code]

[2022-05-20 10:02] ianna commented on #1477
fixed in https://github.com/scikit-hep/awkward/pull/1474/commits/10638128f0a1be9546cf297dd4f724571549a8a1

[2022-05-20 12:04] jpivarski commented on #1477
That's great! It's that checkout in a PR? If so, will that PR close this issue when it's closed?

[2022-05-20 13:08] ianna commented on #1477
The opposite. I linked the issue to the PR. The issue will be closed when the PR is merged. I'm tempted to merge the PR because the bug affects `to_rdataframe`. Or I can open a new small PR with the bug fix :-)

[2022-05-20 14:11] jpivarski commented on #1477
After the fact, it's not necessary. Some of my PRs have been tiny, just to go through the tests before modifying the `main` branch. I just want to be sure that the bookkeeping is handled so that I don't think this is an open issue later.

Thanks for fixing it!

[2022-05-23 08:13] ManasviGoyal commented on #1471
if i add `/p:CL_MPCount=1` instead of `-j` it works for me.

[2022-05-23 08:35] ManasviGoyal commented on #1471
There was a problem in creating symlinks in Windows :
[code]
This operation requires administrative privileges.

[2022-05-23 09:12] jpivarski commented on #1471
Symlinks can be replaced with copies (`ln -s` → `cp`), but if so, you'll have to run `localbuild.py` after every code change, including Python code.

(At one point, the script copied, but it was switched to symlinks for convenience. If you switch it to copies, it should be on Windows only.)

[2022-05-26 11:48] agoose77 commented on #1041
I ran into this again today, with `IndexedArray`s losing their arrayclass due to `layout.parameter` returning `{}` when wrapping a `RecordArray`:
[code]

I believe that the best course of action here is to keep the existing per-layout `parameters` attribute, and add a new `resolved_parameters` (name tbd) that merges the parameters within the same dimension. This would also address point (1) in you

[2022-05-27 16:51] philippemiron opened #1482 "Error when using ak.copy in v2"
### Version of Awkward Array

1.9.0rc4

### Description and code to reproduce

[code]

Expect a copy of the array, but I get this:

[code]

[2022-05-27 17:32] agoose77 commented on #1482
I took a quick look at this and I suspect that it's the `_module` object of the `nplike` associated with the various contents.

Having only just glanced over the code, I think we might want to replace the existing `deep_copy` method with a `__deepcopy__` implementation which ensures that nested layouts are also handled to avoid trying to pickle the module.

In the mean-time, if you really need a d

[2022-05-27 18:48] jpivarski commented on #1482
That's sounding right. I had intended to look into this, but you beat me to it!

Now that I think of it, all of our arrays have a link to the `nplike` singleton, and the one corresponding to NumPy holds a reference to the actual `numpy` module. We don't want to copy that! So yes, we'll need a custom `__deepcopy__` (and probably also `__copy__`), and its implementation can be our `deep_copy`. It co

[2022-05-27 19:07] philippemiron commented on #1482
I was actually creating a copy to return a subset version of the array and keep a copy of the original, but just realized that it was not needed. Thanks for the advice.

[2022-05-27 19:11] jpivarski commented on #1482
(We should fix it anyway, thanks!)

What you need might be `ak.packed`. Ordinarily, when you slice something, it doesn't actually make a copy, so the original is still entirely in memory. Packing ensures that only the parts you can see in the array you have are linked, so that a subset actually uses less memory.

[2022-05-30 14:21] agoose77 opened #1483 "Array class validation"
### Description of new feature

This issue was originally very long, but the fundamental motivation is quite simple. Right now, behaviour classes cannot perform validation at construction time; the only opportunity for validating the current layout is whenever a user-defined method is called, e.g.:
[code]
[code]

 This means that a user could associate a behaviour with a poorly structured array, a

[2022-05-30 21:51] jpivarski commented on #1483
This is a good idea—I've run into the same issue when constructing MomentumVector4D and a field like "px" is missing or a non-scalar type. (The latter can happen when using an interference you expect to zip that doesn't actually zip.)

Some things to think about:

   * If it's called on every ak.Array subclass constructor, it needs to be pretty lightweight. We'll need to communicate with library d

[2022-05-31 19:26] ianna commented on #1477
fixed in https://github.com/scikit-hep/awkward/pull/1478

[2022-05-31 19:26] #1477 closed, assigned to ianna

[2022-06-03 15:16] jpivarski opened #1488 "Convenience methods for plotting and histogramming"
### Description of new feature

One thing that's a little annoying right now is getting data from Awkward Arrays into plots. A lot of my tutorials include stanzas like

[code]

but in the heat of interactive data analysis, you have some intermediate array result that you want to quickly plot to see what's happening. I find myself saying that the value of array-oriented interfaces is the quick inte

[2022-06-03 15:49] henryiii commented on #1488
`awkward_array_goes_here.hist.Reg(100, 0, 5).Double().plot()`? Or `.hist.new.` to give options to add other interfaces like `.hist.auto()`, for example, which would do the numpy-like auto binning? Using QuickConstruct is the right thing, I think, because it doesn't require imports to work. We can add some infrastructure for auto-fill, I think.

I'd not worry about adding a mapping of hist axes nam

[2022-06-03 17:32] agoose77 commented on #1488
I'm slightly in favour of *not* adding an `ak.hist` feature to the Awkward namespace, mainly because I think that these features should be added to hist.[^note]

In your example you note that the awkward array ends up appearing half-way into the code block. Interestingly, I tend to make my fill calls comprise solely of the identifiers, e.g.

[code]
I think I've been subconciously driven to do this

[2022-06-03 18:29] jpivarski commented on #1488
Regardless of whether hist does broadcasting (it seems like that would make it depend too much on Awkward), what I'm thinking about here is the ergonomics of getting a quick plot. Similarly, we have `to_list` as a method on ak.Array in addition to it being a function because when you're typing an array expression, going to the beginning of the line, adding "`ak.to_list(`", then going to the end an

[2022-06-03 19:19] agoose77 commented on #1488
Well, I'd suggest it just uses `np.broadcast_arrays` as that would be implementation agnostic?

I understand the benefit of the method chaining vs function composition. I actually just switched out my own Dask helper library to use function composition in order to make the abstraction thinner, but I can see that if you don't use Black and/or want to adapt your coding style, it's not as frictionles

[2022-06-05 14:59] agoose77 opened #1489 "`NumpyArray.deep_copy` produces different array (v1)"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

Currently, I can't find a reproducer besides the runtime state of my open interpreter.

`NumpyArray.deep_copy` is not correctly copying a particular array that I have. The array that is being copied is:
- contiguous (`x.contiguous().ptr == x.ptr`)
- bool with 327 entries

The resulting copy has periodic contents, though th

[2022-06-13 16:45] jpivarski opened #1501 "Same AwkwardArrayDataSouce is (attempted to be) compiled twice"
### Version of Awkward Array

HEAD

### Description and code to reproduce

When I ran the tests with `localbuild.py`, `tests/v2/test_1477-generator-entry-type-as-rvec.py::test_BitMaskedArray_NumpyArray` attempted to compile `AwkwardArrayDataSource_8748206908428` a second time. The test failed because Cling complained at `awkward/_v2/_connect/rdataframe/to_rdataframe.py:288: AssertionError`.

<deta

[2022-06-13 18:00] jpivarski commented on #1406
@agoose77, you and other core developers can call any bug you find "verified".

[2022-06-13 18:22] #1406 closed, assigned to nobody

[2022-06-14 14:36] douglasdavis opened #1504 "ak.* support for typetracer arrays"
### Description of new feature

Running list of (discovered by trying in dask-awkward) missing functions:
- [ ] `ones_like`
- [ ] `zeros_like`
- [ ] `firsts`

Example failure:
[code]

[2022-06-14 21:14] jpivarski commented on #1504
I made this the [top priority](https://github.com/scikit-hep/awkward/projects/5) of the "easy" column, hoping that @ioanaif, @agoose77, or @ianna can get to it soon. I think that `ones_like` and `zeros_like` will have exactly the same implementation for the TypeTracer. `firsts` is a higher-level function, but it's blocked by `ones_like` and `zeros_like`, right?

[2022-06-14 21:18] jpivarski commented on #1489
I'm marking any issue you, @ianna, or @ioanaif find as being verified bugs.

The reason I have the "bug (unverified)" label is to know when I/we have done triage or not. (I suppose a separate "triage" label could have worked, too.) Some purported bugs are not bugs but usage questions, and the bug report defaulting to "unverified" is a reminder that the issue might be solved by an explanation, rath

[2022-06-14 21:34] agoose77 commented on #1489
Thanks Jim. I've been working on "only me reporting" as "unverified", unless it's a very clear instance of a bug. I'm happy to take the promotion!

[2022-06-15 09:59] ianna commented on #1501
@jpivarski - I think, it is fixed in https://github.com/scikit-hep/awkward/pull/1474

[2022-06-15 11:34] jpivarski commented on #1501
I linked it so that when that is merged, this will be closed. Thanks!

[2022-06-15 15:25] douglasdavis commented on #1504
I don't think `firsts` is blocked by anything; and just to be clear all 3 of the functions I've found so far are working in dask-awkward fine as a dak.* equivalent (it's just that in these cases where the function fails on the old typetracer, the new typetracer is derived (triggering a warning) via the ["backup method"](https://github.com/ContinuumIO/dask-awkward/blob/440a47dff6489c73165b114e47356

[2022-06-16 19:01] #1501 closed, assigned to ianna

[2022-06-16 19:42] #1504 closed, assigned to nobody

[2022-06-21 15:55] nsmith- opened #1511 "Raise warning on setattr for assigning arrays to records"
### Description of new feature

Take the following rather surprising but currently correct behavior:
[code]
It is surprising to users that `a.x` and `a["x"]` are different, but expected because the array set by `setattr` ends up masking the underlying array already in the layout of `a`. The recommended way to assign arrays to existing records is to use `setitem` as shown:
[code]
then the `getattr`

[2022-06-21 16:00] agoose77 commented on #1511
I think this is reasonable. In general, I think it is poor practice to store any non-array data on an `ak.Array`, so this would be a nice default.

[2022-06-21 16:11] jpivarski commented on #1511
(We've been talking about this on Slack.) I agree: just telling people "use this, not that" is insufficient because not everybody's listening on the same channel. Since one can do `a.x` to get an array, it's very natural to expect `a.x = array-like` to set an array. This must be prevented because it gets very confusing downstream, as Nick pointed out.

We also need to be able to stash data on an a

[2022-06-21 16:29] agoose77 commented on #1511
I think we don't need to be too restrictive here. As long as the defaults are sane, then if a user decides to push the limit, they'll ultimately hit a bug and report.

I'm happy to promote this to an exception. I agree that this should not look at the object type.

[2022-06-21 16:42] nsmith- commented on #1511
It might be worth explaining here why `setattr` can't just call internally `setitem` on array arguments. The usual corner case is `array.attr.subattr = ...` where in the current scheme `array.attr` is a shallow copy and hence the `setitem` doesn't actually propagate to `array`. Perhaps with enough backreferences this could be arranged, but it would not be trivial I imagine. Jim may have more reaso

[2022-06-21 17:19] jpivarski commented on #1511
When I last thought about it, I thought that it would be impossible, given how Python is eager. But... maybe if those arrays returned via `.attr` carry some backward-pointing metadata, it might be possible. But then we'd have a problem of sliced arrays owning the arrays they were sliced from, which would have a surprising effect on memory footprint: if you slice out one field of an array and `del`

[2022-06-23 11:45] ianna commented on #588
FYI, both `ak._v2.to_rdataframe` and `ak._v2.from_rdataframe` are now in a pre-release. You can pick it up with
[code]

Here is an example how to use it:
[code]

Please, let me know if there are any issues, or requests. Thanks!

[2022-07-01 19:37] jpivarski opened #1525 "When ak.to_numpy makes a np.ma.MaskedArray, the values behind the mask must be initialized"
### Version of Awkward Array

HEAD

### Description and code to reproduce

When an Awkward Array with missing values in it is converted to NumPy with [ak.to_numpy](https://awkward-array.readthedocs.io/en/latest/_auto/ak.to_numpy.html) and `allow_missing=True`, the return type is `np.ma.MaskedArray` with `mask[i] = True` for entries `i` corresponding to missing values. The `data[i]` for those `i` a

[2022-07-01 20:17] tacaswell commented on #1525
I agree that this is the pragmatic approach and the best you can do in this case where someone has left Awkward, gone to a masked array, and then discarded the mask!  Always going to the same "in-band" sentinel is definitely better than leaving them uninitialized (which can have very interesting undefined behavior  https://github.com/h5py/h5py/issues/2069).

[2022-07-05 21:16] jpivarski opened #1530 "`tolist` bug revealed by Uproot 5 testing"
### Version of Awkward Array

HEAD

### Description and code to reproduce

In scikit-hep/uproot5#620, a test named `test_gohep_output_file` is failing in `tolist`:

[code]

It looks like an Awkward bug, to be fixed here. (Uproot has a work-around, so we won't see it again unless we actively look for it. Hence this bug report.)

[2022-07-06 15:31] agoose77 commented on #391
@jpivarski do you think that we still need this in 2022?

[2022-07-06 15:34] agoose77 opened #1534 "Move JupyterBook to Sphinx & integrate with existing RTD"
https://github.com/scikit-hep/awkward/projects/7

[2022-07-06 17:21] jpivarski commented on #391
No, this sounds like a to-do item that gets "done" by waiting so long that it's no longer relevant. We probably have more new users of Awkward 1 than transitioning users of Awkward 0.

[![image](https://user-images.githubusercontent.com/1852447/177607668-70196be8-6003-4e0f-923b-c476f660bebd.png)](https://github.com/jpivarski-talks/2022-03-04-reload-statistics/blob/main/PLOTS/pip-allos-awkward-lin.

[2022-07-06 17:21] #391 closed, assigned to nobody

[2022-07-06 17:34] raymondEhlers commented on #391
No worries at all @jpivarski! You always answer so helpfully and quickly that it makes issues like this quite minor. (Plus, I made the transition years ago). I really appreciate the effort that you and others put into such a useful package!

[2022-07-07 13:59] #1525 closed, assigned to ioanaif

[2022-07-08 07:16] #1482 closed, assigned to ioanaif

[2022-07-08 07:39] ioanaif commented on #1361
In v2 sorting was a subject of debate for `RecordArrays` and `Records`, the consensus was to remove the sorting facility as we do not have any order defined for records. Thus, sorting across record boundaries would destroy the identities of those records. (see discussion #1451 )

As of now, if no fields are present, `sort` will output an empty array. However, do we want to keep sorting if there ar

[2022-07-08 08:06] agoose77 commented on #1361
Thanks @ioanaif! I revisited the discussion that you linked, and [my personal preference has shifted](https://github.com/scikit-hep/awkward/discussions/1451#discussioncomment-3105892) towards fixing the sort to be lexicographic, and extending the API to `ak.sort` and `ak.argsort` so that users don't use the new behaviour silently.

I.e.

[code]

[2022-07-08 12:13] jpivarski commented on #1361
Lexicographic is the most reasonable definition for a sort order for records, but I think that defining it will be a big job. I'm thinking of the "removal of record-sorting" as a temporary solution, to make sure that people don't silently get the wrong behavior, or, worse yet, rely on it. That's a necessary prerequisite for coming back and implementing it properly in the future.

Since record fiel

[2022-07-08 13:45] agoose77 commented on #1361
OK, as it looks like @ioanaif is working on this, I'm not going to push any significant amount of extra work their way!
I was thinking of defining sorting for primitive fields, but that just makes it fragile with lists.

Let's do the simplest option first, as you say.

[2022-07-08 19:19] #1417 closed, assigned to ioanaif

[2022-07-11 08:40] agoose77 commented on #1483
Just making notes - it would also be handy to have this for `vector` in order to prevent users setting multiple aliases for e.g. time-like quantities.

More notes!

I've thought about this further, and I like the idea of this being an `ak.behavior` feature. My rationale is that `ak.behavior` is a more general mechanism than behavior classes, and importantly we don't pollute the class namespace.

W

[2022-07-12 21:15] jpivarski opened #1546 "In Awkward v2, rename ak.to_pandas → ak.to_dataframe"
And the [new Awkward-Pandas wrapper](https://github.com/scikit-hep/awkward/wiki#pandas-integration) would be accessed with `ak.to_series` and `ak.from_series`. Either an Awkward Array is exploded into a whole DataFrame (or multiple DataFrames, if there are multiple jagged structures) or it is wrapped as a Series.

Maybe `ak.to_pandas` would continue to exist as a synonym for `ak.to_dataframe`, but

[2022-07-18 14:38] jpivarski opened #1551 "Layout Record should have an 'axis_wrap_if_negative' method"
### Version of Awkward Array

HEAD

### Description and code to reproduce

Otherwise, any method that takes an `axis` fails like this:

[code]

This affects both v1 and v2. It's a bug, so it should be fixed in both, but v2 is higher priority if there's only time to fix one of them. The fix in v2 can be in Python; the fix in v1 has to be C++ code.

Fields of a record don't count as an `axis`, so th

[2022-07-18 14:45] agoose77 commented on #1551
Huh, I thought we had an issue tracking this, but apparently not!

[2022-07-18 15:15] jpivarski commented on #1551
I don't remember it. I just did a search and didn't find it. If it rings a bell, that's a good sign for consistency, at least.

[2022-07-19 12:48] agoose77 opened #1553 "`ak._v2` missing `size`"
### Version of Awkward Array

HEAD

### Description and code to reproduce

v1 implements `ak.size` but we have not ported it over to v2.

[2022-07-19 13:00] jpivarski commented on #1553
That was intentional. Let me get back to this.

[2022-07-19 15:27] jpivarski commented on #1553
Actually, `np.size` isn't even part of the NumPy API. NumPy arrays have a [size property](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.size.html), but this would be meaningless for an Awkward Array. The v1 `ak.size` was to satisfy Pandas, a feature we gave up on in #350.

So this function _should not_ be reimplemented in v2. We're taking advantage of the chance to change the API

[2022-07-19 15:27] #1553 closed, assigned to nobody

[2022-07-19 15:28] agoose77 commented on #1553
Wait, you're right! :facepalm:. I'm pretty sure I've made this exact assumption before. Apologies for the noise everyone

[2022-07-19 19:38] jpivarski opened #1557 "Lengths of empty regular slices (in v2)"
### Version of Awkward Array

HEAD

### Description and code to reproduce

At least for v2 and variable-length arrays, we get the right zero-slicing edge case:

[code]

but v2 regular arrays have a zero-length error:

[code]

What we want to have happen is for this slice to build a RegularArray with an explicit `zeros_length` argument, which is the only way to make a RegularArray with non-zero len

[2022-07-20 05:10] philippemiron opened #1558 "__enter__"
### Description of new feature

I believe it would be useful to define the `__enter__` / `__exit__` methods so we could do:

[code]
and it would take care of closing (or deleting) the dataset.

[2022-07-20 12:58] jpivarski commented on #1558
Well, the `ak.from_parquet` function opens and closes the file (using `with` blocks internally, to be sure to close the file even if there's an error), so by the time that it returns and `ds` is defined, the file is already closed. If you want this to delete `ds`, that's not what `with` blocks are normally for: they're for scoping resources _other_ than memory because memory is already scoped by f

[2022-07-20 13:59] jpivarski commented on #1557
@grst, since you say that this is a blocker, I moved it up in the priority queue. Normally, an error about "What is the exact type of an array that doesn't contain any data?" would not be a high priority, but presumably it is for you because you need to make assumptions about that type to fit it into AnnData.

[2022-07-20 14:03] grst commented on #1557
We have some tests for those edge cases that fail currently. So while it blocks merging the PR, it does not block continuing development.

Thanks for looking into this, but no hurries! I am on vacation from tomorrow on and @giovp also said he currently doesn't have time to focus on the AnnData PR.

[2022-07-20 21:18] #1558 closed, assigned to nobody

[2022-07-26 13:28] jrueb commented on #1127
I was also observing this effect, but I'm not fully convinced this can be explained or solved garbage collector invocation, which is why I'm replying to this rather old issue.

You are calling `gc.collect` in every loop, but what if that slows down the loop so much, you stop seeing the leak? When I do
[code]
I get steady increase in memory usage, even though garbage collection is being done.

[2022-07-26 13:52] agoose77 commented on #1127
I can reproduce growing memory for your trivial example. If I change the Array object to the `v2` implementation (`ak._v2.Array`), I don't see this reproduced. It's not clear to me at this stage where this is a memory leak or fragmentation, but it seems like the former's a reasonable bet.

[2022-07-26 14:20] ianna commented on #1127
@agoose77 - how long before see it? I'm running on master + PR #1560 for ~15 min. It looks like it v1 memory oscillates between 250 - 560 M:
<img width="448" alt="Screenshot 2022-07-26 at 16 04 24" src="https://user-images.githubusercontent.com/1390682/181025797-d57861d0-21ff-445b-b0c8-bdcb58051c34.png">

and for v2 it's pretty stable at 50 M:
<img width="466" alt="Screenshot 2022-07-26 at 16 15 4

[2022-07-26 14:53] agoose77 commented on #1127
@ianna good question. I gave it a while, and observed memory growing from $t=0$. Let me run it for longer, and see whether it saturates as expected.

[2022-07-26 14:59] agoose77 commented on #1127
For me, it climbs past 1GB (5 minutes). I don't actually have a huge amount of spare memory right now with all of my open tasks, so I won't be able to let it run for any longer :sweat_smile:

[2022-07-26 16:03] jpivarski commented on #1127
We've moved from C++ owning the data (ArrayBuilder based on `std::shared_ptr` that is shared with Python) to Python owning the data (a copy of `std::unique_ptr` data in C++ to a NumPy-allocated array—until a few weeks ago, 1.9.0rc8? 9? 10? Now ArrayBuilder is using @ManasviGoyal's new GrowableBuffer, so there isn't even a single `std::unique_ptr` anymore: the _only_ full copy of the data is alloca

[2022-07-27 19:13] #1534 closed, assigned to agoose77

[2022-07-28 15:40] #1439 closed, assigned to ioanaif

[2022-07-28 15:41] #1551 closed, assigned to ioanaif

[2022-07-29 01:20] martindurant opened #1570 "to_pandas options"
### Description of new feature

It may well be that this is already done, but we are not aware how.

We would like to be able to do the following operations on an awkward array, so to support its use as a pandas extension type. These could be done in the context of the existing `to_pandas`, although they need not concern pandas, actually, we can handle that in the awkward-pandas package.
- where e

[2022-07-29 08:50] agoose77 commented on #1570
Does the second bullet refer to regular fields, I.e those that can pass through `to_numpy`?

[2022-07-29 12:44] martindurant commented on #1570
Yes, numpy-able fields (only one dimension deep), plus strings.

[2022-07-29 14:45] jpivarski commented on #1570
Let's be sure to name the function @douglasdavis is working on as "`to_series`" as opposed to "`to_dataframe`", re: #1546. With these two rather different ways of making Pandas objects, we don't want to muddle the issue by calling them both "`to_pandas`".

[2022-07-29 15:10] agoose77 commented on #1570
@martindurant for (2) what would you like to happen to nested records, e.g.
[code]

My guess is that you might want to flatten the record structure, i.e. produce fields with names such as `"trip.begin.long"`, etc?

[2022-07-29 15:13] martindurant commented on #1570
no, we want to allow users to do whatever flattening they might like, but we should not do that by default. We do not want a multiindex.

[2022-07-29 15:53] jpivarski commented on #1570
Right: that's the difference between this `to_series` (put a whole Awkward Array into a column, without modification) and `ak.to_dataframe` (currently named `ak.to_pandas`, which splits nested records into a MultiIndex of columns and nested lists into a MultiIndex of rows).

[2022-07-29 15:54] agoose77 commented on #1570
Ah, I'd missed the part where you mention this is for an extension type. I'm following :)_

[2022-08-03 10:38] agoose77 opened #1577 "Development: use standardised PR title prefixes?"
## Background
I'd like to introduce a tool like https://github.com/executablebooks/github-activity to automate our release note generation. We already have a tool that does this, but we don't do anything special with respect to categorizing the PRs that are merged during the release cycle.

The benefit of using another tool like github-activity is twofold:
- other people are using & developing it,

[2022-08-03 12:33] jpivarski commented on #1577
I'm in favor of this. The main thing, though, is that we want to cut over from our current state of not using it to 100% using it. If there's something that would enforce it, to make sure that we don't overlook it or make a mistake, that would be helpful.

At the same time, the tags and release names are not standard (e.g. "v2.0.0" and "Version 2.0.0") and that's because we were following an in-ho

[2022-08-03 12:43] agoose77 commented on #1577
Agreed. I suggested that we use a CI action to catch this before merge?

Agreed

The easiest solution would be to let these fall into the maintenance category. However, I'm discussing extending the categorisation support over at github-activity, so we could add another category for CI stuff.

[2022-08-08 14:49] blink1073 opened #1578 "List of Empty Objects is not supported"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

[code]

It works properly with `pyarrow`:

[code]

[2022-08-09 23:54] #1511 closed, assigned to agoose77

[2022-08-10 10:44] agoose77 commented on #1577
@jpivarski can you ping whomever you consider a stakeholder to weigh in on this? Namely, which convention to choose. Here are a couple:

- Conventional Commits - https://www.conventionalcommits.org/en/v1.0.0/
  - Angular variant - https://github.com/angular/angular/blob/22b96b9/CONTRIBUTING.md#-commit-message-guidelines
- NumPy(?) - https://numpy.org/devdocs/dev/development_workflow.html#writing-t

[2022-08-10 11:00] agoose77 commented on #1578
This looks like a bug to me. We don't have a fallback for `RecordArray`s with no child layouts.

This bug is not reproducible in our v2 release, which is being developed in `main` and available in the latest pre-releases under the `awkward._v2` submodule.

If you need to be able to do this, then you might benefit from trying out the v2 API. It's identical (or near-enough) at the high-level to v1,

[2022-08-10 15:31] jpivarski opened #1582 "Iterating over Records and `ak.from_iter`"
Currently, `ak.Record.__iter__` returns an iterator over its _field names_, which may be what a user expects if a Record were a [Mapping/MutableMapping](https://docs.python.org/3/library/collections.abc.html#collections.abc.Mapping) like a dict, but it's not. It's probably for the best that it's not, because we don't want `keys`, `values`, `items` methods, particularly since we're trying to consol

[2022-08-10 15:46] jpivarski commented on #1577
This would be a great thing to decide at our Awkward-Uproot group meeting; that's a gathering of the stakeholders. Could you prepare a slide/screenshot of what typical examples look like?—it could even be something you paste into this chat and screenshare during the meeting—and we'll pick one.

I don't think we'll have strong opinions, and I don't think it will take more than 5 minutes, but it giv

[2022-08-10 17:02] blink1073 commented on #1578
Thanks @agoose77!

[2022-08-11 12:33] #1578 closed, assigned to nobody

[2022-08-11 12:37] agoose77 commented on #1582
I am inclined to agree that we should not push the record-as-mapping protocol here. We'd start getting into the weeds with how NumPy defines e.g. `__contains__` and how a pure-Python mapping should etc. So, :+1: from me on making `Record` less clever.

[2022-08-11 15:08] #1530 closed, assigned to ioanaif

[2022-08-12 19:46] grst opened #1586 "Inconsistency in ak.concatenate"
### Version of Awkward Array

1.9.0rc10

### Description and code to reproduce

When concatenating two regular arrays, I would expect the output array to be regular, too.

This works in this case
[code]

However, when using the same arrays, but generated from json, the second dimension is variable after concatenation

[code]

### Context:
Discovered while working on https://github.com/scverse/annd

[2022-08-12 20:37] grst commented on #1557
I found another slicing edge case that is not fixed by the linked PR yet. I don't know if it's related or a separate issue, though:

**Expected, numpy behaviour**
[code]

**akward array behaviour**
[code]

Version:
v2 API, package installed with ` pip install git+https://github.com/scikit-hep/awkward/@ioanaif/fix-lengths-of-empty-regular-slices-1557`

[2022-08-14 17:54] tylerjereddy opened #1588 "Remove pybind11 bottleneck in `ak.from_iter` (v1 and v2)"
After a few hours of reading the docs, I came up with a few simple scenarios where I struggle to achieve performance improvements with `awkward` `1.8.0` with ragged data, and for the most part see slow downs compared to simple iteration and application of NumPy ufuncs, even when I increase the number of records and degree of "jaggedness" in the data.

I'll place a reproducer below, and I think my

[2022-08-15 10:11] agoose77 commented on #1588
The primary performance goal for Awkward is to scale linearly in the data, rather than exponentially. Despite that goal, and the fact that we want to be faster than pure-Python, there are some places where it might be noticeably slower than e.g. NumPy. As long as the performance scales ~linearly with size, then it's behaving as expected. That said, sometimes the constant of proportionality may be

[2022-08-15 10:29] agoose77 commented on #1586
So, the technical cause for this is that 2D NumPy arrays (the `NumpyArray` layout node) are treated differently to 2D views over 1D NumPy Arrays (the `RegularArray` layout node). Somewhere in the concatenation logic we're perhaps losing the regular dimension to broadcasting, or something similar. This looks like a bug with a simple fix to me.

[2022-08-15 10:37] ioanaif commented on #1557
Hi! I just added this corner-case in the tests for the linked PR and it successfully passed. All empty slice cases should be covered now.

[2022-08-15 11:36] grst commented on #1557
I confirm this works with your branch @ioanaif! I had run pip without `--force-reinstall`, so I actually tested against the old version before.

[2022-08-15 14:30] jpivarski opened #1593 "RecordArray loses its field in a slice that doesn't select fields (v2)"
### Version of Awkward Array

HEAD

### Description and code to reproduce

Here's a good slice:

[code]

There's no record, no field being picked out, and it says, "all of the first dimension, none of the second." The result is correct.

Here's another good slice:

[code]

There's a record array, but a field is not picked out, and it says, "all of the first dimension, one item from the second." Th

[2022-08-15 14:34] #1557 closed, assigned to ioanaif

[2022-08-15 14:43] jpivarski opened #1595 "Slicing RegularArrays inside of something else, such as IndexedOptionArray (v2)"
### Version of Awkward Array

HEAD

### Description and code to reproduce

After #1568, this works:

[code]

However, if the RegularArrays are inside of something else, such as an IndexedOptionArray (which doesn't change the dimensionality and it's not as complicated as a RecordArray or UnionArray), then it doesn't work.

[code]
[code]

This was the case before #1568; that PR didn't introduce it.

[2022-08-15 15:38] jpivarski commented on #1588
Converting Python objects into an Awkward Array necessarily requires iteration over those Python objects. In this case,

[code]

the `ak.Array(nested_list)` step has to involve a Python for loop somewhere. (This version of the constructor calls [ak.from_iter](https://awkward-array.readthedocs.io/en/latest/_auto/ak.from_iter.html).) In v1, it's in the lines @agoose77 pointed out:

https://github.co

[2022-08-15 17:04] agoose77 commented on #1588
Yes, I heard something similar and hence took a look at this line. I found the same outcomes as you - only really significant for large arrays.

I thought about this again, and I guess not actually. We could compute a running average, and trade memory for compute, but it might not be worth it. Clearly a sizeable chunk of the perf here is simply from having a non-regular list length.

[2022-08-15 18:29] jpivarski commented on #1450
Whatever this was, it no longer exists. There is no such variable (and I can't find it in the history, either...).

[2022-08-15 18:29] #1450 closed, assigned to nobody

[2022-08-15 18:33] jpivarski commented on #1283
We've got 3.5 months before v2 comes out and not a lot of clamor about this issue. Unless somebody says, "This is affecting my workflow, please fix it!" I think we can just ignore it. That request-for-fix could be after the 2.0 release, we _will_ be providing bug-fixes on demand (through a `main-v1` git branch).

[2022-08-15 18:33] #1283 closed, assigned to nobody

[2022-08-15 19:28] jpivarski commented on #1305
The assertions in `_getitem_next` were all built around the assumption that multiple tuple items in the slice have all been broadcasted, and there's a preprocessing step that guarantees that it has been broadcasted _for NumPy-like slices_. There were zero test cases of mixing Awkward-like and NumPy-like slices in the test suite: it's just something we hadn't considered.

Therefore, it's also somet

[2022-08-15 19:47] jpivarski commented on #1471
I'm replacing this issue with #1599, which is to say, we'll be removing localbuild.py instead of getting it fixed on Windows.

[2022-08-15 19:47] #1471 closed, assigned to nobody

[2022-08-15 20:01] jpivarski commented on #1489
Hmmm. I can't reproduce it:

[code]

I can see the value in "Have you seen me?" posters for possible bugs, so that if somebody runs into it again, information about it can be pooled and more quickly lead to a solution. However, I'm using the mainline issues tab as a to-do list of work to resolve, and so if something isn't reproducible, it is getting in the way. (I don't want to leave it there pote

[2022-08-15 20:01] #1489 closed, assigned to nobody

[2022-08-15 20:15] #1305 closed, assigned to nobody

[2022-08-15 20:19] jpivarski commented on #1405
This is "in progress" because of PR #1408.

[2022-08-15 20:30] jpivarski commented on #1402
I changed the title to make a firm decision on this. Although it was designed to return `None` on empty arrays (note the explicit type-tracer code for that), this is not what NumPy does. As annoying as I consider NumPy's behavior, we should reproduce it:

[code]
[code]

Similarly, `initial` should be passed to the NumPy function, since NumPy (nplike) handles that already.

This one should be prett

[2022-08-16 17:59] henryiii opened #1600 "Consistency between __getitem__ and to_list when a Record is the top-level"
### Version of Awkward Array

1.8.0

### Description and code to reproduce

If you set a behavior in v2, then `to_list()` no longer returns a simple list, but instead returns Records. This is breaking https://github.com/scikit-hep/vector/pull/226.

MWE:

[code]

This prints:

[code]

[2022-08-16 18:12] agoose77 commented on #1600
@henryiii can you confirm that this doesn't happen in a new RC (e.g. rc9)? I narrowed it down to
- broken in 1.9.0rc2
- working in 1.9.0rc3

[2022-08-16 19:53] Saransh-cpp commented on #1600
Works fine in `rc9`!
[code]

[2022-08-16 20:19] Saransh-cpp commented on #1600
But `vector` still gives weird results (replacing all the `awkward` imports with `awkward._v2` in `vector`'s code) -
[code]

[2022-08-16 20:49] agoose77 commented on #1600
@Saransh-cpp thanks for checking that. I've done the same, and noted that it's [this check](https://github.com/scikit-hep/awkward/blob/ead200677450ba4811d09bc69faf83738e11aac4/src/awkward/_v2/contents/content.py#L1391) that's finding [this `__getitem__`](https://github.com/scikit-hep/vector/blob/d4ad49ecf1761e3a6561498d2405b7789d53deff/src/vector/backends/awkward.py#L610-L614)

I haven't yet check

[2022-08-17 15:27] agoose77 opened #1601 "Advanced indexing doesn't follow NumPy behaviour"
### Version of Awkward Array

HEAD

### Description and code to reproduce

In fixing #1593, I realised that my understanding of NumPy's advanced slicing was missing some important context concerning separated advanced indices:
https://numpy.org/doc/stable/user/basics.indexing.html#basics-indexing:~:text=In%20the%20first,just%20like%20slicing).

Namely,

It turns out that we don't handle this eithe

[2022-08-17 22:24] henryiii commented on #1577
What's the difference between conventionalcommits and the angular variant? I always follow conventionalcommits (out of habit) unless a project has a different convention (like pypa/build). But it looks just like the angular variant.

[2022-08-18 06:02] agoose77 commented on #1577
Conventional Commits only specifies `fix:` and `geat:` (in addition to `BREAKING CHANGE:`). The [Angular variant](https://github.com/conventional-changelog/commitlint/blob/master/%40commitlint/config-conventional/index.js#L21-L33) defines additional labels that are used by Angular JS, e.g. `build:`, `chore:`, etc. Additionally, Angular also specify their `type` field (`fix:`) to be lowercase.

The

[2022-08-18 22:24] #1546 closed, assigned to nobody

[2022-08-18 23:32] #1586 closed, assigned to nobody

[2022-08-19 08:11] grst commented on #1586
I confirm the example described above is fixed! However... I found that when concatenating along another axis, the resulting array is still not regular:

[code]

Sorry for all those nasty edge-cases!

[2022-08-19 10:22] Saransh-cpp commented on #1600
Thanks for pointing out the possibly faulty code, @agoose77! I tried testing things out after removing the [`__getitem__`](https://github.com/scikit-hep/vector/blob/d4ad49ecf1761e3a6561498d2405b7789d53deff/src/vector/backends/awkward.py#L610-L614) pointed by you (thanks to a discussion with @henryiii) -

## Works
The original issue goes away!
[code]

The `mypy` hook fails after removing `__getitem

[2022-08-19 13:32] agoose77 opened #1606 "`ak.from_parquet` returns empty array when columns are specified"
### Version of Awkward Array

HEAD

### Description and code to reproduce

[code]

[2022-08-19 14:55] jpivarski commented on #1586
FYI, these aren't bug-fixes so much as new implementations. The inconsistency came from the fact that sometimes regular dimensions are represented by RegularArray nodes and sometimes (if they're at leaf-level) by NumpyArray nodes with `ndim > 1`. When the concatenation is applied to the NumpyArray nodes, we let NumPy take care of it, and naturally regular inputs beget regular outputs, but when con

[2022-08-19 15:01] ianna opened #1608 "'generator.tolayout' fails for record and indexoption"
### Version of Awkward Array

1.9.0rc10

### Description and code to reproduce

I will open a PR on Monday. This is to keep track of the bug so that I would not forget.
[code]

- [x] Missing `lookup` in RecordView:
[code]

- [x] AttributeError: 'RecordArrayGenerator' object has no attribute 'fieldindex'
- [x] AttributeError: 'RecordArrayGenerator' object has no attribute 'contenttypes'
- [x] Attri

[2022-08-19 15:56] jpivarski commented on #1586
#1609 fixes the `axis != 0` case as well. Concatenation naturally splits into an `axis = 0` case (fixed by #1604) and an `axis != 0` case (fixed by #1609), so we should be done now.

I also added tests for cases in which one side of a concatenation is a RegularArray and another is a NumpyArray, for both `axis = 0` and `axis != 0`.

One thing, though: if you have an option-regular type (`option[100

[2022-08-19 19:42] grst commented on #1586
That was quick! Thank you so much, also for the detailed explanations!

[2022-08-19 21:26] jpivarski commented on #516
Finally done! See the copious documentation:

https://github.com/scikit-hep/awkward/blob/0b3806ae10ee02ac8490eb9d7623194d1f090ddd/src/awkward/_v2/operations/ak_transform.py#L9-L351

[2022-08-19 21:59] #516 closed, assigned to nobody

[2022-08-21 10:25] alexander-held opened #1612 "np.sum fails with awkward arrays in v2"
### Version of Awkward Array

1.9.0rc10

### Description and code to reproduce

Performing a sum over an awkward array by calling `np.sum` fails with the `awkward` v2 API. It works in v1. A similar function (at least I expected it would behave similarly), `np.mean`, works fine with v2 as well. I am using `numpy` version 1.23.2.

[code]
output:
[code]

[2022-08-21 15:33] jpivarski commented on #1612
It's because we have `np.sum` overloading the v1 `ak.sum` and will be able to switch it to the v2 `ak.sum` when v1 is actually dropped.

At some point soon, we'll have to split the git branches into a `main` (v2 only) and `main-v1` (v1 only), so that things like this can be handled. But the split between Uproot `main` (v5) and `main-v4` (v4) already means we have to do extra work whenever we need

[2022-08-21 15:34] jpivarski commented on #1612
I don't know how to classify this: it's not a bug, but it's not any of the other labels, either. It's not a policy because we will be switching the NEP-18 coverage over from v1 to v2, we just haven't done it yet.

[2022-08-21 15:38] agoose77 commented on #1612
I do think we might need a few more issue labels that we have currently.  I find myself sometimes reaching for one and not finding it. Some projects have a 'intended behaviour'  label?

[2022-08-22 13:19] #1588 closed, assigned to nobody

[2022-08-23 03:41] #192 closed, assigned to nobody

[2022-08-23 07:15] ianna commented on #1608
fixed in https://github.com/scikit-hep/awkward/pull/1613

[2022-08-23 07:15] #1608 closed, assigned to ianna

[2022-08-23 07:28] agoose77 commented on #1606
NB: the `docs` branch will need modifying after this fix to re-enable strict mode for the 10-minutes-... notebook. Right now, it's allowed to fail in order to keep builds working.

[2022-08-23 10:06] agoose77 commented on #1606
@martindurant / @jpivarski I mistakenly tagged you whilst formulating a question concerning pyarrow details here. Now, however, I'll open a PR and we can discuss things there.

[2022-08-23 11:10] agoose77 commented on #1577
Closed by #1615

[2022-08-23 11:10] #1577 closed, assigned to agoose77

[2022-08-23 14:45] jpivarski commented on #1606
Does `"trip.km"` match any columns? (We need to make it easier to use the `from_parquet_metadata` to answer this question, though it's currently possible.)

Oh wait: things have been changing and I'm not up to date on the changes. `metadata_from_parquet` is now a dict, rather than a namedtuple. The `"trip.km"` is definitely one of the columns:

[code]

Getting any column by name no longer works:

[2022-08-23 14:48] jpivarski commented on #1424
@agoose77 I was prioritizing your issue when I came across this. Point you to it because you're doing the documentation, though I think if you came across a comment about Uproot 4 not being able to write TTrees, you'd see that it's out of date. (Actually, any mention of Uproot 3 can now be purged...)

[2022-08-23 16:27] martindurant commented on #1606
Aside from fixed quite how the columns are passed, we should presumably warn or error on an attempt to select columns that don't exist.

[2022-08-23 20:30] agoose77 opened #1622 "`ak._v2.values_astype` is idempotent for character arrays"
### Version of Awkward Array

HEAD

### Description and code to reproduce

In `NumpyArray.py` we deliberately return the original array in `numbers_to_type` [when the array is a character/byte array](https://github.com/scikit-hep/awkward/blob/9c33c2aa7d55766c99245a8ff21d416b9be4518f/src/awkward/_v2/contents/numpyarray.py#L651-L652).

Because of this, `ak._v2.values_astype` silently returns the sam

[2022-08-23 21:11] jpivarski commented on #1622
The idea was that you might use this on a complex tree of numbers and strings (think of the taxi dataset) and want it to only apply to the numbers. I can see how converting the code points of characters to e.g. floating point numbers would be a relevant thing to do if the array consists only of those strings, but it would be completely undesirable if your intention was to turn all of the `float32`

[2022-08-23 22:39] agoose77 commented on #1622
This was a use-case that I hadn't considered. I'm not 100% convinced though, because we are assuming that the entire recordarray is usefully represented as e.g. floats or integers, which has not been my experience.

I'm actually OK with us having `without_parameters` be the canonical way to peek through the string abstraction, too. In fact, it makes me want to be more cautious about introducing mo

[2022-08-24 09:13] agoose77 commented on #1622
I also noticed that we have a typo in the docs that refers to `ak.numbers_astype`. Maybe this is what we wanted to do originally, and have two explicitly separate methods. If so, I'm happy to close this issue, because we're stuck with `values_astype` for the near future.

[2022-08-24 13:32] agoose77 commented on #1622
Following our meeting, Jim and I discussed these two functions being orthogonal and thus it is reasonable not to error provided that the documentation is clear(er)?

[2022-08-24 13:32] #1622 closed, assigned to agoose77

[2022-08-24 14:02] agoose77 commented on #1601
Per my meeting with Jim, we're just going to exclude this secondary mode of advanced indexing (https://numpy.org/doc/stable/user/basics.indexing.html#basics-indexing:~:text=In%20the%20first,just%20like%20slicing) . :partying_face:

We will do this even for `purelist_regular` arrays.

[2022-08-24 19:03] jpivarski opened #1626 "Drop support for Python 3.6 and split git into `main` and `main-v1`"
Timeline:

   * [x] Make a final rc release of 1.9.0rcX with support for Python 3.6.
   * [x] Release 1.9.0.
   * [x] Drop Python 3.6 using #1661.
   * [x] Release 1.10.0 _without_ support for Python 3.6, maybe with an rc1 release just to make sure it's going to work.
   * [x] Split git into `main` (v2 series) and `main-v1` (v1 backports).
   * [x] Set VERSION_INFO to "2.0.0rc1" in `main`.
   * [x

[2022-08-25 13:43] jpivarski opened #1631 "Make all user-written behavior overloads consistent in what arguments they accept and what they are expected to return"
### Version of Awkward Array

HEAD

### Description and code to reproduce

Probably this: arguments passed to the user-written behavior are `ak.Array`s (i.e. high-level), and it doesn't matter whether they return layouts (low-level) or `ak.Array`s.

This includes `ak.transform`.

Probably does not include Numba overloads.

[2022-08-25 14:53] #1375 closed, assigned to ioanaif

[2022-08-25 15:36] agoose77 commented on #1600
As per the Awkward meeting, the reason for https://github.com/scikit-hep/awkward/blob/ead200677450ba4811d09bc69faf83738e11aac4/src/awkward/_v2/contents/content.py#L1391 is that if users override the `__getitem__` implementation, then we can't use the (fast) normal path for list serialisation.

In the meeting, we discussed making `to_list` overrideable by extension authors, but didn't get as far as

[2022-08-25 15:51] jpivarski commented on #1626
@henryiii's suggestion: 1.9.0 with Python 3.6 and then 1.10.x as the bug-fix series for v1.

And then not need to keep any rc releases.

[2022-08-25 22:34] jpivarski opened #1635 "Segfault in pyarrow observed in #1619"
### Version of Awkward Array

agoose77/fix-pyarrow-empty-field (branch)

### Description and code to reproduce

In #1619, @agoose77 saw the following segfault:

[code]

Moreover, this segfault does not occur with nested records:

[code]

It's the nested records, not the empty-string field name, that's the source of trouble:

[code]

The first step in `to_parquet` is `to_arrow_table` (specifically

[2022-08-25 23:23] jpivarski commented on #1635
Reproducible in `main`.

[2022-08-26 08:51] ianna opened #1637 "ci: run c++ tests in an integration build"
### Description of new feature

There are four c++ tests in `tests-cpp` that are built, but not run. They require C++17.
[code]

[2022-08-26 10:10] agoose77 commented on #1635
Ah yes, my test was a bit daft when I first wrote it (and we probably should error if the user tries to create such a file, as we reserve the root `""` field).

[2022-08-26 12:09] #1606 closed, assigned to agoose77

[2022-08-26 15:49] jpivarski commented on #1635
Users creating fields with empty names is not a case I had considered. Maybe we'd still be okay because the first one (only) is reserved for the pyarrow.Table and we'd always have the right off-by-one. But if there are ambiguous cases, then we could forbid it.

[2022-08-26 17:40] jpivarski commented on #1635
In the above, where I thought that `ak.to_arrow_table` was wrong, it's because I didn't include the `._v2`. The v1 function was misinterpreting the v2 array and making a mess of it. So—never mind the conclusion that `to_arrow_table` is at fault. As far as I can see, it isn't.

[2022-08-26 17:42] jpivarski commented on #1635
[code]

[2022-08-26 18:12] Saransh-cpp opened #1638 "V2: `np.nan_to_num` does not call the `awkward` implementation"
### Version of Awkward Array

1.9.0rc12

### Description and code to reproduce

MWE
[code]

Relevant output -
[code]

Relevant failing test in `vector` - https://github.com/scikit-hep/vector/blob/579685407ffdf3a9d1f209ea6bac58e306a3785a/tests/backends/test_awkward.py#L102-L122

[2022-08-26 18:25] jpivarski commented on #1635
Constructing the Parquet data with pyarray alone, I can't reproduce the segfault.

Without ExtensionArrays:

[code]

With ExtensionArrays:

[code]

[2022-08-26 18:38] jpivarski commented on #1635
Actually, that wasn't quite the right test; this is:

[code]

No segfaults, even when we select a column.

[2022-08-26 18:46] jpivarski commented on #1635
If I create a tmp.parquet that would segfault in `ak._v2.from_parquet`,

[code]

the same does not segfault when being read directly by pyarrow (i.e. it doesn't seem to be a problem with the file itself):

[code]

[2022-08-26 19:07] agoose77 commented on #1635
@jpivarski is our code producing the same columns with `content.columns`?

[2022-08-26 19:13] jpivarski commented on #1635
So far, it looks like Awkward is preparing Arrow arrays in the same format as the all-pyarrow method. Though there must be some difference.

[2022-08-26 19:14] jpivarski commented on #1635
Reading back this tmp.parquet file (produced by Awkward), with pure pyarrow causes the segfault, if we register our mock ExtensionType with the name `"awkward"`:

[code]

[2022-08-26 20:04] jpivarski commented on #1635
Okay, I have a minimally reproducing example that doesn't use Awkward. The reason I missed it before is because https://github.com/scikit-hep/awkward/issues/1635#issuecomment-1228804025 didn't load the extension type. The reason we need two levels of nested records in Awkward is because the first is interpreted as the Table (when we have a RecordArray, it becomes a Table).

In this minimally repro

[2022-08-26 20:36] jpivarski commented on #1635
Okay! This has been reported as [ARROW-17539](https://issues.apache.org/jira/browse/ARROW-17539) and since there's no action to do here (Awkward doesn't need to be changed, as far as we know), I'll close this issue. Watch the Arrow JIRA (as I am) to see how this gets resolved.

[2022-08-26 21:29] #1593 closed, assigned to agoose77

[2022-08-26 21:29] #1601 closed, assigned to nobody

[2022-08-26 21:33] agoose77 commented on #1638
This is directly related to #1612 - we don't yet have the numpy dispatch mechanism enabled. You can use the awkward API to do this in the mean time.

@jpivarski why don't we have the dispatch mechanism enabled? We should be able to have v1 and v2 at the same time, because they're separate registries right?

[2022-08-29 11:06] agoose77 commented on #1600
@jpivarski I have been thinking on this some more, and as far as I can recall, we don't have any concrete use cases for overriding `__getitem__` to return non-arrays. Given how big Awkward already is, I am inclined to suggest that we drop this `to_list` feature (it's exclusive to v2, right?) until someone actually needs it. To my mind, Arrays are at the core of what Awkward "is", so any intention

[2022-08-29 12:53] jpivarski commented on #1638
Maybe, because `ak.Array` and `ak._v2.Array` are different Python types. Although if we're splitting soon (`main` and `main-v1`), then it would be cleanest to do that after the split.

[2022-08-29 13:17] agoose77 commented on #1638
Yes, I don't forsee any problems; the v2 group is closed under `ak._v2` operations, and same holds for v1 (apart from the `tmp_for_testing` module). I think we probably need to flip the switch in a pre-release soon, so if that needs to happen before the branch split then let's do that?

[2022-08-29 14:35] jpivarski commented on #1600
Originally, `__array__ = "string"` used this feature to return strings, rather than arrays. Strings were intended as a first example of a behavior, the kind of Array-overriding one would want to do: "This isn't an array of lists of uint8; it's an array of strings." Strings, specifically, are now hard-coded, so they're not explicitly using this feature right now. (Strings are such a basic data type

[2022-08-29 15:04] agoose77 commented on #1600
Ah, that's a really good point. I had forgotten about the depth-reduction aspect of our string abstraction here. Incidentally, I think it might be useful to abstract our string-specialcasing at a later date, in case there are legitimate uses for the same mechanism down the road. Not an urgent todo, though.

The basic problem here is that `vector` implements a custom `__getitem__`. We have no way o

[2022-08-29 16:05] jpivarski commented on #1600
Just disabling the fast-path is exactly what the code in

https://github.com/scikit-hep/awkward/blob/8c9bf49e7656571912861b615429c411f51be039/src/awkward/_v2/contents/content.py#L1406-L1412

is supposed to do. It's supposed to be saying, "Would this node (`self`), if it were at top-level, have a custom `__getitem__`? If so, call that `__getitem__` on each `i` in `range(self.length)` to make a list

[2022-08-29 16:49] agoose77 commented on #1600
Right, that was because he was testing against 1.8.0, where we had a bug in `to_list`. In `main` this does not happen (and indeed, most of the pre-releases). This issue is about two separate problems.

Yes, agreed. My response is whether this is the right way for users to override `__getitem__`, or should we require them to "do more", e.g add new methods.

Indeed, hence why I don't place too much

[2022-08-29 18:03] jpivarski commented on #1600
What's the other problem? I'd like to address this, but I don't know what's wrong.

Oh, wait: is it this?

[code]

That is, `ak.Record.to_list` should not return `self`? Indeed, the above is wrong.

[2022-08-29 19:46] agoose77 commented on #1600
In 1.8.0, the original code sample in this issue produced the following:
[code]

In `main`, we have
[code]

So the original issue seems fixed. However, you seem to have discovered another bug.  We need to fix that regardless of whether we need a "fast path" for trivially overloaded `__getitem__`s.

Closely related is the issue that's now being triggered by `vector`'s arrays with `to_list`; a slow-

[2022-08-30 07:26] grst opened #1644 "Inconsistency in ak.concatenate when dim length is zero"
### Version of Awkward Array

main@8c9bf49

### Description and code to reproduce

Sorry, it's me again with another edge case...

[code]

I'd expect this to return an array of shape `(13, 0`) instead of `(8, 0)`.

[2022-08-30 07:51] agoose77 opened #1646 "Concatenating `RegularArray` and 2D `NumpyArray` yields a union."
### Version of Awkward Array

main

### Description and code to reproduce

An unnecessary `UnionType` is created when the arrays have different layouts (but the same type). Especially with `merge=True`, I'd expect `ak.concatenate` to resolve these arrays to a single `RegularType`.

[code]

Submitted on behalf of @grst

[2022-08-30 07:51] agoose77 commented on #1646
Note that this is also a bug in v1.

[2022-08-30 15:54] jpivarski opened #1648 "ak.fields (v2) passes a RecordArray's internal fields by reference"
Okay, so I hadn't noticed that Awkward v2's fields are passed by reference, which exposes them to the danger that someone might modify them downstream:

v1:

[code]

v2:

[code]

It could be fixed [here, in Awkward](https://github.com/scikit-hep/awkward/blob/352b0dead74846ad2a56d385be4694ec87072a08/src/awkward/_v2/contents/recordarray.py#L162), or maybe [here](https://github.com/scikit-hep/awkward

[2022-08-30 15:55] jpivarski commented on #1648
I'm leaning toward doing the copy at the public interface:

https://github.com/scikit-hep/awkward/blob/352b0dead74846ad2a56d385be4694ec87072a08/src/awkward/_v2/operations/ak_fields.py#L28-L30

just wrapping that `layout.fields` as `copy.copy(layout.fields)`. (It could be `None`.)

[2022-08-30 16:13] agoose77 commented on #1648
We also have little protection for `layout.parameters` either (e.g. via `ak.parameters`). I suppose we need to decide whether the layout interface is immutable by design or by convention. This is perhaps more troubling, because parameters are shared all over the place.

[2022-08-30 16:39] jpivarski commented on #1648
So the above also goes for `ak.parameters`. Nothing is _supposed_ to be assigned in place, though we might do it in an internal function if we can prove to ourselves that the influence will not leak beyond that function.

Early in v1, there was a shift to complete immutability, even in the internals: #176 and #177. The pybind11 layer had to copy all the data (such as `recordlookup,` which is `fiel

[2022-08-30 16:46] jpivarski commented on #1648
As for action items on this issue:

  - [x] `copy.copy(layout.fields)` [here](https://github.com/scikit-hep/awkward/blob/352b0dead74846ad2a56d385be4694ec87072a08/src/awkward/_v2/operations/ak_fields.py#L30)
  - [x] `copy.copy` the `parameters` in [these two cases](https://github.com/scikit-hep/awkward/blob/352b0dead74846ad2a56d385be4694ec87072a08/src/awkward/_v2/operations/ak_parameters.py#L29-L36

[2022-08-30 17:42] agoose77 commented on #1648
Yes, the purist in me itches to enforce this at the API level for LL and HL APIs, but if we do this by forcing copying on all users ... that might not be great. I don't have a feel for the performance impact of such a decision, which would strongly depend on how often we're calling `copy` and what we're actually copying. I would remark, however, that we're definitely not crossing the Python-C++ bo

[2022-08-30 22:28] jpivarski commented on #1648
I thought about that, too, and it's not too late to change the API to make `fields` a tuple. (Changes on that scale are still open.) It's just that it doesn't strike me as a tuple-kind of thing: I think of tuples as having known or relatively stable lengths, such as pairs or triples, and frequently different types. This `fields` is always strings, but varies in length arbitrarily from one RecordAr

[2022-08-31 18:13] ianna commented on #588
Completed in https://github.com/scikit-hep/awkward/pull/1625. A short tutorial is [here](https://github.com/ianna/PyHep2022/blob/main/Awkward%20to%20RDataFrame%20and%20back%20v1.ipynb).

[2022-08-31 18:13] #588 closed, assigned to ianna

[2022-08-31 18:14] #1648 closed, assigned to nobody

[2022-08-31 22:50] jpivarski opened #1655 "The getitem system needs to be annotated with expected types"
### Which documentation?

Other (please explain)?

### What needs to be documented?

This could be comments or actual type-annotations, but since the types of the arguments of Content methods with "getitem" in their names are fixed (having been ported over from C++), they should be expressed in the codebase. @agoose77 spent a lot of time wandering in that dungeon, and it needs a map.

The conversa

[2022-08-31 23:19] #1644 closed, assigned to nobody

[2022-08-31 23:41] #1049 closed, assigned to nobody

[2022-09-01 00:13] #1405 closed, assigned to nobody

[2022-09-01 13:05] jpivarski opened #1658 "What is the state of Awkward Arrays in Numba's CUDA target?"
[Way back in 2020](https://numba.discourse.group/t/making-awkward-arrays-work-in-the-cuda-target/63/3), @gmarkall said that it should be possible to add custom types to Numbafied functions in the CUDA context, and then [at an Nvidia meeting in 2022](https://www.google.com/url?q=https://reg.rainfocus.com/flow/nvidia/gtcspring2022/aplive/page/ap/session/16339878397050012ADx&sa=D&source=calendar&usd=

[2022-09-01 13:33] jpivarski opened #1659 "Implement LayoutBuilder in Numba"
### Description of new feature

To be fully performant, LayoutBuilder in Numba needs to be a reimplementation, using Numba's lowering language. Starting with GrowableBuffer, which has been requested on its own [ref]. (In fact, the GrowableBuffer would be a good way to learn how to lower things in Numba.)

Now that the LayoutBuilder API has stabilized, it would be a good time to reimplement exactly

[2022-09-01 15:48] #1600 closed, assigned to jpivarski

[2022-09-02 10:36] grst opened #1662 "Assigning array to nested record doesn't change value"
### Version of Awkward Array

main@c751d4eb

### Description and code to reproduce

When I assign an array to a nested record (`a["a"]["a2"] = np.array(...)`) nothing happens.
I'd expect this to either actually change the value or raise an Error.

[code]

CC @ivirshup

[2022-09-02 11:15] agoose77 commented on #1662
This is a subtle mutability problem. Arrays _are_ mutable, but their layouts are not.

When you assign `array['field']`, only the top-level `ak.Array` is actually modified, by replacing its inner `layout` with another one.
[code]

When you perform `x['a']['a2']`, you're actually evaluating two separate array slices:
1. `tmp = x['a']`
2. `tmp['a2']`

So, in an assignment, only the temporary array i

[2022-09-02 11:18] grst commented on #1662
I see, thanks!

[2022-09-02 11:18] #1662 closed, assigned to nobody

[2022-09-02 14:43] ianna commented on #1438
@jpivarski - it looks like it's implemented in v2:
[code]

[2022-09-02 16:07] jpivarski commented on #1662
It is subtle, and I wish this misleading case didn't exist, but it follows as an unintended consequence from `__getitem__` and the way Python syntax works (can't pass variables as with `&` in C).

[2022-09-02 16:13] agoose77 commented on #1662
@jpivarski I did think about suggesting we prevent `__setitem__` altogether in favour of `ak.with_field` but I think that might be fairly impossible in the near term.

[2022-09-02 17:50] jpivarski commented on #1438
Oh, that's nice! I must have done that while porting from v1 to v2 and forgot to close this issue. I guess this wasn't needed. Are all of v2 ArrayBuilder's Python methods available in Numba? (Excluding the ones that require a context manager, since that hasn't been implemented in Numba yet.) If so, then you can close this issue.

The other starter issue, #1420, has not been implemented in v2. Look

[2022-09-05 16:56] ivirshup opened #1668 "transform, but not caring about broadcasting regular dimensions"
### Description of new feature

## The request

I would like to do recursive iteration over multiple arrays without having to have aligned regular dimensions (especially the first).

## An example

I would like to take multiple arrays, and subset their records to a common set of keys. Here's a quick example of how I would expect to do this:

[code]

This works since the arrays are of similar lengt

[2022-09-05 17:31] jpivarski opened #1669 "Type-unification of "string" and "option[unknown]" should return "option[string]", not a union."
Just trying this out now, and running into an issue. I can get the expected result from:

[code]

[code]

However, I get a `union` from:

[code]

[code]

Is this expected?

_Originally posted by @ivirshup in https://github.com/scikit-hep/awkward/discussions/1647#discussioncomment-3561037_

I think you found a bug: we want "string" and "option[unknown]" to unify to "option[string]", and it's not re

[2022-09-05 18:27] jpivarski commented on #1668
I'm following what it is you're trying to do from the other thread. But you don't want to use this tool (`ak.transform`) here: the fundamental idea is that it broadcasts the arrays so that element-by-element operations are possible, and you don't want to do an element-by-element operation. You do want to walk down both array trees (`awk_a` and `awk_b`), but it's the fields of the RecordArrays you'

[2022-09-05 18:53] agoose77 commented on #1668
@ivirshup could you elaborate on what your constraints are here? Do you need the dimensions up to the record content to match? (i.e. can you have `var * {'x': ...}` and `var * var * {'x': ...}`?) If not, you can just take the intersection of all of their fields with `set.intersection(*[set(array.fields) for array in (awk_a, awk_b, ...)])`

[2022-09-05 19:00] jpivarski opened #1670 "Expose `to_categorical` and `from_categorical` functions at top-level"
### Version of Awkward Array

HEAD

### Description and code to reproduce

Mentioned in https://github.com/scverse/anndata/pull/647#discussion_r963085500.

We need `ak._v2.to_categorical` and `ak._v2.from_categorical` to point to the two functions in `awkward.behaviors.categorical`. The `behaviors` and `operations` submodules are parallel. Follow the example of `src/awkward/_v2/operations.__init__

[2022-09-05 19:08] ivirshup commented on #1668
@jpivarski

I'm not so sure it's different. If I can broadcast when the second dimension has a variable length, why should the first dimension have to have the same length?

This raised another question for me. I could wrap each array in an outer array of length one containing a variable length array. But this throws an error about not being able to handle nested lists. In some cases this could pr

[2022-09-05 19:16] agoose77 commented on #1669
I think this is caused by the check to `_parameters_equal`, which fails whenever a string is encountered:
[code]

[2022-09-05 19:22] jpivarski commented on #1668
In this case, it's complaining because the outer length is different, but it would complain at every level about every list in `awk_a` that does not match the length of the corresponding list in `awk_b`. That synchronization of list lengths is intrinsic to what `ak.transform` does, having an option that opts out of it would be like a new function.

We haven't had a need to do this type of recursio

[2022-09-05 19:28] jpivarski commented on #1669
That makes sense. (So it doesn't happen if you have raw lists, rather than strings?) Differing parameters means that the types can't be unified: `T1 | T2 != T1` or `T2`, but the "unknown type is the identity of `|`" should be a rule that overrides all: `T1 | U = T1` and `U | T1 = T1`.

If (for some weird reason), the unknown type has any parameters, I think they should still be merged, but the kno

[2022-09-05 19:48] agoose77 commented on #1669
Yes, I think this is a good rule:
- EmptyArray behaves as the identity:
   - Parameters do not need to be equal, and non-`EmptyArray` type takes precedence

[2022-09-05 20:11] ivirshup opened #1672 "ak.transform converts string to list of bytes if multiple arrays are passed"
### Version of Awkward Array

1.9.0

### Description and code to reproduce

Calling `ak.transform` on a single array containing strings will maintain the string type, but if multiple arrays are passed the strings are converted to lists of characters.

[code]

[2022-09-05 20:13] agoose77 commented on #1668
@ivirshup so, same dimensions, but we don't care about the sizes of those dimensions? This sounds like a custom recursion, as Jim suggests :)

[2022-09-05 20:29] jpivarski commented on #1672
Apparently, the `__array__ = "string"` parameter is being lost from the ListType (but not the `__array__ = "char"` from the NumpyType).

Thanks!

[2022-09-05 20:36] ivirshup commented on #1668
For this case, I think I just don't care about the size of the first dimension. I would care about the sizes of all the following dimensions.

Similarly, if I wanted to concatenate some awkward arrays which had a regular second dimension along that dimension, I wouldn't care what the shape of the second dimension was for those arrays. I would care that all the other dimensions matched though.

I'm

[2022-09-05 20:52] ivirshup commented on #1672
Something that I have been finding confusing is which of type, form, or layout is equivalent to the data shape string. I think this is quite related, since strings and byte strings are cases where this breaks down.

[2022-09-05 21:04] agoose77 commented on #1672
I think it's probably this region that is producing a list layout without the array parameter:
https://github.com/scikit-hep/awkward/blob/1bcfd70629aec4c1ef26bbf929d9183c28dbe491/src/awkward/_v2/_broadcasting.py#L592-L609

[2022-09-05 21:07] agoose77 commented on #1672
@ivirshup strings in Awkward array are just special views over lists of characters. We have a reasonable amount of special-case logic to detect this, but ultimately there is:
[code]

The `"string"` `__array__` parameter means that we have an array of strings, e.g. ['this', 'that']. The `"char"` `__array__` parameter  provides a "character" view over an array of uint8 (utf8) characters.

[2022-09-05 21:16] agoose77 commented on #1668
OK. It sounds like you're trying to predict the outcome of `ak.concatenate` before applying it? I think Jim's suggestion that we fix these bugs so that you don't have to deal with them is the best bet. I'm sure that we can make a pre-release once these fixes are in to enable you to keep moving forward.

[2022-09-05 21:16] jpivarski commented on #1668
I wasn't suggesting that; I think we'll be able to help you with this function (if it's needed).

Broadcasting will complain if variable-length lists are not all equal to each other. If I'm understanding the purpose of this function (to avoid unions when concatenating), you might want the regular dimensions to match, but not every list of the irregular dimensions. In fact, if the first dimension (

[2022-09-05 21:49] jpivarski commented on #1672
The Datashape string is the `Type`.

[2022-09-06 10:03] #1670 closed, assigned to nobody

[2022-09-06 10:06] ivirshup commented on #1672
I find this confusing when both `string` and `var` are `ListType`. The number of entries in the `typestr` field is based on how far I can recurse down `.type`, except for some cases.

I agree that strings are like variable size lists of characters, but text strings can be pretty special. For instance:

[code]

[2022-09-06 10:11] ivirshup commented on #1668
This is starting to make sense to me. I thing what I was going for was really broadcasting the types of the dimensions, not the values. However, I'm still a little unsure which "kind of types" I would want to be looking at.

I am aiming to be able to do both the intersection and union of fields. But intersection is generally easier.

I'm not sure this would work since dimension matching isn't bein

[2022-09-06 13:01] gmarkall commented on #1658
When we last went though the checklist: https://github.com/gmarkall/awkward-checklist - I think we concluded that all the required support in Numba was in place, and it would mainly be a case of bug fixes / small extensions as necessary to implement this for Awkward. That said, the CUDA target is now more capable than it was back then so it might be worth us revisiting the checklist to see how we'

[2022-09-06 16:23] gmarkall commented on #1658
In particular, the PR that brings support for the [high-level extension API](https://numba.readthedocs.io/en/latest/extending/high-level.html) to the CUDA target is: https://github.com/numba/numba/pull/8271 - this is the one that was brought up in the meeting, and should make it quicker and easier to write extensions - we'll prioritise this as it would be good to make it available and if possible

[2022-09-06 17:13] jpivarski commented on #1672
Yes, strings are special, but they're special in how they're operated upon, not how they're stored or represented in memory. There's a lot of code that would be the same between strings and lists, so strings are implemented as a list with a `parameter` that we can use to override behaviors. (At a very early stage in Awkward's development, they were distinct implementations, but there was a lot of

[2022-09-06 17:39] jpivarski commented on #1668
This is what I meant by the procedure. The key thing is that we're applying the transformation to each array at a time. They're not getting broadcasted, but they're getting information about all the arrays because we pass it into the transformation function.

Here's an `a` and `b` that would concatenate to union type.

[code]

For the sake of argument, I'm going to take a union of their fields (th

[2022-09-06 18:13] martindurant commented on #1672
Please, no! You should have different methods or a whole namespace for string-specific operations. string_len, string_slice or something (ak.str?). 

Aside: the current hacking implementation for string functions in awkward-pandas does push all the ak.* (array) functions and utf8 and ascii functions into a namespace, but the description of each method and often its name makes it clear what the exp

[2022-09-06 18:19] jpivarski commented on #1658
Thanks, @gmarkall! I've been thinking for a while that the onus of testing lies on our side, and now @ianna is ready to do it. The links you provide help, too.

[2022-09-06 19:41] agoose77 commented on #1595
I think this is now working in main:
[code]
and
[code]

[2022-09-06 19:41] #1595 closed, assigned to ioanaif

[2022-09-07 00:24] #1646 closed, assigned to nobody

[2022-09-07 00:24] #1669 closed, assigned to agoose77

[2022-09-07 07:33] agoose77 opened #1678 "`RegularArray._mergeable` / `RegularArray.mergemany` (and `NumpyArray`) promote `NumpyArray`s twice"
### Version of Awkward Array

main

### Description and code to reproduce

#1671 fixes merging of `NumpyArray` and `RegularArray`, but does so by promoting `NumpyArray`s to `RegularArray` twice; once in `_mergeable,` and another time in `mergemany`. This is something we should avoid.

Perhaps the merge implementation can replace `mergeable(self, other: Content) -> bool` with `as_mergeable(self, ot

[2022-09-07 09:59] ianna commented on #1658
**Survey of Numba functions used (updated for v2)**
Please, see the v1 list in [this demo](https://github.com/scikit-hep/awkward/blob/main/docs-jupyter/2020-01-22-numba-demo-EVALUATED.ipynb).
[code]

[2022-09-07 13:55] ivirshup opened #1680 "Categoricals are not correctly represented in datashape string"
### Version of Awkward Array

1.10.0.rc1

### Description and code to reproduce

Categorical values are not shown to be categorial in the datashape type string.

[code]

According to a comment form @jpivarski (https://github.com/scverse/anndata/pull/647#discussion_r963133794), the data shape representation should show these values are categorical:

[2022-09-07 14:48] jpivarski commented on #1680
You're right! But this was _just_ fixed yesterday, in PR #1671. (See fca3e66f5f10d3279f90e5d334aa3a48221c1971.)

@agoose77 and I (@agoose77 especially) have been focusing on issues surrounding type representations, broadcasting strings, and categoricals, triggered by your use-cases but including anything that we find along the way.

[2022-09-07 14:48] #1680 closed, assigned to nobody

[2022-09-07 16:01] agoose77 opened #1681 "Rename the `is_XXXType` flags in `Content` et al."
### Version of Awkward Array

main

### Description and code to reproduce

Right now, these create confusion (as evidenced in https://github.com/scikit-hep/awkward/discussions/1654#discussioncomment-3527347), and we could choose a better name. `is_list_like` might be a better variant of `is_ListType`.

[2022-09-07 16:04] agoose77 opened #1682 "Remove special-casing for strings"
### Version of Awkward Array

main

### Description and code to reproduce

The internals of Awkward have some hard-coded logic for handling strings (and categoricals). We ought to extend our behaviour system so that it is not necessary to special-case these types.

Examples:
https://github.com/scikit-hep/awkward/blob/1ebf1dbe732b6b634fab95c8406498a59b71695f/src/awkward/_v2/contents/listoffsetarray

[2022-09-07 16:11] agoose77 opened #1683 "String broadcasting is not producing sensible results"
### Version of Awkward Array

main

### Description and code to reproduce

As Jim and I discussed today, string broadcasting is currently not producing reliable results for string-string, or even string-non string cases. In particular many broadcasts violate the appearance that strings are atoms:

[code]

In this case, broadcasting an Array of strings against an Array of integers produces arrays t

[2022-09-07 18:00] #1672 closed, assigned to agoose77

[2022-09-07 18:30] agoose77 opened #1685 "`IndexedArray.project()` does not preserve parameters"
### Version of Awkward Array

main

### Description and code to reproduce

See https://github.com/scikit-hep/awkward/blob/31f3afb6bd31949bb2014d3be4b86194a63a573c/src/awkward/_v2/contents/indexedarray.py#L296-L351

[code]

[2022-09-07 18:38] agoose77 opened #1686 "`UnionArray.simplify_uniontype()` loses parameters"
### Version of Awkward Array

main

### Description and code to reproduce

[code]

[2022-09-08 10:29] agoose77 opened #1687 "Test suite is order-dependent"
### Version of Awkward Array

main

### Description and code to reproduce

I think nearly all of this is due to the use of `ak.behavior` instead of a local behavior context. We can try changing this and see if random orders still pass.

Then, we can add custom markers e.g. `slow` to order slow tests last.

[2022-09-08 11:58] ivirshup opened #1688 "`ak.packed` casts categorical to value type"
### Version of Awkward Array

1.10.0.rc2

### Description and code to reproduce

`ak.packed` seems to get rid of categoricals

[code]

[code]

This makes sense in that the indexed array is projected, but I did not expect `ak.packed` to change the type of an array.

The docstring also says this:

[2022-09-08 12:31] agoose77 commented on #1688
I suspect this is a manifestation of #1685

[2022-09-08 13:13] agoose77 commented on #1688
No, actually this is just that projecting out categoricals is not the correct behaviour

[2022-09-08 13:43] jpivarski commented on #1688
Yeah, this

https://github.com/scikit-hep/awkward/blob/31f3afb6bd31949bb2014d3be4b86194a63a573c/src/awkward/_v2/contents/indexedarray.py#L1246-L1247

should only project itself if _not_ categorical. Otherwise, it should pass on the recursive packing to its `content`, but not change itself.

[code]

[2022-09-08 13:45] jpivarski commented on #1688
Actually, @agoose77 just pointed out in Slack that we should also remove unreachable items from `content`, which is the purpose of `packed`. I stand corrected: it's more complicated than my suggested fix.

[2022-09-08 14:24] ivirshup commented on #1688
Would unreachable items include categories that are no longer present, or just values from the integer array that aren't referenced?

[2022-09-08 14:37] agoose77 commented on #1688
Yes; the simplest fix is just to pack the _content_ of the categorical indexed array, but if we want to do this properly, we should produce a new indexed type which only includes the items that are referenced in `index`. That corresponds to keeping only the categories that are referred to by at least one index.

[2022-09-08 14:50] ivirshup commented on #1688
I would argue against this.

I think the set of categories shouldn't be modified by this function. I may only have a subset of the categories present in one instance, but would want to combine it with another instance that has the full set. If I know my set of categories ahead of time, I would like to just have all my arrays refer to them so I don't have to re-map the codes. This could also cause

[2022-09-08 15:01] jpivarski commented on #1688
In that case, the simple implementation in https://github.com/scikit-hep/awkward/issues/1688#issuecomment-1240737263 is all we need.

[2022-09-08 15:10] agoose77 commented on #1688
I can see the merit in what you're saying. In-fact I had discounted this because I didn't think we exposed the array's catgories to the user. However, we _do_ expose them with `ak.categories`, so I'm now agreed that we want a simple categories-only packing.

[2022-09-08 16:36] #1688 closed, assigned to nobody

[2022-09-13 21:37] agoose77 opened #1693 "Allow behaviours to declare themselves as non-transient"
### Description of new feature

Related to #1686 and #1685.

#1685 explores the idea that `IndexedArray` layouts should merge parameters when projecting. If this rule were applied to `main`, it would break e.g. categorical arrays, which are strongly coupled with their underlying layout representation.

Even if we do not need a general solution for other behaviours (i.e. if `categorical` is a niche

[2022-09-13 22:02] ivirshup opened #1694 "Shallow copy is slow, seems to spend a lot of time in repr"
### Version of Awkward Array

1.10.0rc3

### Description and code to reproduce

During the PR adding awkward array support into AnnData, I noticed the test suite was taking much longer than usual. Trying to track down the culprit, I found the line where we make shallow copies of an awkward array. Under this largely seemed to be code related to making `repr` strings.

Checking if this is just us:

[2022-09-13 22:55] jpivarski commented on #1694
There's a long story here:

  1. We will be handling CuPy (GPU) arrays as well as NumPy, and doing CuPy operations efficiently means that they need to be dispatched asynchronously (#1321).
  2. But if a GPU function raises an error, the stack trace at the time the error is caught will not point to where the error actually happens, which would seriously confuse people when they're debugging.
  3. S

[2022-09-13 23:04] jpivarski commented on #1694
I think that #1695 will directly address your issue, but the system is too close to the brink of this happening, if only missing a `__copy__` method would have triggered the error-handling routines that you see.

Can you check it? I'll include it in 1.10.0rc4.

[2022-09-14 09:07] agoose77 opened #1696 "`RegularArray.zeros_length` should be part of its form? (no!)"
### Version of Awkward Array

[8a338cb](https://github.com/scikit-hep/awkward/commit/8a338cbefba831a45671c8b28a3ee44b2b2af885)

### Description and code to reproduce

In exploring #1695, I noticed that `RegularArray` doesn't round-trip through `ak._v2.from_buffers(*ak._v2.to_buffers(array))`if its length is set by `zeros_length`. It seems to me that we want the `zeros_length` of this layout node t

[2022-09-14 09:30] #1696 closed, assigned to nobody

[2022-09-14 09:41] agoose77 commented on #1696
Not sure what I was testing, but this actually does work! :fireworks: It would only be an issue at the outermost dimension, and we return the lengths from `to_buffers` for this.

[2022-09-14 09:55] agoose77 commented on #1694
@jpivarski we will fix this class of error with e.g. #1657 to add both type hints and `NotImplementedError` base implementations for these kinds of methods.

[2022-09-14 11:29] ivirshup commented on #1694
I can try. Do PRs here generate builds I can use?

[2022-09-14 11:31] ivirshup commented on #1694
I don't think this is happening (or at least not exactly) since I wasn't seeing significant allocation during the shallow copy. Definitely not a full copy's worth

[2022-09-14 12:32] #1694 closed, assigned to nobody

[2022-09-14 12:33] ivirshup commented on #1694
It took a few tries to install, but I think I got it working. Copy speeds are much faster now!

However, would you expect `copy(awk)` to be doing much more than `copy(awk.layout)`? `copy(awk.layout)` seems ~20x faster.

[code]

[2022-09-14 13:16] jpivarski commented on #1696
You're right: `zeros_length` should _not_ be part of RegularForm because Forms don't encode lengths.

The round trip should work, though it depends on outside-of-Form information, the `length` parameter passed to `from_buffers`. The length of an embedded RegularArray might be computed from the original `length` that the user passes (not identical to it), but it's ultimately derived from that `leng

[2022-09-14 13:24] agoose77 commented on #1694
@ivirshup predominantly this is caused by a `x in dir(...)` check; we'll clean that up.

[2022-09-14 13:26] jpivarski commented on #1694
The high-level `ak.Array.__copy__` doesn't do much:

https://github.com/scikit-hep/awkward/blob/b5545a8f07dfdd07dbb030a5ef9e08bb8f3ffcee/src/awkward/_v2/highlevel.py#L1421-L1422

compared to a typical `Content.__copy__` (each subclass is different, this is ListOffsetArray):

https://github.com/scikit-hep/awkward/blob/b5545a8f07dfdd07dbb030a5ef9e08bb8f3ffcee/src/awkward/_v2/contents/listoffsetarray

[2022-09-14 13:27] jpivarski commented on #1694
Is the `x in dir(...)` invoked when looking at underscored attributes, like `self._layout`? Maybe skipping that would shave off more milliseconds, not just here in copy, but everywhere.

[2022-09-14 14:03] agoose77 commented on #1696
Yes, everything currently works as expected. This was probably me forgetting about the top-level `length` item that `to_buffers` returns; required to avoid this issue.

[2022-09-14 14:52] jpivarski opened #1701 "ak._v2.from_iter should recognize Python datetimes/timedeltas"
### Version of Awkward Array

HEAD

### Description and code to reproduce

https://github.com/scikit-hep/awkward/blob/77b06b3575737ec3cebc4c9b76ddceaf584d57c3/src/python/content.cpp#L952-L957

and

https://github.com/scikit-hep/awkward/blob/77b06b3575737ec3cebc4c9b76ddceaf584d57c3/src/python/content.cpp#L846-L886

handle NumPy datetime objects, but Python datetime objects are not explicitly recogn

[2022-09-14 15:36] agoose77 commented on #1701
@jpivarski that's a good point actually; microseconds are the finest granularity that we can reason about with date-time objects. As this is all Python-iteration anyway, users can always write a loop to transform these things if they need to for some reason.

[2022-09-14 16:07] jpivarski commented on #1701
I just noticed the issue number:

![image](https://user-images.githubusercontent.com/1852447/190206053-ff686390-428d-4891-8206-6e4e9a4feb03.png)

[2022-09-15 13:49] agoose77 opened #1702 "Add CI workflow to test third party packages against master"
### Version of Awkward Array

main

### Description and code to reproduce

boost-histogram clones hist's master, and checks that it works against boost-histogram. We could do this to ensure that we don't break people e.g. `anndata` (if they have a test suite).

- vector
- anndata

@henryiii mentioned `mypy_primer` as the inspiration for this.

If we pin, then we can treat these as workflow tests (

[2022-09-16 17:34] douglasdavis opened #1703 "`ak.fill_none` fails with typetracer Array"
### Version of Awkward Array

1.10.0rc4

### Description and code to reproduce

[code]
Looks like `fill_none` tries to call `asarray` on the `value` argument (in the code block I'm using `0` as the value), `TypeTracer.asarray(arg)` assumes that `arg` has a `dtype` attribute.

[2022-09-20 16:19] jpivarski opened #1707 "Intersecting parameters introduced "unhashable type" bug."
### Version of Awkward Array

1.10.0

### Description and code to reproduce

PR #1679 added parameter-carrying to broadcasting, but if the parameter values are dicts, rather something hashable, like strings, the implementation fails.

[code]

versus

[code]

It fails in the `functools.reduce` of

https://github.com/scikit-hep/awkward/blob/ca1b9d7835570af8a11fe7af61a7c53d095a80e2/src/awkward/_v2/_b

[2022-09-20 16:22] jpivarski commented on #1707
I've assigned it to you, @agoose77, so that you can take a first look (since you wrote #1679), but I can look at it too, with you, if you want.

[2022-09-20 17:35] agoose77 commented on #1707
An oversight on my part.

Yes, in the case of `set()`,  [`x & y` computes the intersection of `x` and `y`](https://docs.python.org/3/library/stdtypes.html#frozenset.intersection)

[2022-09-21 13:39] agoose77 opened #1709 "`ak.Array` does not copy the behaviour of a wrapped array"
### Version of Awkward Array

1.10.0

### Description and code to reproduce

See title!

[2022-09-21 18:29] jpivarski opened #1710 "Parameters of NumpyArray are lost in ufunc computations (#1679 is incomplete)."
### Version of Awkward Array

HEAD

### Description and code to reproduce

This is part 2 of issue #1707, since PR #1708 fixes part 1.

[code]

As @agoose77 discovered in our Zoom call, it's because

https://github.com/scikit-hep/awkward/blob/ca1b9d7835570af8a11fe7af61a7c53d095a80e2/src/awkward/_v2/_connect/numpy.py#L215

does not pass on parameters. (That is, it's another source of parameter loss

[2022-09-21 18:51] #1707 closed, assigned to agoose77

[2022-09-21 19:01] jpivarski commented on #1710
Nevermind! It's fixed in #1708!

[code]

Sorry that I didn't see that, @agoose77.

[2022-09-21 19:01] #1710 closed, assigned to nobody

[2022-09-21 19:47] agoose77 opened #1713 "Add Manasvi (and any others?) to CITATION.cff / Zenodo"
@jpivarski are you happy with this?

[2022-09-22 16:15] agoose77 opened #1719 "Change `numba_type` objects to match `type` object interface?"
### Version of Awkward Array

main

### Description and code to reproduce

...

[2022-09-22 16:40] jpivarski commented on #1719
Numba type objects have to be distinct from `ak.types.Type` objects. Numba types are subclasses of `nb.Type` and have to be one-to-one with the concrete layouts used in lowered code, which makes them closer to Forms, but there are nagging differences with respect to Forms (no List/ListOffset distinction, no equivalent of Union).

Maybe I'm misreading this, but there can be no unification of Numba

[2022-09-22 16:40] #1719 closed, assigned to nobody

[2022-09-22 17:34] agoose77 commented on #1719
@jpivarski I am literally referring to the `NumbaType.type` vs `ArrayType.content` distinction. It's a superficial issue.

Vector _does_ use this interface during lowering: https://github.com/scikit-hep/vector/blob/8a68c9a7093d3f89291d619fe10e416aacdacd95/src/vector/backends/awkward.py#L1818-L1823

[2022-09-22 17:39] jpivarski commented on #1719
Oh, the fact that children are named "type" in NumbaType and "content" everywhere else in Awkward (and that was an intentional synchronization for Content, Form, Type in v2).

In fact, there's a potential conflict of conventions, since these are also Numba types. Numba tends to call children of lists "`dtype`". But since those aren't NumPy dtypes, we probably shouldn't continue with that conventio

[2022-09-22 17:41] agoose77 commented on #1719
That's fine. I'm just trying to create more work for us, because I'm worried that we're slacking /s ;)

[2022-09-23 08:04] agoose77 opened #1720 "Add `ufunc` overload to limit string operations to `==` and `!=`"
### Version of Awkward Array

main

### Description and code to reproduce

We already overload the `np.equal` and `np.not_equal` ufuncs on strings, but we don't intrinsically prevent other ufuncs from being used. This means that the folllowing suceeds:

[code]

See #1708 for context.

[2022-09-24 12:49] agoose77 commented on #1701
Closed by #1721

[2022-09-24 12:49] #1701 closed, assigned to nobody

[2022-09-24 14:27] agoose77 commented on #1612
Fixed by #1721

[2022-09-24 14:27] #1612 closed, assigned to nobody

[2022-09-24 14:35] agoose77 commented on #1377
@jpivarski in light of the recent work on strings and parameters during broadcasting, has your opinion on this changed? I.e., are you now in favour of treating strings as a mostly fundamental type by making it harder to lose string-ness?

I believe that users are much more likely to want to flatten `10 * var * var * string` to `10 * string` than to `N * uint8`. If users *do* want integers, it's st

[2022-09-24 14:36] agoose77 opened #1724 "`ak.flatten` / `ak.ravel` does not support arrays of strings"
### Version of Awkward Array

main

### Description and code to reproduce

[code]

[2022-09-24 20:20] jpivarski commented on #1377
I guess there are a lot of exceptions for strings this is somewhat like having custom broadcasting for strings. A deeper question is whether we want to maintain the standard that all of the string type's customizations are things that one could do through `ak.behavior`. I think that's not currently the case; the question is whether we want to get back to that state.

So the proposal is for `ak.rav

[2022-09-24 21:04] #1709 closed, assigned to agoose77

[2022-09-24 21:12] #1582 closed, assigned to nobody

[2022-09-24 21:39] agoose77 commented on #1626
I think we're done here!

[2022-09-24 21:39] #1626 closed, assigned to nobody

[2022-09-26 09:21] chernals commented on #1582
The way I read this, this issue contained 2 things: disabling the iteration over records (done now) and fixing the way arrays are built from collections of records while iterating.

I would suggest that we reopen as the second one is not fixed.

[2022-09-26 09:33] agoose77 commented on #1582
@chernals you're correct; this issue did raise two closely related bugs / behavioural problems, and #1725 itself only addressed one of them. However, the building of records during iteration has also been fixed by #1721, which replaced v1 with our v2 submodule. The PR that closed this issue landed _after_ #1721, so it's fixed in main.

There is an argument to be made for backporting this fix (and

[2022-09-26 13:51] jpivarski commented on #1582
This change was sufficient to fix both issues in v2 (this is from `main`/2.0.0rc1):

[code]

The question, then, is whether it should be or can be backported into v1. Our stance is that we're only making essential bug-fixes in v1 now. A change in behavior like this might be considered a bug-fix (though the iteration over field names had once been intentional—it just had unforeseen consequences), b

[2022-09-26 14:11] agoose77 opened #1728 "Building with `pyproject-build` tries to install into root directory"
### Version of Awkward Array

main

### Description and code to reproduce

This is *not* a priority right now, as we long-term have plans to work on the build backend, but this issue should serve as a note:

`python3 -m build --target wheel` fails on my machine, with

<details>

[code]

</details>

Given that this doesn't fail if I disable build isolation, I suspect we're assuming something that t

[2022-09-26 14:13] jpivarski opened #1729 "Add a thin `awkward._v2` → `awkward` alias"
### Description of new feature

For months, early adopters of v2 have been accessing it by

[code]

and now it has been merged into the main module with #1721, so

[code]

References to `awkward._v2` will now break, including those in Uproot, and it can be tricky to try to coordinate releases. Although the non-existence of `awkward._v2` is a good test of being 2.0.0 release-ready, coordinating bre

[2022-09-26 14:16] agoose77 commented on #1729
I was thinking about this myself, and also believe this is a good idea.

[2022-09-26 16:02] agoose77 commented on #1729
Closed by #1730

[2022-09-26 16:02] #1729 closed, assigned to nobody

[2022-09-26 20:59] #1687 closed, assigned to nobody

[2022-09-27 10:30] agoose77 opened #1735 "`ak.from_numpy()` doesn't handle masked arrays"
### Version of Awkward Array

main

### Description and code to reproduce

## V2
[code]

## V1
[code]

[2022-09-27 12:45] agoose77 commented on #1713
Closed by #1717

[2022-09-27 12:45] #1713 closed, assigned to nobody

[2022-09-27 13:58] agoose77 opened #1738 "Refactor form-content overlap"
### Version of Awkward Array

main

### Description and code to reproduce

The `Form` class and `Content` class are highly related. Currently, the `Content` classes effectively use the `Form` class as a mixin, albeit via an indirect lookup:

[code]

The `Form` and `Content` classes look very similar; they share a common set of attributes, in addition to similarly-named attributes that have differe

[2022-09-27 17:07] jpivarski commented on #1738
I'm not so sure about this being an improvement (again, ignoring the performance argument). All of the alternatives to what we have now introduce new classes, whether by composition or containment. Classes draw a lot of attention when a contributor or maintainer is looking at the code, and it might be drowning out attention that should be spent elsewhere. There needs to be a relatively high bar on

[2022-09-27 20:19] agoose77 commented on #1738
I'm not wedded to "pure" OOP (in fact, I find oftentimes class-based implementations are writen without good reason). You've already outlined some of the strategies available for vector, and I'm sure that there are others that we haven't considered yet. I wasn't involved with that design phase, so I won't try and think of any new ones off the top of my head ;) I agree that in vector, this all gets

[2022-09-27 20:31] agoose77 opened #1741 "Rename `ak.nplike` into `ak.nplikes`"
_Originally posted by @jpivarski in https://github.com/scikit-hep/awkward/issues/1732#issuecomment-1259979433_

[2022-09-28 09:27] ianna opened #1742 "CUDA backend broken"
### Version of Awkward Array

'2.0.0rc1'

### Description and code to reproduce

To reproduce:
`python localbuild.py --pytest tests-cuda`

There are 5 failing tests:
[code]

[2022-09-28 09:41] agoose77 commented on #1742
I think my CUDA environment's been subtly broken, thanks for catching this @ianna. I'm reinstalling it now, and then I can take a look.

[2022-09-28 09:42] ianna commented on #1742
@jpivarski - I see that @swishdiff has implemented it for v1, not v2: https://github.com/scikit-hep/awkward/commit/90bc28bf49f8b7700b2217e84f2873722acc5bb6

[2022-09-28 09:43] ianna commented on #1742
we should also check jax tests

[2022-09-28 09:47] ianna commented on #1742
have we deleted `dlpack`?

[2022-09-28 09:49] agoose77 commented on #1742
Yes, we don't need it now that we handle everything in Python / CuPY

[2022-09-28 10:56] agoose77 opened #1745 "Codecov isn't finding the correct `base` with "squash and merge""
### Version of Awkward Array

main

### Description and code to reproduce

I've been noticing recently that Codecov estimates in changed coverage do not correspond to what's actually happening in the PR; namely, PRs that add no tests (e.g. those which add documentation or rename variables) still increase test coverage.

It turns out, Codecov uses the commit history to find the base with uploaded c

[2022-09-28 11:14] chernals commented on #1582
Thanks for confirming that this is all available in v2 RC, I'll have a look.

[2022-09-28 11:20] agoose77 commented on #1377
Coming back to this,

`ak.to_numpy` already produces a flat array with `U` dtype for strings:
[code]

I think we *can* have both!

[2022-09-28 11:33] agoose77 commented on #1582
We don't yet have an RC out for v2. If you've used `pipx` and have `docker` installed, you can clone `main` and run
[code]

Here, `cpXX-manylinux_x86_64` is the wheel tag to build.

[2022-09-28 14:32] ianthomas23 opened #1747 "Regression: reading parquet file leads to ByteMaskedArray length error"
### Version of Awkward Array

1.10.0

### Description and code to reproduce

Using data from http://s3.amazonaws.com/datashader-data/nyc_buildings.parq.zip and the following code
[code]
works fine with awkward 1.9.0 but not 1.10.0 onwards, giving this error:
[code]
Data file was created using `spatialpandas` and `pyarrow` quite a long time ago.

Installed packages:
[code]
If I then
[code]
it works

[2022-09-28 16:26] philippemiron commented on #1729
Thanks for adding this; it will make the transition easier once v2 is officially out!

[2022-09-28 18:42] jpivarski commented on #1747
So far, I've narrowed it down: it's something in the concatenation, the last step of making an array out of a dataset directory of Parquet files. Moreover, you only need a RecordArray of one field, and no symptom if the field is completely projected out.

That is,

[code]

reproduces the error, but in `ak.concatenate` instead of the final stages of `ak.from_parquet`.

[code]

This (making RecordAr

[2022-09-28 19:08] agoose77 commented on #1747
In v2, we added a new implementation for `ByteMaskedArray.mergemany`, which previously was using `toIndexedOptionArray`. I *think* we have some bugs here with respect to length handling, as the following fixes the test case:

[code]

I've not properly thought about this patch, it just looks like we're not properly trimming everything / using the wrong lengths.

[2022-09-28 19:12] jpivarski commented on #1747
We can keep that in mind, but at the end of my long debugging session, I found that the RecordArray

[code]

toggled the error-symptom, and this is doing a slice that shouldn't be changing anything. I guess the next step would be to see what _does_ happen to the layout of `field` when it becomes `trimmed`. Given that `self.length` is equal to `len(field)` in this case, `field` and `trimmed` ought

[2022-09-28 19:22] agoose77 commented on #1747
@jpivarski to start with, yes we currently have a bug:

In `main`, we are not properly handling the case where the `len(mask) != len(contents)`, as we were only trimming the contents, not the masks. You can see that we trigger (a) this bug by manually crafting such a layout:

[code]

[2022-09-28 19:31] agoose77 commented on #1747
I don't think that RecordArray is at fault here. I think it's simply introducing the _valid_ state that `ByteMaskedArray` cannot properly handle (see #1749).

What's happening in the above reproducer is that 1ebf1dbe732b6b634fab95c8406498a59b71695f adds a slice, which leads to the bit masked array becoming a byte masked array, where we now have this buggy code path. You can see this by modifying `

[2022-09-28 19:34] #1741 closed, assigned to nobody

[2022-09-28 19:56] jpivarski commented on #1747
Okay, that makes sense. I didn't think it was in RecordArray, but in slicing. Anyway, it introduced a new state that the merge couldn't handle, I hadn't considered that it might be a valid new state.

[2022-09-28 19:59] agoose77 commented on #1747
To be fair, _most_ of the time with v2, a different state is a bad state. This one just makes for a happy exception :wink:

[2022-09-28 20:00] #1747 closed, assigned to nobody

[2022-09-28 20:41] jpivarski commented on #1745
To be honest, I couldn't figure out what Codecov was doing, though I figured we'd only pay a lot of attention to it when we're working on maximizing coverage. I didn't think we needed it to run in every PR, I would have been happy to run it on demand.

Even without changing anything, Codecov is correctly describing the current absolute level of coverage, right? It's true deltas that are wrong, I e

[2022-09-28 20:54] jpivarski commented on #1377
That would be to say that `ak.ravel` stops at strings and doesn't ravel within them, outputting a ListType array with string parameters (the first of the two choices).

But you're right, `ak.to_numpy` is ready to take it the rest of the way, padding those ListType arrays to make NumPy `dtype="U"`. (For this to be Unicode-aware enough to turn UTF-8 into UTF-32, it must be going through a Python for

[2022-09-28 20:55] #1742 closed, assigned to agoose77, ianna

[2022-09-28 21:06] agoose77 commented on #1745
Yes, right now it's only our deltas that are wrong. If we don't disable squash and merge (which, for all intents and purposes, I prefer as a default), then we need to patch the codecov metadata, or run coverage again. I think we can probably get away with modifying the metadata, provided that we enforce the following rule:
![image](https://user-images.githubusercontent.com/1248413/192888543-4fa265

[2022-09-28 22:01] jpivarski commented on #1745
I've seen that option. It would be super-safe to require branches to be up-to-date before merging, but it would mean a concurrency traffic jam for small-fix PRs, and we tend to have a lot of those. If we have two PRs with auto-merge turned on, when one of them gets merged, the other will now need to update to satisfy the rule. If it doesn't auto-update (which I expect to be the case), then it need

[2022-09-29 06:32] agoose77 commented on #1377
Since 1.8.0, `ak.ravel` just flat-out refuses to operate on strings (which is clearly not what we want):
[code]
This looks like a bug in which we produce the NumPy dtype, and then try to build a `NumpyArray` out of it (which is not correct; we don't handle strings this way).

Meanwhile, `ak.flatten` does behave as you expected:
[code]

I think it _does_ need to be a rule that `axis=-1` means "the

[2022-09-29 10:19] agoose77 opened #1753 "`IndexedArray` looks for kernel with wrong name"
### Version of Awkward Array

main

### Description and code to reproduce

We should be asking for `"awkward_IndexedArray_fill_count"` instead of `"awkward_IndexedArray_fill_to64_count"`.

[2022-09-29 12:20] #1753 closed, assigned to nobody

[2022-09-29 13:52] ianthomas23 commented on #1747
I've confirmed that commit `0c9a2840` fixes my problem that is present in the previous commit `4f9ecd92`

Thanks for fixing this so quickly.

[2022-09-29 14:46] jpivarski opened #1756 "Eliminate compiler/linker warnings"
Now that v1 has been dropped, all of the compiler warnings are v2 warnings and need to be addressed. MacOS (or probably Cling) shows a lot more warnings than Linux (gcc) does, and I am running with a Mac now and therefore see them. I can work through these, cleaning up the C++ code.

[2022-09-29 15:32] agoose77 commented on #1682
@jpivarski suggested adding an `is_string` helper function, which special cases string fast-paths. We can build-out a more general mechanism, which we can then disable down the road.

[2022-09-29 15:48] jpivarski commented on #1682
For name-collisions: there's a function in both Awkward and Uproot's _util called `isstr`, parallel with `isint`, which checks to see if an object is as Python `str`. `isstr` can be retired/removed, since its purpose was to handle Python 2 vs 3 strings, though that means turning a lot of `ak._util.isstr(x)` into `isinstance(x, str)` (and `x` can be complex). Incidentally, we'll still need `isint`

[2022-10-03 16:30] #1745 closed, assigned to nobody

[2022-10-04 19:36] agoose77 opened #1764 "JAX sometimes gives us `None`s and `object`s"
### Version of Awkward Array

main

### Description and code to reproduce

We need to handle these. The JAX docs aren't very clear unfortunately :/ As per usual, I only discovered this after writing the new Jax docs (after merging #1763)

[2022-10-04 20:04] jpivarski opened #1765 "v2 implementation of `to_arraylib` is missing cases from the original v1 `to_numpy`"
### Version of Awkward Array

HEAD

### Description and code to reproduce

Lost in translation (and evidence that we need more tests).

v2 `to_arraylib`:

https://github.com/scikit-hep/awkward/blob/3401e2bf53b2c53b877c9d29a5eb0b36e7e01582/src/awkward/_util.py#L753-L806

v1 `to_numpy`:

https://github.com/scikit-hep/awkward/blob/f2092ee90e78c9ce00c54b3f5d9612bd218336ee/src/awkward/operations/conver

[2022-10-04 21:52] agoose77 opened #1766 "`Form` is not guaranteed to preserve record field ordering under serialisation"
### Version of Awkward Array

main

### Description and code to reproduce
JSON does not define the object key ordering. We should modify the form for `RecordArray` to make it preserve the order, by defining a new `"recordlookup"` or `"fields"` field that stores the ordered field names. When this field is found, the `"contents"` field should be a JSON array, rather than an object.

[2022-10-04 21:53] agoose77 opened #1767 "Pickling of `Array`s should use `Form`'s dict representation"
### Version of Awkward Array

main

### Description and code to reproduce

...

[2022-10-04 22:15] #1767 closed, assigned to nobody

[2022-10-05 19:20] douglasdavis opened #1771 "`awkward._v2` imports broken with subpackages"
### Version of Awkward Array

2.0.0rc1

### Description and code to reproduce

In dask-awkward we have some imports that break after installing from the `main` branch (but _not_ removing the `_v2` imports). For example: https://github.com/ContinuumIO/dask-awkward/blob/7a0cceeade6aa8f64f5f3c29fb59c75a807230f7/src/dask_awkward/lib/io/io.py#L9
This is because `awkward._v2.types` used to be package an

[2022-10-05 19:50] agoose77 commented on #1771
This is a known "bug", and it seems like it is the least-worst option of the solutions to implementing a v2 shim. It doesn't seem like there is a way to import the same package under different names in `sys.modules`, without Python creating a new module object. We could pre-populate `sys.modules` with pre-generated aliases, but then if we miss something, an erroneous import would give the user new

[2022-10-05 20:16] #1764 closed, assigned to agoose77

[2022-10-05 20:39] jpivarski commented on #1771
The code change of

[code]

to

[code]

is an easy one. What's hard is coordinating versions of packages, particularly in a CI matrix, in which each one might get a different version from PyPI.

But if the shim isn't working or only partially works, then that's even worse, since downstream users have to adapt anyway, and it's not the simple adaptation described above.

Okay, so I'm thinking that y

[2022-10-05 21:18] agoose77 opened #1772 "Add Jacobian support to JAX"
### Description of new feature

Although we aren't planning on further work here for a while, unless we find an easy path to do this, this issue tracks the problem of supporting JAX's Jacobian computation.

A few things to consider:

- JAX passes objects in addition to buffers to unflatten. We need to be able to pass these back to JAX, I believe. Doing this would probably require either a paramete

[2022-10-05 21:29] douglasdavis commented on #1771
@agoose77 thanks for the explanation of the imports issue. And wearing my early adopter hat (and having easily transitioned to _removing_ `._v2` usage) I don't feel strongly either way about the eventual conclusion on having or not having the v2 shim.

[2022-10-05 22:05] alexander-held commented on #1771
I've been using
[code]
so far, with the intention of monitoring the developments to see whether I would need to update this. I also do not feel strongly either way, this was easy to adopt.

I imagine the most challenging setup for projects depending on `awkward` is a potential conflict due to other dependencies that may put an upper bound on `awkward` due to a delayed adoption. Such a project woul

[2022-10-06 02:00] martindurant commented on #1771
There is a simple fix: make "_v2" a symbolic file link back to the root directory. The only downside is that you would have an `akwards._v2._v2._v2...`, but that's fine.

[2022-10-06 07:36] agoose77 commented on #1771
I'm not sure that will work :thinking:; wheels don't support symlinks. We could create a v2 symlink at runtime (only on unix), but that's fairly unappealing. Furthermore, if we could establish the link by other means, we would then end up with two separate instances of Awkward in the same Python interpreter which I'm not sure about. On the one hand, that's what we had with v1/v2, but on the other,

[2022-10-06 16:25] agoose77 commented on #1414
I think we can close this: `Record` is no longer iterable.

[2022-10-06 16:26] #1414 closed, assigned to nobody

[2022-10-06 16:29] agoose77 commented on #1057
@jpivarski do you want to ban this at the `to_layout` level, or just the array constructor? I imagine both, as we don't want `from_numpy` to succeed either.

[2022-10-06 18:22] #1766 closed, assigned to nobody

[2022-10-06 18:37] jpivarski commented on #1057
Yeah, it should be banned at the `to_layout` level. Nothing in the layouts can accept zero-dimensional arrays.

`to_layout` with an `allow_other=True` argument allows for non-array types, and most often, the intention is to get numbers this way. In NumPy and especially NumPy-API-like libraries, it's easy to get a zero-dimensional array when you really wanted a scalar: `np.array(3.14)` instead of `

[2022-10-06 19:07] #1703 closed, assigned to agoose77

[2022-10-10 10:31] agoose77 commented on #503
~@jpivarski can this be closed, now?~

I re-read the comments, and I think there is still merit to this, actually. The assumption underpinning this is that most work on Awkward isn't touching the compiled portions any more. To summarise where we're at now:

## Resources
With the v2 split, we lose the first-order concerns about file-size (our builds are now ~3MB w/ duplication). However, deleting t

[2022-10-10 15:26] jpivarski commented on #503
Unless we count complexity as a negative, the value of splitting `libawkward` (the C++ part) out of `awkward` (the Python part) as two PyPI (and conda-forge?) packages has always been positive. The question is whether the positive is significant enough to prioritize right now.

  * Compilation time and CI time: used to be a bigger deal than it is now, though being able to test the Python parts wit

[2022-10-10 15:51] #1735 closed, assigned to nobody

[2022-10-10 16:32] agoose77 commented on #503
I prefer `hatchling`, I just talk about `flit_core` sometimes (I'm really referring to new PEP 621 builders).

Yes, I was looking to tackle that at the same time. I took a look earlier, and the Win wheels don't have the same number of objects outside of the `awkward` subdirectory. I noticed that, at least on my machine for `python3 setup.py bdist_wheel`, the `get_outputs()` method isn't called, al

[2022-10-10 19:28] agoose77 commented on #1772
@jakevdp we already had this issue open, so I'm going to use this as our tracker for the follow up of our meeting today!

[2022-10-11 00:33] jpivarski commented on #503
Looking at the data, expecting to make the point that we don't touch C++ all that much anymore:

![awkward-file-type-changed](https://user-images.githubusercontent.com/1852447/194971541-dcfb78e9-7b6b-4734-ba29-b287e7a28a8a.png)

It's true that 2019‒2020 saw a lot of C++ and kernel changes (v1 development) and 2021‒2022 saw a lot of Python and test file changes (v2 development). Your final removal

[2022-10-11 09:02] agoose77 commented on #503
Over in #1778 I took a look at what this split might look like. It's actually fairly straightforward.

@jpivarski that's a fun graph. I enjoy the exponential-like decay of the C++ activity (if you squint hard enough to ignore the flurry of activity before v1→v2).

[2022-10-12 15:14] ianna commented on #503
@jpivarski - nice! BTW, we do have some C++ code as strings embedded in Python ;-)

[2022-10-12 15:40] jpivarski commented on #503
That's okay. Those code strings embedded in Python are, by definition, only usable by Python with a C++ JIT available, so it's a different sort of thing than the C++ that we want to isolate in `awkward-core`. Actually, those embedded Python strings are implementation details. The reason for isolating C++ in `awkward-core` and Python in `awkward`, as much as is possible, is to make the project easi

[2022-10-12 22:19] yimuchen opened #1784 "Segmentation fault with nested pair-wise comparison"
### Version of Awkward Array

1.9.0 and 1.10.0

### Description and code to reproduce

Used as part of coffea package:

[code]

The above segmentation faults at different point for different input files. Usually around the `ak.cartesian` calls, but also when adding variables to the array. Segmentation fault was observed for both awkward 1.9.0 and awkward 1.10.0, but never occurred for awkward 1.8.

[2022-10-13 07:03] agoose77 commented on #1784
Hi @yimuchen, could you provide a copy of the file to test against? I don't have auth to read from the given XRootD server.

You can create a file `events.pickle.txt` with:
[code]

[2022-10-13 09:27] yimuchen commented on #1784
Of course, here is a 100-event file that crashes similarly. This `ak.to_buffers` call was performed using awkward 1.8.0

[events_awkward1.9.0_issue.pickle.txt](https://github.com/scikit-hep/awkward/files/9775067/events_awkward1.9.0_issue.pickle.txt)

[2022-10-13 11:20] agoose77 commented on #1784
This is definitely a bug, and it's being triggered by [one of our kernels](https://github.com/scikit-hep/awkward/blob/b315e6519eb78c8083e088e3ca065cfdb3af5d31/src/cpu-kernels/awkward_ListOffsetArray_reduce_nonlocal_outstartsstops_64.cpp#L33), where we're writing to an out-of-bounds value during the computation of
[code]
I think the kernel is behaving properly (although `k` is computed to be `>= ou

[2022-10-14 21:25] agoose77 commented on #1784
My approach to fixing this is currently "write a load of documentation comments on the reduction logic until I understand what is going wrong". This is not a particularly fast process; if e.g. @ianna can easily spot the root-cause then feel free to open a PR whilst I take my time ;)

[2022-10-15 09:14] agoose77 opened #1789 "`ak.sum([])` raises `IndexError`"
### Version of Awkward Array

main

### Description and code to reproduce

This is the flattening code-path. `EmptyArray` has no length, so we must be assuming otherwise here.

[2022-10-15 13:15] agoose77 commented on #1784
This reproducer, which I obtained by slicing over the example file, seems also to produce a crash.
[code]

Some quick variable definitions:
- `gaps`: tracks the integer difference between successive `parents` values. `1` if each distinct parent is the successive integer of the previous distinct parent. `>1` otherwise. Length of `outlength`, because there can be at most `outlength` distinct parent

[2022-10-15 20:36] agoose77 opened #1790 "Unable to reduce regular dimension in mixed layout"
### Version of Awkward Array

main

### Description and code to reproduce

Whilst playing around with reducers / transformers, I noticed that we currently can't reduce a ragged dimension over a regular dimension, if the ragged dimension is nested in the layout:

[code]

This is not a new bug; it affects v1 too.

[2022-10-15 21:03] agoose77 commented on #1790
I would assume that we want to produce the identity for the empty (final) sublist, i.e. `N * var * 3` reduces at `axis=1` to `N * 3`. Meanwhile, `N * var * var` should reduce at `axis=1` to `N * var`, meaning that we don't need the identity for the empty sublist, it just remains empty.

Now, if the empty sublist is in the _middle_ of the array, then the final `parents` that are given to the `reduc

[2022-10-15 22:27] agoose77 opened #1791 "Reduction of inner dimension in ragged array produces incorrect offsets"
### Version of Awkward Array

main

### Description and code to reproduce

This *might* not be a bug, depending upon what we define the behavior of `ListArray` to be w.r.t `starts[i] == stops[i]`. The following reproducer produces a result layout with `starts[1] == stops[1] == 3`. The leaf `NumpyArray` has a length of 1, so unless we define out-of-bounds starts to be valid iff. they are equal to s

[2022-10-15 22:42] agoose77 commented on #1791
In this instance, it looks like the issue lies in the
[code]
portion of  `awkward_ListOffsetArray_reduce_nonlocal_outstartsstops_64`. My initial understanding is that this except is responsible for padding trailing empty-lists.

[2022-10-15 23:08] agoose77 commented on #1791
OK, I *think* we want to set `outstarts[k] = maxdistinct + 1` instead of `lendistincts + 1` - `lendistincts = outlength * maxcount[0]` whereas `maxdistinct` gives the index of the final column.

[2022-10-16 12:39] agoose77 opened #1794 "`ak.run_lengths` does not handle leading/trailing empty sublists"
### Version of Awkward Array

main

### Description and code to reproduce

This also exists in v1.

The following code raises an `Exception`:
[code]

Also, we should use `regularize_numpyarray` to handle `NumpyArray`, which currently just raises an Exception.

[2022-10-17 09:20] ianna commented on #1784
Here is where it fails:
[code]

[2022-10-17 09:26] agoose77 commented on #1784
@ianna that looks like the same result I'm observing; can you confirm whether the value of `numgappy` looks like uninitialised memory?

[2022-10-17 09:31] ianna commented on #1784
[code]

[2022-10-17 12:06] agoose77 commented on #1784
My current line of thinking is that I find it surprising to be indexing into `gaps` with an integer whose value depends upon the number of distinct values in `nextparents`. `nextparents` is used by the reduction of the child; the reduction result is wrapped according to `parents` & `gaps` is computed for `parents`. I might be barking up the wrong tree here, but it feels like this might be using th

[2022-10-17 14:28] agoose77 commented on #1784
OK, I think I got this working:
[code]

This logic fails one test that might be a trivial fix, and it's determined from first-principles. I can look at how to reduce e.g. the number of floor divisions by using something like gaps.

The fix for our existing kernel is just the guard `if distincts[i] != -1`. However, our kernel is using `gaps` *and* performing a floor division. We can get rid of gaps

[2022-10-17 14:43] ianna commented on #1784
@agoose77 - it does not crash in `v2`. Though, `v2` in `1.10.0rc1` produces:
[code]
while in `2.0.0rc1` the result is:
[code]

[2022-10-17 15:10] agoose77 commented on #1784
Thanks @ianna, that's interesting :thinking:. Let's see if #1796 fixes v2, too (it had better! :pray:)

[2022-10-17 17:42] jpivarski commented on #1658
@ianna, there may be a use-case for this feature, which bumps it up in priority and would give us an example problem to use as a test: https://numba.discourse.group/t/tuple-of-cupy-arrays-numba-cuda/1589/13

[2022-10-17 20:19] jpivarski opened #1799 "Requests from review of #1776 (merging docs into main)."
### Which documentation?

Tutorials site

### What needs to be documented?

This is a follow-up of https://github.com/scikit-hep/awkward/pull/1776#pullrequestreview-1144743439, which is an approval of merging the `docs` branch into `main` as-is, but with some to-do items to be picked up later. This issue copies those into a bulleted list.

  - [ ] Vertical margin around the badges/buttons on the f

[2022-10-17 20:30] agoose77 commented on #1799
Yes, I'd like to improve the buttons. Ideally, I'd prefer to use something like the `sphinx-design` buttons, but they don't support the dynamicism that the shields.io badges do. We can just add a CSS margin to the icon class.

[2022-10-17 21:00] agoose77 commented on #1799
~The kernel specification _is_ being generated, at least locally. I'm not sure why it's not appearing in the built docs~

Ah, it's the change I made to use `runpy`. I'll fix this in the PR that closes this issue.

[2022-10-17 22:54] #1784 closed, assigned to nobody

[2022-10-17 22:54] #1791 closed, assigned to nobody

[2022-10-17 22:56] jpivarski opened #1802 "Write output files into a temporary directory during tests."
See https://github.com/scikit-hep/awkward/commit/b315e6519eb78c8083e088e3ca065cfdb3af5d31#r87085384, quoted below. It's a follow-up on #1781.

These (lines [30](https://github.com/scikit-hep/awkward/blob/580f3fad01327a6b1d8c2e1edbaf324f35fb7796/tests/test_1781-rdataframe-snapshot.py#L30) and [47](https://github.com/scikit-hep/awkward/blob/580f3fad01327a6b1d8c2e1edbaf324f35fb7796/tests/test_1781-rd

[2022-10-18 11:25] ianna commented on #1802
fixed in https://github.com/scikit-hep/awkward/pull/1804

[2022-10-18 12:47] HDembinski opened #1806 "ak.zip fails for arrays with mixed leave type"
### Version of Awkward Array

1.10.1

### Description and code to reproduce

I tried to run `ak.zip` on Arrays of Jagged type, where some have the leaf type float32, and some have leaf type int32. This produces an error:
[code]

[2022-10-18 12:56] HDembinski commented on #1806
Nevermind, this was my fault, no bug.

[2022-10-18 12:56] #1806 closed, assigned to nobody

[2022-10-18 14:56] HDembinski opened #1807 "ak.Array wrongly deduces input type"
### Version of Awkward Array

1.10.1

### Description and code to reproduce

[code]
As you can see, in the varlength context, Array deduces int64 although the underlying type is int32. It is important that Array deduces the exact type, since the array in 64 bit wastes memory and CPU cycles.

This is also important when these arrays are written to ROOT files. Using types that are too large wastes d

[2022-10-18 15:18] agoose77 commented on #1807
If you pass in a Python iterable, Awkward invokes `ArrayBuilder` under the hood (via `ak.from_iter`) as it is ultimately looping in Python to build the result. I don't believe we expose an array fast-path in ArrayBuilder; I haven't looked at this in depth, but I think if this were trivial to do, we'd already have done it. Our `ArrayBuilder` mechanism supports things like unions, so it's slightly c

[2022-10-18 15:18] HDembinski commented on #1807
I need a varlength array, aka JaggedArray, so from_numpy() wouldn't work for me.

[2022-10-18 15:21] agoose77 commented on #1807
In that case, you can use `from_regular`, e.g.
[code]

Most of the high-level Awkward functions call `ak.to_layout` under the hood, which knows how to adopt various array types. So, in this case, I've dropped the `from_numpy()` which usually isn't necessary.

[2022-10-18 15:24] ianna commented on #1807
`ArrayBuilder` has only `Int64Builder`. We could extend the API to support `int32`.

[2022-10-18 15:24] HDembinski commented on #1807
This command works for the minimal example, but I don't know how to apply this to my actual case.
[code]
I have a list of numpy arrays. I want to turn them into Awkward (JaggedArray) types.

[2022-10-18 15:25] HDembinski commented on #1807
Yes, please support all integer and float types in ArrayBuilder that numpy supports.

[2022-10-18 15:31] ianna commented on #1807
I think, there is a more type friendly option to use a `LayoutBuilder`, but it currently lacks pythonization:
[code]

[2022-10-18 15:31] agoose77 commented on #1807
In this case, using `ArrayBuilder` e.g. via `ak.Array(arrays)` is going to involve iterating over the elements of each array. It would be faster to do something like:
[code]
this will involve fewer allocations AFAICR.

[2022-10-18 15:33] HDembinski commented on #1807
Ah, yes, that's also a good workaround for the meantime for me.

[2022-10-18 15:38] agoose77 commented on #1807
I'm not sure that I'd call this a workaround. `ak.ArrayBuilder` needs to be able to handle all kinds of user input; even if we added support for all of the NumPy primitive types, `ArrayBuilder` still performs multiple copies of intermediate buffers (it allocates in panels) and has to visit all of the array elements. So, I may be corrected here, but I think it's fairly certain that this will remain

[2022-10-18 15:54] HDembinski commented on #1807
It is a workaround for me, because it is not an intuitive API. It is also not documented.

[2022-10-18 15:55] HDembinski commented on #1807
At least fix the initial issue that I reported, because that behavior is harmful in any case.

[2022-10-18 15:57] HDembinski commented on #1807
When designing APIs, one needs to think about all ways in which this API can be used and then handle all those cases. Not only a few.

[2022-10-18 16:07] HDembinski commented on #1807
I don't know how ArrayBuilder works internally, but I suppose ArrayBuilder can figure out how to handle this special case more efficiently. The question is only whether you have enough information at the call-site, but I think you do.

[2022-10-18 17:51] jpivarski opened #1808 "URL mapping in new docs"
### Which documentation?

Tutorials site

### What needs to be documented?

https://github.com/scikit-hep/uproot5/issues/760 points out a dead link in the Uproot docs:

https://awkward-array.readthedocs.io/en/latest/ak.types.Type.html

That's an indication that this link used to work and it has probably been shared beyond just the Uproot docs. It doesn't have the `_auto` in the URL because it was

[2022-10-18 18:43] agoose77 commented on #1808
Ah, we do have redirects, but it seems like we lost a directory component somehow. Should be a quick fix!

[2022-10-18 20:04] jpivarski commented on #1807
What's happening here is that we have several specialized functions for loading arrays in different ways (all of which are documented in docstrings/API reference; the hard part is leading users to the appropriate page).

The ak.Array (and ak.Record) constructor dispatches to these specialized functions by argument type, as a convenience. The mapping from types to method of construction is given in

[2022-10-18 20:54] #1802 closed, assigned to ianna

[2022-10-19 20:59] HDembinski commented on #1807
Thank you for the long write-up, but it does not matter to me how you implement it, we are talking about API design. You can change your implementation so that it matches user expectations.

My user expectation is that these two commands
[code]
both give me int32. Using a larger int than the input is wasting resources.

If you cannot provide this because it would be an unreasonable effort (althoug

[2022-10-19 21:35] agoose77 commented on #1807
All APIs are ultimately a compromise between multiple different constraints. Everyone has different expectations about how these constraints should be satisfied, and they apply different weightings according to their own needs and interests. As you note, you have expectations, but that does not mean that all users share those expectations. It's our job to find a suitable solution that doesn't comp

[2022-10-19 23:31] jpivarski commented on #1807
I had intended this:

as a statement of the desired interface. I know I expressed it as "if X, `from_numpy` is called; if Y, `from_iter` is called," but I didn't mean that as a statement of implementation; I meant that as "if X, the resulting array is formed as though `from_numpy` were called; if Y, the resulting array is formed as though `from_iter` were called." I'm defining the interface to the

[2022-10-20 00:43] #1794 closed, assigned to nobody

[2022-10-20 16:32] agoose77 opened #1817 "Building the WASM wheel ignores `ccache`"
### Version of Awkward Array

main

### Description and code to reproduce

Currently the WASM build is quite slow, because no caching takes place.

[2022-10-20 16:33] agoose77 commented on #1817
@henryiii is this something you have any capacity to take a look at? I would like to resolve this, but I think a second pair of eyes might be helpful.